  <div class="idea-aside-box-wrapper">
    <div class="profile-wrapper-title">
      <h4><i class="<%= css_class %>"></i> <%= box_title %></h4>
      <span class="count"><%= count %></span>
      <% if count > 6 %>
        <%= react_component('ShowAllLink', {path: path}) %>
      <% end %>
    </div>
    <ul class="stories-list">
      <% listings.each do |member| %>
        <li>
          <%= image_tag(member.avatar.url(:avatar), width: "97px") %>
          <div class="hover-box">
            <%= content_tag(:h3)  do %>
              <%= link_to(member.name, "javascript:void(0);", :"data-popover-href" => "#{profile_card_path(member)}", class: 'load-card') %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>