<div class="activity-box panel panel-default post_<%= activity.id %>">
	<div class="activity-item">
		<%= content_tag(:div, class: 'activity-header') do %>
		<div class="user-avatar margin-right">
			<%= image_tag(activity.owner.avatar.url(:avatar),  width: "40px;") %>
		</div>
		<%= content_tag(:span) do %>
			<%= link_to(your_name(activity.owner, false), "javascript:void(0);", :"data-popover-href" => "#{profile_card_path(activity.owner)}", class: 'load-card') %> pitched <i class="fa ion-lightbulb"></i> <%= link_to(activity.trackable.name, "javascript:void(0);", :"data-popover-href" => "#{card_idea_path(activity.trackable)}", class: 'load-card') %> - <span class="high_concept_pitch"><%= activity.trackable.high_concept_pitch %></span>
			<% end %>
			<%= content_tag(:ul, class: "item-tags clearfix grey-links") do %>
				<%= content_tag(:li) do %>
					<%= link_to(profile_path(activity.trackable.location_list.first.parameterize)) do %>
						<i class="ion-location green-link"></i> <%= activity.trackable.location_list.first %>
					<% end %>
				<% end %>
				<%= content_tag(:li) do %>
					<%= link_to(profile_path(activity.trackable.market_list.first.parameterize)) do %>
						<i class="fa fa-shopping-cart red-link"></i> <%= activity.trackable.market_list.first %>
					<% end %>
				<% end %>
				<%= content_tag(:li) do %>
					<%= link_to(idea_path(activity.trackable)) do %>
						<%= local_time_ago(activity.created_at) %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<div class="activity-post">
		<div class="item-content">
			<div class="main-post-content">
				<div class="recipients clearfix">
					<div class="activity-excerpt">
					  	<div class="activity-excerpt-image float-left margin-right">
						  	<%= link_to(idea_path(activity.trackable), class: "recipient-link") do %>
						  		<%= image_tag(activity.trackable.logo.url(:avatar), width: "50px", class: "recipient-image") %>
						  	<% end %>
					      </div>

						<div class="activity-excerpt-content">
							 <% if activity.trackable.description.length > 450 %>
							    <%= truncate(markdownify(activity.trackable.description), escape: false, length: 450) %>
							    <%= link_to 'See more', '', class: "read-more-link read-more-#{activity.trackable.id}" %>
							    <script type="text/javascript">
							      $('.read-more-<%= activity.trackable.id %>').on('click', function(e) {
							        e.preventDefault()
							        $(this).closest(".activity-excerpt").find(".activity-excerpt-content").html('<%= escape_javascript markdownify(activity.trackable.description) %>')
							      })
							    </script>
							  <% else %>
							    <%= markdownify(activity.trackable.description) %>
							  <% end %>
						</div>
					</div>
				</div>
		<ul class="item-tags">
			<% if activity.owner_id != current_user.id %>
				<% liked = current_user.voted_for? activity.trackable %>
				<%= react_component('Upvote', {record: activity.trackable_id, voted: liked, vote_url: like_path(votable_type: activity.trackable_type, votable_id: activity.trackable_id), votes_count: activity.trackable.cached_votes_total, likers_path: likers_path(votable_type: activity.trackable_type, votable_id: activity.trackable_id), css_class: 'vote-button add_vote'}.to_json) %>
				<span class="bar"></span>
				<% shared = current_user.shared? activity.trackable %>
				<% form = render(template: 'globals/form.json.jbuilder') %>
				<%= react_component('Share', {record: activity.trackable_id, shareable_name: activity.trackable.name, form: form, shared: shared, share_url: shares_path(shareable_type: activity.trackable_type, shareable_id: activity.trackable_id), shares_count: activity.trackable.shares_count, sharers_path: sharers_path(shareable_type: activity.trackable_type, shareable_id: activity.trackable_id), css_class: 'vote-button add_vote'}.to_json) %>
			<% end %>
		</ul>
			</div>
		</div>
	</div>
</div>

	<% commentable = activity.trackable %>

	<% data = render(template: 'comments/comments.json.jbuilder', locals: {comments: [], record: commentable, paginate: false} )%>

	<%= react_component('CommentBox', {data: data, count: activity.trackable.comments_count, comments_path: comments_path(commentable_type: activity.trackable_type, id: activity.trackable_id)}) %>
</div>
