<div id="content">
<!-- profile header -->
<div class="university-box">
	<% cache ['cover', @institution] do %>
		<%= render partial: 'cover' %>
	<% end %>
<div class="container">
	<% cache ['institution_header', @institution] do %>
		<%= render partial: 'institutions/partials/institution_data' %>
		<%= render partial: 'institutions/partials/follow_list' %>
	<% end %>
</div>
</div>
<!-- end profile header -->
<!-- profile menu -->
<% cache ['institution_menu', @institution] do %>
	<%= render partial: 'institutions/partials/menu' %>
<% end %>
<!-- end profile menu -->

<!-- Content ================================================== -->

<div id="content" class="container">
<div class="row">
	<div class="col-md-4">
		<% cache ['sidebar', @institution] do %>
			<%= render partial: 'institutions/_sidebar/about_institution' %>
		<% end %>
	</div>

	<div class="col-md-8">
		<div class="activity-feed animated fadeIn">
	
		</div>
	</div>
</div>

<!-- End content -->
</div>