<div class="container">
    <div class="new-conversation-box col-md-12 panel panel-default">
      <div class="conversation-box-header clearfix">
         <ul class="mailbox-nav margin-top">
          <li class="mailbox">
            <a href="/conversations"><i class="ion-chevron-left margin-right"></i>All conversations</a>
          </li>
        </ul>
        <%= link_to("Home", root_path, :class => "btn btn-primary float-right") %>
      </div>
      <div class="form-box">
        <div class="new-conversation-form-header">
          <h1>Send Message</h1>
        </div>
        <div class="new-conversation-form">
          <%= form_tag messages_path, :method => :post do %>
            <div class="form-group">
              <%= label_tag 'message[subject]', 'Subject' %>
              <%= text_field_tag 'message[subject]', nil, :required => true, :placeholder => "Type Subject..." %>
            </div>

            <div class="form-group">
              <%= label_tag 'message[body]', 'Message' %>
              <%= text_area_tag 'message[body]', nil, :cols => 3, :required => true, :placeholder => "Type Message..." %>
            </div>

            <div class="form-group">
              <%= label_tag 'recipients', 'Choose recipients' %>
              <%= select_tag 'recipients', recipients_options, :width => '50%', :multiple => true, :class => 'form-control chosen-select', :"data-placeholder" => "Select recipients" %>
            </div>

            <%= button_tag 'Send', class: 'btn btn-primary' %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
