<div class="ideas-box panel panel-default">
  <div class="profile-wrapper-title">
    <h4><i class="ion-lightbulb red-link"></i> Ideas</h4>
  </div>
  <div class="ideas project-columns">
      <% @ideas.each do |idea| %>
      <div class="idea">
        <div class="idea-logo">
          <%= image_tag(idea.logo.url(:avatar), width: "50px") %>
        </div>
        <div class="idea-descript">
           <%= content_tag(:h1) do %>
              <%= link_to(idea_path(idea)) do %>
                <%= idea.name %>
              <% end %>
            <% end %>
          <p class="idea-description"><%= idea.elevator_pitch %> </p>
          <ul class="item-tags clearfix grey-links">
            <li><a><i class="icon-clock3"></i> Posted <%= time_ago_in_words(idea.created_at) %> ago
            </a></li>
          <li><a><i class="fa fa-users"></i> <%= idea.followings.size %> Followers</a></li>
        </ul>
      </div>
      </div>
    <% end %>
</div>
</div>