<div class="write-story-box">
	<%= simple_form_for(@meta, html: {class: "write-story active", id: "publish-your-meta"}) do |f| %>
<div>
	<div class="row">
		<div class="col-md-8">
			<div class="write-story-cont">
			<div class="meta-basics">
			<div class="col-md-6">
				<div class="form-control-wrapper">
					<label>Name (<i>You can change it later</i>)</label>
					<%= f.input_field :name, label: false, placeholder: "Idea name",class: "form-control empty" %>
				</div>
				<div class="form-control-wrapper">
				<div class="checkbox">
                    <label>
                        Looking for a team &nbsp;<input type="checkbox" name="meta[looking_for_team]"><span class="check"></span>
                    </label>

                </div>
                </div>
				 <br/>
				<div  class="form-control-wrapper clearfix">
					<label>Choose market/sector</label>
					<%= f.input_field :market_list, label: false, :placeholder => "Add market", :class => "form-control empty market_list tokenize-typehead", :autofocus => true %>
				</div>

				<div  class="form-control-wrapper clearfix">
					<label>Choose location</label>
					<%= f.input_field :location_list, label: false, :placeholder => "Add location", :class => "form-control empty location_list single-tag", :autofocus => true %>
				</div>
				</div>
				<div class="col-md-6">
					<div  class="form-control-wrapper">
						<label>High concept pitch (<i>in a few words</i>) </label>
						<%= f.input_field :high_concept_pitch, label: false, class: "form-control empty", placeholder: "ex: Facebook for business" %>
					</div>
					<br/>
					<div  class="form-control-wrapper">
						<label>Tell us in detail about your meta (140 characters)</label>
						<%= f.input_field :elevator_pitch, label: false, class: "form-control empty", placeholder: "ex: A social network for everyone, everywhere to connect and share content." %>
					</div>
				</div>
				</div>
				<div class="form-buttons margin-top">
				<%= f.button :button, 'Continue', class: "main-button continue float-right" %>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="side-box">
				<h1>Let's Start With The Easy Stuff</h1>
				<p>Fill in some basic information about your company. Please keep it short and sweet.</p>
				<p><a href="#">Get more tips</a> on making an awesome company profile</p>
			</div>
		</div>
	</div>
</div>

<% end %>
</div>
