<!-- Content
		================================================== -->
<div id="content">
  <!-- profile header -->
  <div class="idea-header">
    <%= render partial: "meta/_partials/meta_header", locals: {meta: @meta} %>
    <%= render partial: "meta/_partials/edit_meta_form", locals: {meta: @meta} %>
  </div>
  <!-- end profile header -->
  <!-- meta menu -->
  <%= render partial: "meta/_partials/meta_menu", locals: {meta: @meta} %>
  <!-- end meta menu -->
  <div class="container project-page">
    <div class="row">
      <%= render partial: "meta/sidebar/sidebar", locals: {meta: @meta} %>
      <div class="col-md-8 project-content">
        <div class="comments-feed animated fadeIn">
      	   <%= render partial: "meta/_sub_pages/comments" %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End content -->
</div>