<div class="widget-16 panel box-shadow no-border no-margin">
    <div class="panel-heading bg-light-blue-lightest m-b-20">
        <div class="panel-title b-b b-grey p-b-5">
          <i class="fa fa-shield text-danger"></i> Latest badges
        </div>
        <a class="know-more" data-toggle="modal" data-target="#badgesHelpModal">
          <i class="fa fa-question-circle pull-right fs-22"></i>
        </a>
    </div>

    <div class="panel-body">
        <div class="user-badges">
        <% if @idea.badges.length > 0 %>
            <%  @badges.each do |id, badge| %>
                <div class="m-t-10">
                    <% badge.take(6).each do |b| %>
                        <p class="m-b-10 inline">
                        <%= link_to(badge_path(b.name), class: "badge text-white font-helvetica", data: { toggle: "tooltip", container: "body"}, title: "#{b.description}") do %>
                            <span class="badge-type <%= id %>"></span><%= b.custom_fields[:name] %>
                        <% end %>
                        </p>
                    <% end %>
                </div>
            <% end %>
            <% if @idea.badges.length > 5 %>

                <div class="thumbnail-wrapper d32 circular b-white">
                    <div class="bg-master text-center text-white">
                        <span>+<%= @idea.badges.length - 5 %></span>
                    </div>
                </div>
            <% end %>
        <% else %>
        <div class="no-content hint-text"> No Badges received</div>

        <% end %>
        </div>
    </div>
</div>

<div class="modal fade slide-right" id="badgesHelpModal" tabIndex="-1" role="dialog" aria-labelledby="newIdeaHelpModalLabel" aria-hidden="true">
 <div class="modal-dialog full-height">
 <div class="modal-content-wrapper">
     <div class="modal-content table-block scrollable">
         <button type="button" class="close m-t-10 m-r-10" data-dismiss="modal" aria-hidden="true">
             <i class="pg-close"></i>
         </button>
         <div class="modal-header">
             <h5 class="text-left p-b-5"><span class="semi-bold">Idea </span> Glossary</h5>
         </div>
         <div class="modal-body" id="badges_help_modal">
             <div class="row">
                 <div class="col-md-12">
                   <div>
                     <h3 class="m-t-30">1. Idea Name.</h3>
                     <p>An idea receive a badge after specific milestones. Here are a list of idea badges that an idea can earn: </p>
                   </div>
                      <div class="table-content">
                          <p>
                              We use markdown for text formatting. Please use the syntax on the right to style/format your text.
                              You can find more information here <a href="http://daringfireball.net/projects/markdown/syntax">http://daringfireball.net/projects/markdown/syntax</a>
                          </p>
                      </div>
                      <table class="table table-bordered modal-markdown-help-table">
                          <thead>
                              <tr>
                                  <th>Badge</th>
                                  <th>Description</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% Merit::Badge.select {|badge| badge.type ==  "idea"}.each do |badge| %>
                              <tr>
                                  <td>
                                  <p class="m-b-10 inline">
                                    <%= link_to(badge_path(badge.name), class: "badge text-white font-helvetica") do %>
                                        <span class="badge-type <%= badge.level %>"></span><%= badge.custom_fields[:name] %>
                                    <% end %>
                                    </p>
                                </td>
                                  <td><%= badge.custom_fields[:description]%> </td>
                              </tr>
                            <% end %>
                          </tbody>
                      </table>
                  </div>
             </div>
         </div>
     </div>
 </div>
 </div>
 </div>