<tr class="full-border-light-bottom">
  <td class="p-t-25" class="no-border">
    <div class="thumbnail-wrapper d48 circular auto-margin m-r-5 m-b-5">
     <% if idea.logo.present? %>
       <%= image_tag(user.logo.url(:avatar), width: "50px") %>
     <% else %>
       <span class="placeholder bold text-white">
         <%= idea.name_badge.upcase %>
       </span>
     <% end %>
     </div>
  </td>
  <td style="max-width: 350px;" class="idea-info font-opensans no-border">
    <h5 class="no-margin fs-16 bold">
      <%= link_to(idea.name, idea_path(idea)) %>
    </h5>
    <p class="fs-14 m-t-5">
    <% if idea.cached_location_list.present? %>
      <span>
        Based in:
        <% idea.location_list.each do |tag| %>
          <%= link_to("@#{tag.downcase}", tag_path(tag.parameterize), class: "text-black light") %>
        <% end %>
      </span>
    <% end %>
    <% if idea.cached_market_list.present? %>
      <span>
        Market:
        <% idea.market_list.each do |tag| %>
          <%= link_to("@#{tag.downcase}", tag_path(tag.parameterize), class: "text-black light") %>
        <% end %>
      </span>
    <% end %>
    </p>
    <p class="fs-14 m-t-5">
      <%= idea.elevator_pitch %>
    </p>
  </td>
  <td style="display:table-cell; vertical-align:middle;" class="no-border text-center">
    <div class="card-follow-button">
      <%= react_component('Follow',{:followed => followed?(idea)}) %>
    </div>
    <script type="text/javascript">
       ReactRailsUJS.mountComponents();
    </script>
  </td>
  <td style="display:table-cell; vertical-align:middle;  min-width: 200px;" class="no-border text-center no-padding p-l-20">
    <ul class="stastics-list">
      <li class="clearfix pull-reset">
        Feebacks
        <span class="text-master">
        <%= number_to_human(idea.feedbackers_counter.value,  :format => '%n%u', :units => { :thousand => 'K' }) %>
        </span>
      </li>
      <li class="clearfix pull-reset">
        Score
        <span class="text-master">
        <%= number_to_human(Idea.leaderboard.score(idea.id) || 0,  :format => '%n%u', :units => { :thousand => 'K' }) %>
        </span>
      </li>
    </ul>
  </td>
</tr>