<div class="box-shadow bg-light-blue-lightest">
  <div class="profile-nav p-l-10 row p-t-10 p-b-10">
    <div class="pull-left no-padding p-l-15 p-r-25">
        <ul class="profile-name inline no-style no-margin p-t-5">
          <li class="inline p-r-15">
            <%= link_to("Idea", idea_path(@idea), class: "bold m-l-15 fs-13 #{current_class?(idea_path(@idea))}") %>
          </li>
          <li class="inline p-r-15">
            <%= link_to("Feedbacks", idea_feedbacks_path(@idea), class: "text-brand bold fs-13 #{current_class?(idea_feedbacks_path(@idea))}") %>
          </li>
        </ul>
    </div>
    <% if @idea.published? %>
      <div class="time-remaining inline p-t-5">
        <div class="tag fs-11 text-master"><span id="validation_clock"></span> remaining <span class="fa fa-question-circle" data-toggle="tooltip" title="Time left to validate <%= @idea.name %>"></span></div>
        <script>
        $('#validation_clock').countdown('<%= @idea.published_date + 60.days %>').on('update.countdown', function(event) {
          var format;
          format = '%D days';
          $(this).html(event.strftime(format));
        }).on('finish.countdown', function(event) {
          $(this).html('This offer has expired!');
          $(this).parent().addClass('disabled');
        });
        </script>
      </div>
    <% end %>
    <div class="profile-action-buttons pull-right p-r-15">
      <% if !policy(@idea).collaborator? %>
        <%= react_component('Upvote', {voted: voted?(@idea), css_class: 'vote-button add_vote pull-left', button_style: true}.to_json) %>

        <%= react_component('OpenFeedbackButton', { :feedbacked => @idea.feedbacked?(current_user), form: {idea_slug: @idea.slug, idea_name: @idea.name} }.to_json) %>
        <%= react_component('InvestButton',{ :invested => @idea.invested?(current_user), idea: invested? }) %>
      <% else %>
        <div class="dropdown pull-left">
          <button class="profile-dropdown-toggle m-r-15 m-t-5" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           <span class="fa fa-cog">
           </span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <%= link_to(idea_path(@idea), remote: true) do %>
                <span class="fa fa-pencil"></span> Edit idea
              <% end %>
            </li>
             <li>
              <%= link_to(idea_path(@idea), data: { behavior: 'delete_idea' }, class: 'text-danger bold') do %>
                <span class="fa fa-trash-o"></span> Delete idea
              <% end %>
            </li>
          </ul>
        </div>
        <%= link_to(changes_idea_path(@idea), class: 'main-button bold pull-right fs-13 m-r-10') do %>
        <span class="fa fa-list"></span> Changes
        <% end %>
        <%= react_component('PublishIdeaButton', {published: @idea.published?, url: publish_idea_path(@idea), profile_complete: @idea.profile_complete?, is_team: @idea.team?, current_privacy: @idea.privacy, is_public:@idea.everyone?})%>
      <% end %>
    </div>
  </div>
</div>