<div class="idea-sidebar auto-height" id="idea_sidebar" data-turbolinks-permanent>
  <%
    stats = {
      name: @idea.name,
      id: @idea.uuid,
      feedbacks_count: number_to_human(@idea.feedbackers_counter.value,  :format => '%n%u', :units => { :thousand => 'K' }),
      raised: number_to_human(@idea.balance,  :format => '%n%u', :units => { :thousand => 'K' }),
      views_count: number_to_human(@idea.views_counter.value,  :format => '%n%u', :units => { :thousand => 'K' }),
      votes_count: number_to_human(@idea.votes_counter.value,  :format => '%n%u', :units => { :thousand => 'K' }),
      score: number_to_human(Idea.leaderboard.score(@idea.id),  :format => '%n%u', :units => { :thousand => 'K' }) || 0
    }.to_json
  %>

  <%= react_component('IdeaHeader', {data: data, stats: stats}) %>

  <%= render partial: 'ideas/card_stats' %>

  <% cache(["idea_badges", @idea, @idea.badges.length]) do %>
    <%= render partial: 'ideas/badges' %>
  <% end %>

  <% cache(["idea_team", @idea, @idea.in_team?(current_user) ? "team" : "guest"]) do %>
    <%= render partial: 'ideas/team'%>
  <% end %>

  <% cache(["idea_voters", @idea, @idea.votes_counter.value]) do %>
    <%= render partial: 'ideas/voters' if @idea.votes_counter.value > 0 %>
  <% end %>

  <% cache(["idea_investors", @idea, @idea.investors_counter.value]) do %>
    <%= render partial: 'ideas/investors' if @idea.investors_counter.value > 0 %>
  <% end %>
</div>
