<div class="idea-sidebar auto-height bg-white box-shadow">
  <%= react_component('LatestIdeaFeed', {idea_id: @idea.uuid, path: ideas_notification_path(@idea), channel_name: "idea-feed-#{@idea.uuid}", channel_event: "new_ticker_item", name: @idea.name}.to_json) %>

  <%= render partial: 'ideas/card_stats' %>

  <% cache(["idea_badges", @idea, @idea.badges.length]) do %>
    <%= render partial: 'ideas/badges' %>
  <% end %>

  <% cache(["idea_team", @idea, @idea.in_team?(current_user) ? "team" : "guest"]) do %>
    <%= render partial: 'ideas/team'%>
  <% end %>

  <% cache(["idea_followers", @idea, @idea.followers_counter.value]) do %>
    <%= render partial: 'ideas/followers' if @idea.followers_counter.value > 0 %>
  <% end %>

  <% cache(["idea_investors", @idea, @idea.investors_counter.value]) do %>
    <%= render partial: 'ideas/investors' if @idea.investors_counter.value > 0 %>
  <% end %>
</div>
