<div class="idea-sidebar auto-height" id="idea_sidebar" data-turbolinks-permanent>
  <%= react_component('IdeaHeader', {data: data}) %>

  <%= render partial: 'ideas/card_stats' %>

  <% cache(["idea_badges", @idea, @idea.badges.length]) do %>
    <%= render partial: 'ideas/badges' %>
  <% end %>

  <% cache(["idea_team", @idea, @idea.in_team?(current_user) ? "team" : "guest"]) do %>
    <%= render partial: 'ideas/team'%>
  <% end %>

  <% cache(["idea_voters", @idea, @idea.votes_counter.value]) do %>
    <%= render partial: 'ideas/voters' if @idea.votes_counter.value > 0 %>
  <% end %>

  <% cache(["idea_investors", @idea, @idea.investors_counter.value]) do %>
    <%= render partial: 'ideas/investors' if @idea.investors_counter.value > 0 %>
  <% end %>
</div>
