<tr class="full-border-light-bottom">
  <td class="p-t-25 no-border">
    <div class="thumbnail-wrapper d48 circular auto-margin m-r-5 m-b-5">
     <% if version.user_avatar.present? %>
       <%= image_tag(version.user_avatar) %>
     <% else %>
       <span class="placeholder bold text-white">
         <%= version.name_badge.upcase %>
       </span>
     <% end %>
     </div>
  </td>
  <td style="max-width: 350px;" class="idea-info font-opensans no-border">
    <h5 class="no-margin fs-16 bold inline">
      <%= link_to(@idea.name, idea_path(@idea)) %>
    </h5>
    <span class="inline small-text m-l-10 semi-bold">
      made by :
      <%= link_to(profile_path(version.owner_url)) do %>
           <%= version.user_name %>
      <% end %>
    </span>
    <p class="fs-14 m-t-5">
      <%= version.changeset %>
    </p>
  </td>
  <td style="display:table-cell; vertical-align:middle;  min-width: 200px;" class="no-border text-center no-padding p-l-20">
    <%= local_time_ago(version.created_at) %>
  </td>
</tr>