<div class="col-md-8 col-lg-8 col-sm-8 no-padding p-l-15">
  <div class="auto-height box-shadow ">
    <%= render partial: 'header' %>
  </div>
  <%= render partial: 'menu' %>
  <div class="m-t-20">
    <div class="idea-content">
      <%= render partial: "comments" %>
    </div>
  </div>
</div>

<div class="col-md-4 col-lg-4 col-sm-4">
  <div class="idea-sidebar auto-height sticky bg-white box-shadow">
    <%= render partial: 'latest_activities' %>
    <%= render partial: 'followers' if @idea.followers_counter.value > 0 %>
    <%= render partial: 'investors' if @idea.investors_counter.value > 0 %>
  </div>
</div>

<% if user_signed_in? && policy(@idea).collaborator? %>
  <div class="idea-collaboration-floating-panel">
    <%= render 'collaboration' %>
  </div>
<% end %>


