<div class="horz-section col-md-12">
  <div class="wrapper-small bg-solid text-center panel panel-default">
    <h2 class="text-white">Find ideas you would like to browse,</h2>
    <span class="large text-white">or <%= link_to('pitch your own idea', new_idea_path(:rules), class: 'text-white b-b b-white p-b-5') %> to validate with others</span>
  </div>

      <div class="container-fluid container-fixed-lg bg-white">
       <div class="panel panel-transparent">
           <div class="panel-heading">
               <div class="panel-title">
                   Pages Default Tables Style
               </div>
               <div class="pull-right">
                   <div class="col-xs-12">
                       <input class="form-control pull-right" id=
                       "search-table" placeholder="Search" type="text">
                   </div>
               </div>
               <div class="clearfix"></div>
           </div>
           <div class="panel-body">
               <div class="form-inline no-footer">
                   <div class="table-responsive">
                       <table class=
                       "table table-hover no-footer"
                       >
                           <thead>
                               <tr>
                                   <th>
                                       Name
                                   </th>
                                   <th>
                                       Elevator Pitch
                                   </th>
                                   <th>
                                       Market
                                   </th>
                                   <th>
                                       Follow
                                   </th>
                               </tr>
                           </thead>
                           <tbody>
                          <% @ideas.each do |idea| %>
                             <tr role="row" class="<%= cycle("odd", "even") -%>">
                                 <td class=
                                 "v-align-middle semi-bold">
                                     <p>
                                         <%= idea.name %>
                                     </p>

                                     <p>
                                      <%= link_to(profile_path(idea.school)) do %>
                                         <%= idea.school.name %>
                                      <% end %>
                                     </p>
                                     <% idea.location_list.each do |tag| %>
                                       <%= link_to(tag_path(tag.parameterize), class: "btn btn-tag no-margin") do %>
                                         <%= tag %>
                                       <% end %>
                                     <% end %>
                                 </td>

                                 <td class="v-align-middle">
                                  <h5 class="no-margin"><%= idea.elevator_pitch %></h5>
                                  <div class="row text-master m-t-15 p-l-10 p-r-10">
                                      <div class="col-md-4 no-padding p-r-15 text-center b-r b-grey b-dashed">
                                      <p class="no-margin bold small">Investments</p>
                                      <p class="no-margin bold text-warning "><%= idea.investors_counter.value %></p>
                                      </div>
                                      <div class="col-md-4 text-center b-r b-grey b-dashed">
                                      <p class="no-margin bold small">Followers</p>
                                          <p class="no-margin bold text-warning "><%= idea.followers_counter.value %></p>
                                      </div>
                                      <div class="col-md-4 text-center">
                                      <p class="no-margin bold small">Feedbacks</p>
                                          <p class="no-margin bold text-warning "><%= idea.feedbackers_counter.value %></p>
                                      </div>
                                  </div>
                                 </td>

                                  <td class="v-align-middle">
                                 <% idea.market_list.each do |tag| %>
                                   <%= link_to(tag_path(tag.parameterize), class: "btn btn-tag") do %>
                                     <%= tag %>
                                   <% end %>
                                 <% end %>


                                  </td>






                                 <td class="v-align-middle">
                                  <%= react_component('Follow', {followed: idea_followed?(idea)}) %>
                                 </td>
                             </tr>
                          <% end %>

                           </tbody>
                       </table>


                   </div>

               </div>
           </div>
       </div>
    </div>

  </div>


