<div id="content">
    <div class="horz-section">
      <div class="wrapper-small listing-hero-banner panel panel-default">
            <h2>Find ideas you would like to browse,</h2>
            <span class="large">or <%= link_to('pitch your own idea', new_idea_path) %> to validate with others</span>
      </div>
    </div>
      <div class="container">
        <div class="col-md-12">
          <div class="row project-columns">
          <% @ideas.each do |idea| %>
            <div class="col-md-4">
            <div class="result-listing-box panel panel-default">
              <% if idea.user != current_user %>
                <div class="search-follow-idea">
                  <%= react_component('Follow',{:followed => followed?(idea)}) %>
                </div>
              <% end %>
              <div class="idea-listing-header">
                <div class="idea-logo">
                  <%= link_to(idea_path(idea)) do %>
                    <%= image_tag(idea.logo.url(:avatar), width: "40px")%>
                  <% end %>
                </div>
                <div class="idea-meta">
                  <h1><%= link_to(idea.name, idea_path(idea)) %></h1>
                  <span>by <%= link_to(idea.user.name, user_path(idea.user)) %></span>
                </div>
              </div>
              <div class="project-descript">
                <%= content_tag(:p, class: "idea-description") do %>
                  <%= truncate(idea.description, length: 300) %>
                <% end %>
                <ul class="idea-tags-listing">
                  <% idea.market_list.each do |tag| %>
                    <li><%= link_to('#'+tag, market_path(tag.parameterize)) %></li>
                  <% end %>
                  <% idea.location_list.each do |tag| %>
                    <li><%= link_to('#'+tag, location_path(tag.parameterize)) %></li>
                  <% end %>
                </ul>

                <p class="idea-posted-date">
                  <i class="icon-clock3"></i> <%= local_time_ago(idea.created_at) %>
                </p>

                <div class="results-idea-progress">
                  <ul class="stastics-list">
                    <li>
                      Followers
                      <span><i class="ion-person-stalker"></i> <%= idea.followers_count %></span>
                    </li>
                    <li>
                      Raised
                      <span><i class="fa fa-dollar"></i> <%= idea.balance %></span>
                    </li>
                    <li>
                      Feedbacks
                      <span><i class="ion-chatbubbles"></i> <%= idea.feedbacks_count %></span>
                    </li>
                  </ul>
                </div>
              </div>

              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
</div>
