<div class="container xs-no-padding  p-b-60 <%= 'bg-white box-shadow' if browser.mobile? %>">
  <% unless browser.mobile? %>
    <div class="col-md-3 col-sm-4 no-padding p-l-15" id="home_sidebar">
      <div class="sidebar auto-height sticky box-shadow">
        <%= react_component('LatestFeed', {user_id: current_user.uid, path: notifications_path, channel_event: "new_ticker_item"}.to_json) %>
        <%= react_component('LatestUsers', {users: Oj.dump({
              list: User.latest_20,
              type: 'Latest People'
            }, mode: :compat)} ) %>
      </div>
    </div>
  <% end %>

<%= cache(["beta", "ideas", params[:action], current_user, @ideas]) do %>
  <div class="col-md-9 col-sm-9">
   <div class="menu bg-light-blue">
     <ul class="no-margin no-style padding-15 p-l-30 bold">
       <li class="m-r-20 inline <%= 'b-b b-green' if request.fullpath == root_path %>">
         <%= link_to('Live', root_path) %>
       </li>
       <li class="m-r-20 inline <%= 'b-b b-green' if request.fullpath == trending_ideas_path %>">
        <%= link_to('Trending', trending_ideas_path) %>
       </li>
       <li class="inline <%= 'b-b b-green' if request.fullpath == popular_ideas_path %>">
        <%= link_to('Popular', popular_ideas_path) %>
       </li>
     </ul>
   </div>
    <%= render partial: 'ideas' %>
  </div>
</div>
<% end %>


