<% cache(cache_key_for_ideas) do %>
  <div class="wrapper-small bg-solid text-center panel panel-default">
   <h2 class="text-white">Find ideas you would like to browse,</h2>
     <span class="large text-white">or <%= link_to('pitch your own idea', new_idea_path(:rules), class: 'text-white b-b b-white p-b-5') %> to validate with others</span>
  </div>

  <div class="container">
    <% @ideas.each do |idea| %>
      <% cache(idea) do %>
        <div class="col-md-3 no-padding p-r-15">
        <%= content_tag(:div, class: 'listing-card bg-white box-shadow') do %>
        <%= content_tag(:div, class: 'listing-header  text-center') do %>
          <%= content_tag(:div, class: 'listing-card-logo') do %>
          <div class="thumbnail-wrapper d48 circular auto-margin m-r-5 m-b-5">
             <span class="placeholder bold text-white">
               <%= idea.name_badge.upcase %>
             </span>
           </div>
            <h5 class="no-margin fs-14 bold"><%= link_to(idea.name, idea_path(idea)) %></h5>
            <p class="fs-12"><%= truncate(idea.high_concept_pitch, length: 30) %></p>
            <% if idea.market_list.present? %>
              <p class="no-margin text-master">
                <% idea.market_list.each do |tag| %>
                  <%= link_to(tag_path(tag.parameterize), class: "fs-12 btn-tags padding-5 m-r-10") do %>
                    <%= tag %>
                  <% end %>
                <% end %>
              </p>
            <% end %>
            <% if current_user != idea.user %>
              <div class="card-follow-button m-t-20 clearfix">
                <%= react_component('Follow',{:followed => followed?(idea)}) %>
              </div>
              <script type="text/javascript">
                 ReactRailsUJS.mountComponents();
              </script>
            <% else %>
              <%= link_to(idea_path(idea), class: 'btn btn-danger btn-sm text-white m-t-20 clearfix') do %>
              <span class="text-white"><i class="fa fa-share"></i> View idea</span>
              <% end %>
            <% end %>
          <% end %>
            <% end %>
            <div class="listing-card-stats">
            <ul class="stastics-list">
              <li>
                Followers
                <span class="text-master"><i class="fa fa-users"></i> <%= idea.followers_counter.value %></span>
              </li>
              <li>
                Feedbacks
                <span class="text-master"><i class="fa fa-comment"></i> <%= idea.feedbackers_counter.value %></span>
              </li>
              <li>
                Investments
                <span class="text-master"><i class="fa fa-dollar"></i> <%= idea.investors_counter.value %></span>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
      <% end %>
    <% end %>
    <div class="paging-container p-r-15">
        <%= will_paginate(@ideas, class: 'bg-white displayblock padding-10 paging_bootstrap pull-right pagination clearfix') %>
    </div>
  </div>
<% end %>


