<div class="horz-section col-md-12">
  <div class="wrapper-small bg-solid text-center panel panel-default">
    <h2 class="text-white">Find ideas you would like to browse,</h2>
    <span class="large text-white">or <%= link_to('pitch your own idea', new_idea_path(:rules), class: 'text-white b-b b-white p-b-5') %> to validate with others</span>
  </div>

      <div class="container-fluid container-fixed-lg bg-white">
       <div class="panel panel-transparent">
           <div class="panel-heading">
               <div class="panel-title">
                   Pages Default Tables Style
               </div>
               <div class="pull-right">
                   <div class="col-xs-12">
                       <input class="form-control pull-right" id=
                       "search-table" placeholder="Search" type="text">
                   </div>
               </div>
               <div class="clearfix"></div>
           </div>
           <div class="panel-body">
               <div class="dataTables_wrapper form-inline no-footer" id=
               "tableWithSearch_wrapper">
                   <div class="table-responsive">
                       <table class=
                       "table table-hover demo-table-search dataTable no-footer"
                       id="tableWithSearch">
                           <thead>
                               <tr>
                                   <th colspan="1"
                                   rowspan="1">
                                       Name
                                   </th>
                                   <th colspan="1"
                                   rowspan="1">
                                       Elevator Pitch
                                   </th>
                                   <th colspan="1"
                                   rowspan="1">
                                       Market
                                   </th>
                                   <th colspan="1"
                                   rowspan="1">
                                       Location
                                   </th>
                                   <th colspan="1"
                                   rowspan="1">
                                       University
                                   </th>
                                   <th colspan="1"
                                   rowspan="1">
                                       Stats
                                   </th>
                               </tr>
                           </thead>
                           <tbody>
                          <% @ideas.each do |idea| %>
                             <tr role="row" class="odd">
                                 <td class=
                                 "v-align-middle semi-bold sorting_1">
                                     <p>
                                         <%= idea.name %>
                                     </p>
                                 </td>
                                 <td class="v-align-middle">
                                     <p>
                                         <%= idea.elevator_pitch %>
                                     </p>
                                 </td>
                                 <td class="v-align-middle">
                                  <% idea.market_list.each do |tag| %>
                                    <%= link_to(tag_path(tag.parameterize), class: "btn btn-tag") do %>
                                      <%= tag %>
                                    <% end %>
                                  <% end %>
                                 </td>

                                 <td class="v-align-middle">
                                    <% idea.location_list.each do |tag| %>
                                      <%= link_to(tag_path(tag.parameterize), class: "btn btn-tag") do %>
                                        <%= tag %>
                                      <% end %>
                                    <% end %>
                                 </td>
                                 <td class="v-align-middle">
                                     <p>
                                      <%= link_to(profile_path(idea.school)) do %>
                                         <%= idea.school.name %>
                                      <% end %>
                                     </p>
                                 </td>
                                 <td class="v-align-middle">
                                     <p>
                                         <%= idea.followers_counter.value %>
                                     </p>
                                     <p>
                                         <%= idea.balance %>
                                     </p>
                                     <p>
                                         <%= idea.feedbackers_counter.value %>
                                     </p>
                                 </td>
                             </tr>
                          <% end %>

                           </tbody>
                       </table>
                   </div>

               </div>
           </div>
       </div>
    </div>

  </div>


