<%-# Problem sectors -%>
  <%= render partial: 'globals/sectors' %>
<%-# /Problem sectors -%>
<div class="bg-white">
<div class="container xs-no-padding  p-b-60">
<%= cache(["beta", "ideas", params[:action], current_user, @ideas]) do %>
  <div class="col-md-12 col-sm-12">
   <div class="menu">
     <ul class="no-margin no-style padding-15 p-l-30 bold">
       <li class="m-r-20 inline">
         <h3>
          <%= link_to(root_path, class: 'text-master') do %>
            <%= params[:action] == "index" ? 'All Startup Ideas' : params[:action].capitalize + ' Startup Ideas' %>
          <% end %>
         </h3>
       </li>
       <li class="m-r-20 inline <%= 'tag' if request.fullpath == root_path %>">
         <%= link_to('Ideas', root_path) %>
       </li>
       <li class="m-r-20 inline <%= 'tag' if request.fullpath == trending_ideas_path %>">
        <%= link_to('Competitions', trending_ideas_path) %>
       </li>
       <li class="inline m-r-20 <%= 'tag' if request.fullpath == popular_ideas_path %>">
        <%= link_to('Events', popular_ideas_path) %>
       </li>
       <li class=" inline <%= 'tag' if request.fullpath == ideas_path %>">
         <%= link_to('Universities', ideas_path) %>
       </li>
     </ul>
   </div>
    <%= render partial: 'ideas' %>
  </div>
</div>
</div>
<% end %>


