<div class="col-md-8 col-lg-8 col-sm-8 no-padding p-l-15">
  <div class="auto-height box-shadow ">
    <%= render partial: 'header' %>
  </div>
  <%= render partial: 'menu' %>
  <div class="m-t-20">
    <div class="idea-content">
      <div class="clearfix">
      <% sections = render(template: 'ideas/show.json.jbuilder') %>
      <%= react_component('MainContent', {data: sections}) %>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4 col-lg-4 col-sm-4">
  <div class="idea-sidebar auto-height sticky bg-white box-shadow">
    <%= render partial: 'card_stats' %>
    <%= render partial: 'badges' %>
    <%= render partial: 'followers' if @idea.followers_counter.value > 0 %>
    <%= render partial: 'investors' if @idea.investors_counter.value > 0 %>
  </div>
</div>

<% if user_signed_in? && policy(@idea).collaborator? %>
  <div class="idea-collaboration-floating-panel">
    <%= render 'collaboration' %>
  </div>
<% end %>

<div class="modal fade slide-right" id="modalSlideLeft" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
        <div class="modal-content table-block">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
            <div class="modal-body no-padding">
               <%= render partial: 'latest_activities' %>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>

<div class="modal fade slide-right" id="modalSlideComments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-md">
    <div class="modal-content-wrapper">
        <div class="modal-content table-block">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
            <div class="modal-body no-padding">
               <%= render partial: "comments" %>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>



