<div class="col-md-8 no-padding p-l-15">
  <div class="auto-height box-shadow ">
    <%= render partial: 'header' %>
  </div>
  <%= render partial: 'menu' %>
  <div class="m-t-20">
    <div class="idea-content">
      <% sections = render(template: 'ideas/show.json.jbuilder') %>
      <%= react_component('MainContent', {data: sections}) %>
    </div>
  </div>
</div>

<div class="col-md-4 col-sm-4">
  <div class="sidebar auto-height bg-white box-shadow">
    <%= render partial: 'latest_activities' %>
    <%= render partial: 'followers' if @idea.followers_count > 0 %>
    <%= render partial: 'feedbackers' if @idea.feedbacks_count > 0 %>
    <%= render partial: 'investors' if @idea.investments_count > 0 %>
  </div>
</div>

<% if @idea.student != current_user %>

<% if @idea.has_invested?(current_user) %>
  <%= react_component('Invest', render(template: 'ideas/invest.json.jbuilder', locals: {:id => "investment-component"})) %>
<% end %>

<% if @idea.can_feedback?(current_user) %>
 <%= react_component('FeedbackComposer', {form: {csrf_param: request_forgery_protection_token, idea_slug: @idea.slug, csrf_token: form_authenticity_token, idea_name: @idea.name}}) %>
<% end %>
<% end%>

<% if user_signed_in? && policy(@idea).collaborator? %>
  <div class="idea-collaboration-floating-panel">
    <%= render 'collaboration' %>
  </div>
<% end %>



