<div class="project-menu">
  <div class="container">
    <div class="stasts">
      <ul class="stats-list">
        <%= link_to(user_path(@idea.student)) do %>
          <%= image_tag(@idea.student.avatar.url(:avatar), width: "35px", height: "35px") %>
        <% end %>
        <li class="<%= current_class?(idea_path(@idea)) %>"><a href="<%= idea_path(@idea) %>"><span class="link-profile">
              <%= @idea.name %></span></a></li>
        <li class="<%= current_class?(idea_feedbacks_path(@idea)) %>"><a href="<%= idea_feedbacks_path(@idea) %>"><span class="link-feedbacks">
              Feedbacks
              </span></a></li>
         <li class="<%= current_class?(idea_investments_path(@idea)) %>"><a href="<%= idea_investments_path(@idea) %>"><span class="link-feedbacks">
              Investments
             </span></a></li>

         <li class="<%= current_class?(comments_idea_path(@idea)) %>"><a href="<%= comments_idea_path(@idea) %>"><span class="link-feedbacks">
              Q&A
              </span></span></a></li>
      </ul>
    </div>
    <% if user_signed_in? %>
      <ul class="project-buttons">
        <% if !policy(@idea).collaborator? %>
          <%= react_component('Follow',{:followed => followed?(@idea)}) %>
          <%= react_component('OpenFeedbackButton', { :feedbacked => @idea.can_feedback?(current_user) }) %>
          <%= react_component('InvestButton',{ :invested => @idea.has_invested?(current_user) }) %>
        <% else %>

          <div class="idea-updates-button">
            <%= link_to(updates_idea_path(@idea )) do %>
              <i data-toggle="tooltip" data-placement="top" data-original-title="See team member updates" class="ion-arrow-graph-up-right"></i>
            <% end %>
          </div>
          
          <% publish_path = @idea.published? ? unpublish_idea_path(@idea) : publish_idea_path(@idea) %>
          
          <%= react_component('PublishIdeaButton', {published: @idea.published?, url: publish_path, profile_complete: @idea.profile_complete?, is_team: @idea.me?, current_privacy: @idea.privacy, is_public:@idea.everyone?})%>

          <div>
            <a class="main-button edit-profile" href="#message-popup"><span class="ion-edit"></span> Edit Idea</a>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
