<div class="container">
  <% if @user.avatar.url != nil %>
    <%= image_tag(@user.avatar.url(:avatar), id: "user_pic_menu") %>
  <% else %>
    <img src="http://placehold.it/200&text=avatar" id="user_pic_menu"/>
  <% end %>
  <div class="stasts">
    <ul class="stats-list">
      <li class="<%= current_class?(profile_path(@user)) %>">
        <%= link_to(profile_path(@user)) do %>
          <span class="link-profile">Profile</span> <i class="link-followers"></i>
        <% end %>
      </li>
      <li class="<%= current_class?(profile_activities_path(@user)) %>">
        <%= link_to(profile_activities_path(@user)) do %>
         <span class="link-activities">Activities</span> <i class="link-followers"></i>
        <% end %>
      </li>
      <li class="<%= current_class?(profile_followers_path(@user)) %>">
        <%= link_to(profile_followers_path(@user)) do %>
          <span class="link-followers">Followers </span><i class="link-followers">
            </span></i>
        <% end %>
      </li>
      <li class="<%= current_class?(profile_badges_path(@user)) %>"><a href="<%= profile_badges_path(@user) %>"><span class="link-investments">Leaderboard</span></a></li>
    
    </ul>
  </div>
  <ul class="project-buttons">
    <% if user_signed_in? %>
      <% if @user != current_user %>
        <%= react_component('Follow',{:followed => followed?(@user)}, {:id => "follow-component"}) %>
       <%= content_tag(:div) do %>
        <%= link_to('Send Message', '#', onClick: "return false;", class: 'main-button', id: 'send-message-button') %>
       <% end %>
      <% elsif @user == current_user %>
        <div>
          <a class="main-button edit-profile" href="#message-popup"><i class="ion-edit"></i> Edit Profile</a>
        </div>
      
      <% end %>
    <% end %>
  </ul>
</div>