<div class="new-share-form">
  <%= simple_form_for(@share, remote: true) do |f| %>
    <div class="form-group">
      <%= label_tag 'share[link]', 'Link' %>
      <%= f.input_field :link, class: "form-control", :required => true, :placeholder => "eg: https://linkedin.com/pulse..." %>
    </div>

    <div class="form-group">
      <%= label_tag 'share[body]', 'Share your thoughts' %>
      <%= f.input_field :body, class: "form-control", :required => true, :placeholder => "eg: Great resource for entreprenuers..." %>
    </div>
    <%= f.hidden_field :owner_id, value: "#{@owner.id}" %>
    <%= f.hidden_field :owner_type, value: "#{@owner.class.to_s}" %>
    <%= button_tag 'Share', class: 'btn btn-primary' %>
  <% end %>
</div>

