<div class="wrapper-small idea-bg-gradient">
  <div class="col-md-6 jumbrotron text-center auto-margin" data-pages="parallax" data-social="cover">
    <div class="hero-text inner">
      <h2 class="text-white">
         People who earned
         <span class="bold b-b b-white p-b-5"><%= params[:id].capitalize %></span>
         badge
       </h2>
       <p class="m-b-10 inline text-white">
         <%= link_to(badge_path(@badge.name), class: "badge text-white font-helvetica") do %>
             <span class="fa fa-<%= @badge.custom_fields[:icon] %> badge-type <%= @badge.level %>"></span><%= @badge.custom_fields[:name] %>
         <% end %>
         : <%= @badge.description %>
       </p>
    </div>
  </div>
</div>
<%= render partial: 'ideas/ideas', resource: @ideas %>