
<% cache(["beta", @badge.name]) do %>
  <div class="wrapper-small bg-solid text-center panel panel-default">
    <h2 class="text-white">
      People who earned
      <span class="bold b-b b-white p-b-5"><%= params[:id].capitalize %></span>
      badge
    </h2>
    <p class="m-b-10 inline text-white">
      <%= link_to(badge_path(@badge.name), class: "badge text-white font-helvetica") do %>
          <span class="badge-type <%= @badge.level %>"></span><%= @badge.custom_fields[:name] %>
      <% end %>
      : <%= @badge.description %>
    </p>
  </div>
<% end %>

<div class="container">
<% cache(["beta", "badge", @users]) do %>
  <% @users.each do |user| %>
  <div class="col-md-3 no-padding p-r-15">
  <%= content_tag(:div, class: 'listing-card bg-white box-shadow') do %>
  <%= content_tag(:div, class: 'listing-header  text-center') do %>
    <%= content_tag(:div, class: 'listing-card-logo') do %>
    <div class="thumbnail-wrapper d48 auto-margin m-r-5 m-b-5">
     <% if user.avatar.present? %>
       <%= image_tag(user.avatar.url(:avatar), width: "50px") %>
     <% else %>
       <span class="placeholder bold text-white">
         <%= user.user_name_badge.upcase %>
       </span>
     <% end %>
     </div>
      <h5 class="no-margin fs-14 bold"><%= link_to(user.name, profile_path(user)) %></h5>
      <h5 class="no-margin text-master"><i class="fa fa-map-marker"></i> <%= user.location_list %></h5>
      <p class="fs-12"><%= truncate(user.mini_bio, length: 40) %></p>
      <% if user != current_user %>
        <div class="card-follow-button">
          <%= react_component('Follow',{:followed => followed?(user)}) %>
        </div>
        <script type="text/javascript">
           ReactRailsUJS.mountComponents();
        </script>
      <% else %>
        <div class="card-edit-button">
          <%= link_to(profile_path(user), class: 'btn btn-sm btn-danger') do %>
          <span class="text-white">View profile</span>
          <% end %>
        </div>
        <script type="text/javascript">
           ReactRailsUJS.mountComponents();
        </script>
      <% end %>
    <% end %>
      <% end %>
      <div class="listing-card-stats">
      <ul class="stastics-list">
        <li>
          Students
          <span class="text-master"><i class="fa fa-users"></i> <%= user.followers_counter.value %></span>
        </li>
        <li>
          Followers
          <span class="text-master"><i class="fa fa-comment"></i> <%= user.feedbacks_counter.value %></span>
        </li>
        <li>
          Ideas
          <span class="text-master"><i class="fa fa-dollar"></i> <%= user.investments_counter.value %></span>
        </li>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>
<% end %>
<div class="paging-container p-r-15">
    <%= will_paginate(@users, class: 'dataTables_paginate bg-white displayblock padding-10 paging_bootstrap pull-right pagination clearfix') %>
</div>

</div>




