<% cache([cache_key_for_users, params[:page]]) do %>
  <div class="wrapper-small people-bg-gradient">
    <div class="col-md-6 jumbrotron text-center auto-margin" data-pages="parallax" data-social="cover">
      <div class="hero-text inner">
        <h2 class="text-white">
          People who earned
          <span class="bold b-b b-white p-b-5"><%= params[:id].capitalize %></span>
          badge
        </h2>
        <p class="m-b-10 inline text-white">
          <%= link_to(badge_path(@badge.name), class: "badge text-white font-helvetica") do %>
              <span class="fa fa-<%= @badge.custom_fields[:icon] %> badge-type <%= @badge.level %>"></span><%= @badge.custom_fields[:name] %>
          <% end %>
          : <%= @badge.description %>
        </p>
      </div>
    </div>
  </div>

  <div class="container p-t-40 p-b-80">
    <div class="people-list">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2" class="no-padding"><%= @users.count %> Results</th>
              <th>Connect</th>
              <th class="text-center">Stats</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <% cache([user, "followed", user.followed_by?(current_user)]) do %>
                <%= render partial: 'users/user', locals: {user: user} %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="paging-container p-r-15">
      <%= will_paginate(@users, class: 'displayblock padding-10 paging_bootstrap pull-right pagination clearfix') %>
      </div>
    </div>
  </div>
<% end %>


