<span>
  <% unless params[:controller] == "users" %>
    <div class="thumbnail-wrapper d32 user-pic circular inline m-r-10">
      <% if activity.owner.avatar_present? %>
       <%= image_tag(activity.owner.get_avatar, data: {src: activity.owner.get_avatar, src_retina: activity.owner.get_avatar}) %>
      <% else %>
      <span class="placeholder no-padding bold text-white">
        <%= activity.owner.name_badge %>
      </span>
      <% end %>
    </div>
    <strong class="inline text-black">
      <%= activity.owner ==current_user ? 'You' : activity.owner.name %>
    </strong>
  <% end %>
  posted a comment on
  <%= activity.recipient.user == current_user ? "your" : "" %>
  <%= activity.recipient_type == 'Idea' ? activity.recipient_type.downcase + ' ' + activity.recipient.name : 'a' + activity.recipient_type.downcase %>
</span>