<div class="card share post_<%= activity.id %>" data-social="item">
    <div class="circle" data-toggle="tooltip" title="hello" data-container="body"></div>
    <div class="card-header clearfix">
	    <div class="user-pic">
		    <% if activity.user.avatar.present? %>
			    <%= image_tag(activity.user.avatar.url(:avatar), :"data-src" => "#{activity.user.avatar.url(:avatar)}", :"data-src-retina" => "#{activity.user.avatar.url(:square)}", width: "33", height: "33") %>
			    <% else %>
			        <span class="placeholder bold text-white"><%= activity.user.first_name.first + activity.user.last_name.first %>
			        </span>
		    <% end %>
	    </div>

	    <div class="text-master-dark">
	    	<%= link_to(your_name(activity.user, false), profile_path(activity.user), :"data-popover-href" => "#{profile_card_path(activity.user)}", class: 'load-card bold') %> shared <i class="fa ion-share"></i> <%= link_to(activity.trackable.shareable_name, idea_path(activity.trackable.shareable.slug), :"data-popover-href" => "#{card_idea_path(activity.trackable.shareable)}", class: 'load-card bold') %> - <span class="high_concept_pitch"><%= activity.trackable.shareable.high_concept_pitch %></span>
		   	<h6>
		   		<% if activity.user.locations %>
			        <span class="location semi-bold m-r-10">
			            <i class="fa fa-map-marker"></i>
			            <%= activity.user.locations.first %>
			        </span>
		        <% end %>
		       <% if activity.user.markets %>
			        <span class="location semi-bold m-r-10">
			            <i class="fa fa-map-marker"></i>
			            <%= activity.user.markets.first %>
			        </span>
		        <% end %>
		        <span class="date semi-bold">
		            <i class="fa fa-clock"></i>
			        <%= link_to(idea_path(activity.trackable), class: "text-master") do %>
						<%= time_ago_in_words(activity.created_at) %>
					<% end %>
		        </span>
		    </h6>
	    </div>
    </div>
    <div class="card-description">
	    <div class="activity-content">
	    	<div class="share-body">
	     <% if activity.trackable.body.length > 450 %>
		    <%= truncate(markdownify(activity.trackable.body), escape: false, length: 450) %>
		    <%= link_to 'See more', '', class: "read-more-link read-more-#{activity.trackable.id} clearfix" %>
		    <script type="text/javascript">
		      $('.read-more-<%= activity.trackable.id %>').on('click', function(e) {
		        e.preventDefault()
		        $(this).closest(".card-description").find(".share-body").html('<%= escape_javascript markdownify(activity.trackable.body) %>')
		      })
		    </script>
		  <% else %>
		    <%= markdownify(activity.trackable.body) %>
			<% end %>
			</div>

	    <div class="share-box padding-10 bg-success-lighter">
	     <% if activity.trackable.shareable.description.length > 450 %>
		    <%= truncate(markdownify(activity.trackable.shareable.description), escape: false, length: 450) %>
		    <%= link_to 'See more', '', class: "read-more-link read-more-#{activity.trackable.id} clearfix" %>
		    <script type="text/javascript">
		      $('.read-more-<%= activity.trackable.id %>').on('click', function(e) {
		        e.preventDefault()
		        $(this).closest(".card-description").find(".share-box").html('<%= escape_javascript markdownify(activity.trackable.shareable.description) %>')
		      })
		    </script>
		  <% else %>
		    <%= markdownify(activity.trackable.shareable.description) %>
		  <% end %>
		 </div>
	    </div>
    </div>
    <div class="card-footer clearfix bold">
    <ul class="reactions pull-left">
		<% liked = current_user.voted?(activity.trackable) %>
		<%= react_component('Upvote', {record: activity.trackable_id, voted: liked, vote_url: like_path(votable_type: activity.trackable_type, votable_id: activity.trackable_id), votes_count: activity.trackable.votes_counter.value, likers_path: likers_path(votable_type: activity.trackable_type, votable_id: activity.trackable_id), css_class: 'vote-button add_vote pull-left'}.to_json) %>
		</ul>

        <% if activity.user_id == current_user.id %>
			<div class="pull-right text-master">
				<%= react_component('Trash', {record: activity.id, delete_url: share_path(activity.trackable_id)}.to_json) %>
			</div>
		<% end %>
        <div class="clearfix"></div>
    </div>

</div>

