<% if @user.badges.length > 0 %>
<div class="widget-16 panel no-margin widget-loader-circle">
    <div class="panel-heading">
        <div class="panel-title b-b b-grey p-b-5">
          <i class="fa fa-shield text-danger"></i> Badges
        </div>
    </div>

    <div class="panel-body">
        <ul class="list-unstyled">
            <%  @badges.take(8).each do |id, badge| %>
                <li class="m-r-10">
                    <div class="thumbnail-wrapper d32 circular b-white m-r-5 m-b-5 b-a b-white inline">
                        <% if badge.first.custom_fields[:image].present? %>
                            <img src="<%= badge.first.custom_fields[:image] %>" data-src = "<%= badge.first.custom_fields[:image] %>" data-src-retina = "<%= badge.first.custom_fields[:image] %>" width= "35", height= "35") data-toggle="tooltip" data-container="body" title="<%= pluralize(badge.length, "#{badge.first.custom_fields[:name]} badge") %>" />
                        <% else %>
                            <span class="placeholder bold text-white" data-toggle="tooltip" data-container="body" title="<%= pluralize(badge.length, "#{badge.first.custom_fields[:name]} badge") %>">
                                <i class="fa fa-<%= badge.first.custom_fields[:class] %> fs-16"></i>
                            </span>
                        <% end %>
                    </div>
                </li>
            <% end %>
            <% if @user.badges.length > 8 %>
                <li>
                    <div class="thumbnail-wrapper d32 circular b-white">
                        <div class="bg-master text-center text-white">
                            <span>+34</span>
                        </div>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>
<% end %>