<div class="profile padding-20 bg-solid box-shadow ">
<div class="container-xs-height">
    <div class="row text-center">
        <div class="user-profile auto-margin">
            <div class="thumbnail-wrapper d100 circular bordered b-white">
                <div class="profile-avatar">
                  <%= react_component('Avatar', {data: data}) %>
                </div>
            </div>
            
        </div>
        <div class="clearfix p-l-10 p-r-10 p-t-10">
            <h3 class="no-margin text-white">
                <%= @user.name %> <i class="fa fa-check-circle text-white fs-16 m-l-10"></i>
            </h3>
            <p class="text-white m-t-5 small"><%= link_to(@user.school.name, profile_path(@user.school), class: 'text-white b-r b-white b-dashed p-r-10') %> <span class="p-l-5">CEO at Pages.inc</span></p>
        </div>
    </div>
</div>
</div>
<div class="widget-16 padding-20 bg-info-dark">
    <div class="row text-white">
        <div class="col-md-4 no-padding text-center b-r b-white b-dashed">
            <h1 class="all-caps fs-13 text-white bold small">Feedbacks</h1>
            <p class="all-caps bold fs-13 no-margin">
                <%= @user.feedbacks_count %>
            </p>
        </div>
        <div class="col-md-4 text-center b-r b-white b-dashed">
            <h1 class="all-caps fs-13 text-white bold small">Invested</h1>
            <p class="all-caps bold  fs-13 no-margin">
                <%= @user.investments_count %>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h1 class="all-caps fs-13 text-white bold small">Followers</h1>
            <p class="all-caps bold  fs-13 no-margin text-white">
                <%= @user.follower_count %>
            </p>
        </div>
    </div>
</div>