<div class="profile-nav displayblock overflow-hidden p-l-15">
	<ul class="profile-name inline no-style p-t-15 p-b-15 no-margin col-md-7">
		<li class="inline b-r b-grey b-dashed p-r-15">
			<div class="thumbnail-wrapper absolute m-r-5 d32 circular">
			<% if @user.avatar_present? %>
			  <%= image_tag(@user.get_avatar, :"data-src" => "#{@user.get_avatar}", :"data-src-retina" => "#{@user.get_avatar}", width: "55", height: "55", id: 'user_pic_menu') %><% else %>
			  <span class="placeholder bold text-white" width="32px" height="32px"><%= @user.name_badge %>
			  </span>
			<% end %>
			</div>
			<%= link_to('Profile', profile_path(@user), class: "bold #{current_class?(profile_path(@user))} p-b-5 fs-13 m-l-45") %>
		</li>
		<li class="inline b-r b-grey b-dashed p-l-15 p-r-15">
			<%= link_to('Activities', profile_activities_path(@user), class: "bold fs-13 #{current_class?(profile_activities_path(@user))} ") %>
		</li>
	</ul>

	<div class="pull-right profile-action-buttons p-t-10 p-b-10">
		<% if @user != current_user %>
		<%= react_component('Follow',{:followed => followed?(@user)}, {:id => "follow-component"}) %>
		<% if current_user.is_friend?(@user) %>
			<%= content_tag(:div) do %>
				<%= link_to('#', onClick: "return false;", class: 'main-button bold m-r-10 pull-right', id: 'send-message-button') do %>
						<i class="fa fa-envelope"></i> Send Message
				<% end %>
			<% end %>
		<% end %>
		<% else %>
			<%= link_to(new_idea_path(:intro), class: "main-button hidden-xs bold pull-right no-padding padding-5 p-l-10 p-r-10 m-r-10", title: "Publish idea") do %>
			<span class="fa fa-lightbulb-o"></span> Post Idea
			<% end %>
		<% end %>
	</div>
</div>