<div class="card share post_<%= post.id %>" data-social="item">
    <div class="circle" data-toggle="tooltip" title="hello" data-container="body"></div>
    <div class="card-header clearfix">
      <div class="user-pic">
        <% if post.user.avatar.present? %>
          <%= image_tag(post.user.avatar.url(:avatar), :"data-src" => "#{post.user.avatar.url(:avatar)}", :"data-src-retina" => "#{post.user.avatar.url(:square)}", width: "33", height: "33") %>
          <% else %>
              <span class="placeholder bold text-white"><%= post.user.first_name.first + post.user.last_name.first %>
              </span>
        <% end %>
      </div>

      <div class="text-master-dark">
        <%= link_to(your_name(post.user, false), profile_path(post.user), :"data-popover-href" => "#{profile_card_path(post.user)}", class: 'load-card bold') %> shared a post -  <%= link_to(post.title, profile_posts_post_path(@user, post)) %>

        <h6>
          <% if post.user.locations %>
              <span class="location semi-bold m-r-10">
                  <i class="fa fa-map-marker"></i>
                  <%= post.user.locations.first %>
              </span>
            <% end %>
           <% if post.user.markets %>
              <span class="location semi-bold m-r-10">
                  <i class="fa fa-map-marker"></i>
                  <%= post.user.markets.first %>
              </span>
            <% end %>
            <span class="time semi-bold">
              <i class="fa fa-clock-o"></i>
                <%= link_to(post_path(post), class: "text-master") do %>
                <%= local_time_ago(post.created_at) %>
              <% end %>
            </span>
        </h6>
      </div>
    </div>
    <div class="card-description">
      <div class="activity-content">
       <% if post.body.length > 450 %>
        <%= truncate(markdownify(post.body), escape: false, length: 450) %>
        <%= link_to 'See more', '', class: "read-more-link read-more-#{post.id} clearfix" %>
        <script type="text/javascript">
          $('.read-more-<%= post.id %>').on('click', function(e) {
            e.preventDefault()
            $(this).closest(".card-description").find(".activity-content").html('<%= escape_javascript markdownify(post.body) %>')
          })
        </script>
      <% else %>
        <%= markdownify(post.body) %>
      <% end %>
      </div>
    </div>
    <div class="card-footer clearfix bold">

        <ul class="reactions pull-left">
          <% voted = post.voted?(current_user) %>
          <%= react_component('Upvote', {record: post.id, voted: voted, vote_url: vote_path(votable_type: post.class.to_s, votable_id: post.id), votes_count: post.votes_counter.value, voters_path: voters_path(votable_type: post.class.to_s, votable_id: post.id), css_class: 'vote-button add_vote pull-left'}.to_json) %>
        </ul>
      <div class="clearfix"></div>
    </div>

<% commentable = post %>

<% data = render(template: 'comments/comments.json.jbuilder', locals: {comments: [], record: commentable, paginate: false} )%>

<%= react_component('CommentBox', {data: data, comment_channel: "#{post.class.to_s}-#{post.id}-comments", count: post.comments_counter.value, comments_path: comments_path(commentable_type: post.class.to_s, id: post.id)}) %>
</div>

