<div class="col-md-4 col-sm-4 no-padding box-shadow  col-lg-4 col-xlg-4">
<div class="profile-sidebar auto-height bg-solid">
  <div class="user-sidebar padding-20">
    <div class="container-xs-height">
        <div class="row text-center">
            <div class="social-user-profile auto-margin">
                <div class="thumbnail-wrapper d48 circular bordered b-white">
                <% if @user.avatar.present? %><%= image_tag(@user.avatar.url(:avatar), :"data-src" => "#{@user.avatar.url(:avatar)}", :"data-src-retina" => "#{@user.avatar.url(:square)}", width: "55", height: "55") %><% else %>
                    <span class="placeholder bold text-white" width="32px" height="32px"><%= @user.first_name.first + @user.last_name.first %>
                    </span>
                <% end %>
                </div>
                    
                </div>
                <div class="p-l-10 p-r-10">
                    <h3 class="no-margin text-white"><%= @user.name %> <i class="fa fa-check-circle text-green fs-16 m-l-10"></i></h3>
                    <p class="no-margin text-white fs-16">is excited about the new pages design framework</p>
                    <p class="text-white m-t-5 small">San Fransisco Bay | CEO at Pages.inc</p>
                </div>

            </div>
        </div>
    </div>

    <div class="widget-16 text-white panel panel-transparent no-margin widget-loader-circle">
            <div class="panel-heading">
                <div class="panel-title b-b b-white p-b-5"><i class="fa fa-lightbulb-o text-white"></i> Ideas</div>
            </div>
            <div class="widget-16-header text-white padding-20">
                <span class="icon-thumbnail placeholder bg-master-light pull-left text-white">Cl</span>
                <div class="pull-left">
                    <p class="all-caps bold small no-margin overflow-ellipsis ">Clowdy</p>
                    <h5 class="small no-margin overflow-ellipsis text-white">Webarch Sales Analysis</h5>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
  </div>

  <div class="panel no-margin">
    <div class="panel-heading">
            <div class="panel-title b-b b-grey p-b-5"><i class="fa fa-user text-danger"></i> Summary</div>
        </div>
        <div class="panel-body">
        <p>When it comes to digital design, the lines between functionality, aesthetics, and psychology are inseparably blurred. Without the constraints of the physical world, there’s no natural form to fall back on.</p>
        </div>
    </div>


    <div class="widget-16 panel no-margin widget-loader-circle">
    <div class="panel-heading">
        <div class="panel-title b-b b-grey p-b-5">
          <i class="fa fa-shield text-danger"></i> Badges
        </div>
    </div>
    <div class="panel-body">
        <p class="m-b-5 small m-t-5">1,435 Followers</p>
        <ul class="list-unstyled">
            <li class="m-r-10">
                <div class="thumbnail-wrapper d32 circular b-white m-r-5 m-b-5 b-a b-white"><% if @user.avatar.present? %><%= image_tag(@user.avatar.url(:avatar), :"data-src" => "#{@user.avatar.url(:avatar)}", :"data-src-retina" => "#{@user.avatar.url(:square)}", width: "35", height: "35") %><% else %>
                    <span class="placeholder bold text-white"><%= @user.first_name.first + @user.last_name.first %>
                    </span><% end %>
                </div>
            </li>
            <li>
                <div class="thumbnail-wrapper d32 circular b-white m-r-5 m-b-5 b-a b-white"><% if @user.avatar.present? %><%= image_tag(@user.avatar.url(:avatar), :"data-src" => "#{@user.avatar.url(:avatar)}", :"data-src-retina" => "#{@user.avatar.url(:square)}", width: "35", height: "35") %><% else %>
                    <span class="placeholder bold text-white"><%= @user.first_name.first + @user.last_name.first %>
                    </span><% end %>
                </div>
            </li>
            <li>
                <div class="thumbnail-wrapper d32 circular b-white m-r-5 m-b-5 b-a b-white"><% if @user.avatar.present? %><%= image_tag(@user.avatar.url(:avatar), :"data-src" => "#{@user.avatar.url(:avatar)}", :"data-src-retina" => "#{@user.avatar.url(:square)}", width: "35", height: "35") %><% else %>
                    <span class="placeholder bold text-white"><%= @user.first_name.first + @user.last_name.first %>
                    </span><% end %>
                </div>
            </li>
            <li>
                <div class="thumbnail-wrapper d32 circular b-white m-r-5 m-b-5 b-a b-white"><% if @user.avatar.present? %><%= image_tag(@user.avatar.url(:avatar), :"data-src" => "#{@user.avatar.url(:avatar)}", :"data-src-retina" => "#{@user.avatar.url(:square)}", width: "35", height: "35") %><% else %>
                    <span class="placeholder bold text-white"><%= @user.first_name.first + @user.last_name.first %>
                    </span><% end %>
                </div>
            </li>
            <li>
                <div class="thumbnail-wrapper d32 circular b-white m-b-5 m-r-5 b-a b-white"><% if @user.avatar.present? %><%= image_tag(@user.avatar.url(:avatar), :"data-src" => "#{@user.avatar.url(:avatar)}", :"data-src-retina" => "#{@user.avatar.url(:square)}", width: "35", height: "35") %><% else %>
                    <span class="placeholder bold text-white"><%= @user.first_name.first + @user.last_name.first %>
                    </span><% end %>
                </div>
            </li>
            <li>
                <div class="thumbnail-wrapper d32 circular b-white m-r-5 m-b-5 b-a b-white"><% if @user.avatar.present? %><%= image_tag(@user.avatar.url(:avatar), :"data-src" => "#{@user.avatar.url(:avatar)}", :"data-src-retina" => "#{@user.avatar.url(:square)}", width: "35", height: "35") %><% else %>
                    <span class="placeholder bold text-white"><%= @user.first_name.first + @user.last_name.first %>
                    </span><% end %>
                </div>
            </li>
            <li>
                <div class="thumbnail-wrapper d32 circular b-white m-r-5 m-b-5 b-a b-white"><% if @user.avatar.present? %><%= image_tag(@user.avatar.url(:avatar), :"data-src" => "#{@user.avatar.url(:avatar)}", :"data-src-retina" => "#{@user.avatar.url(:square)}", width: "35", height: "35") %><% else %>
                    <span class="placeholder bold text-white"><%= @user.first_name.first + @user.last_name.first %>
                    </span><% end %>
                </div>
            </li>
            <li>
                <div class="thumbnail-wrapper d32 circular b-white">
                    <div class="bg-master text-center text-white">
                        <span>+34</span>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </div>
</div>