<% cache([cache_key_for_users, params[:page]]) do %>
  <div class="container p-t-40 p-b-80" id="<%= controller_name %>_listing">
    <div class="people-list">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2" class="no-padding"><%= is_beta ? 0 : pluralize(@users.count, 'Result')  %> Results</th>
              <th>Connect</th>
              <th class="text-center">Stats</th>
            </tr>
          </thead>
          <tbody>
          <% if is_beta %>
            <tr>
              <td colspan="4">
                <div class="no-content">
                    <span class="fa fa-smile-o fs-50"></span>
                    <h1>
                      Thank you for signing up to our beta. Once we have a few people onboard, you will be able to browse them here.
                    </h1>
                </div>
                <p class="text-center">In meantime, if you have a startup idea,
                  <%= link_to("Click", new_idea_path(:intro), class: 'p-b-5 b-b b-grey text-green') %> to pitch
                </p>
              </td>
            </tr>
          <% else %>
            <% @users.each do |user| %>
              <% cache([user, "followed", user.followed_by?(current_user)]) do %>
                <%= render partial: 'user', locals: {user: user} %>
              <% end %>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="paging-container p-r-15">
        <%= will_paginate(@users, class: 'displayblock padding-10 paging_bootstrap pull-right pagination clearfix', :"data-id" => "#{controller_name}_listing") %>
      </div>
    </div>
  </div>
<% end %>