<div class="col-md-4 col-sm-4 no-padding box-shadow  col-lg-4 col-xlg-4">
    <%= render partial: 'sidebar' %>
</div>

<div class="col-md-8 col-sm-8">

    <div class="cover">
        <%= render partial: 'cover' %>
    </div>
    <div class="profile-nav box-shadow bg-white">
        <%= render partial: 'menu' %>
    </div>

<div class="activity-feed auto-height m-t-20">

    <div class="card share" data-social="item">
        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
        <div class="card-header clearfix">
            <div class="user-pic"><% if @user.avatar.present? %><%= image_tag(@user.avatar.url(:avatar), :"data-src" => "#{@user.avatar.url(:avatar)}", :"data-src-retina" => "#{@user.avatar.url(:square)}", width: "33", height: "33") %><% else %>
                <span class="placeholder bold text-white"><%= @user.first_name.first + @user.last_name.first %>
                </span><% end %>
            </div>
            <h5>Jeff Curtis</h5>
            <h6>Shared a Tweet
      
                <span class="location semi-bold">
                    <i class="fa fa-map-marker"></i> SF, California
                </span>
            </h6>
        </div>
        <div class="card-description">
            <p>What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. 
                <a href="#">#quote</a>
            </p>
        </div>
        <div class="card-footer clearfix">
            <div class="time">few seconds ago</div>

            <ul class="reactions">
                <li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
                </li>
                <li><a href="#">23K <i class="fa fa-heart-o"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="card share" data-social="item">
        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
        <div class="card-header clearfix">
            <div class="user-pic"><% if @user.avatar.present? %><%= image_tag(@user.avatar.url(:avatar), :"data-src" => "#{@user.avatar.url(:avatar)}", :"data-src-retina" => "#{@user.avatar.url(:square)}", width: "33", height: "33") %><% else %>
                <span class="placeholder bold text-white"><%= @user.first_name.first + @user.last_name.first %>
                </span><% end %>
            </div>
            <h5>Jeff Curtis</h5>
            <h6>Shared a Tweet
      
                <span class="location semi-bold">
                    <i class="fa fa-map-marker"></i> SF, California
                </span>
            </h6>
        </div>
        <div class="card-description">
            <p>What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. 
                <a href="#">#quote</a>
            </p>
        </div>
        <div class="card-footer clearfix">
            <div class="time">few seconds ago</div>

            <ul class="reactions">
                <li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
                </li>
                <li><a href="#">23K <i class="fa fa-heart-o"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="card share" data-social="item">
        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
        <div class="card-header clearfix">
            <div class="user-pic"><% if @user.avatar.present? %><%= image_tag(@user.avatar.url(:avatar), :"data-src" => "#{@user.avatar.url(:avatar)}", :"data-src-retina" => "#{@user.avatar.url(:square)}", width: "33", height: "33") %><% else %>
                <span class="placeholder bold text-white"><%= @user.first_name.first + @user.last_name.first %>
                </span><% end %>
            </div>
            <h5>Andy Young</h5>
            <h6>Updated his status
      
                <span class="location semi-bold">
                    <i class="icon-map"></i> NYC, New York
                </span>
            </h6>
        </div>
        <div class="card-description">
            <p>What a lovely day! I think I should go and play outside.</p>
        </div>

        <div class="card-footer clearfix">
            <div class="time">few seconds ago</div>

            <ul class="reactions">
                <li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
                </li>
                <li><a href="#">23K <i class="fa fa-heart-o"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>
