
<div class="wrapper-small bg-solid text-center panel panel-default">
<h2 class="text-white">Find people you would like to connect</h2>
</div>

<div class="container">
  <% @users.each do |user| %>
  <div class="col-md-3 no-padding p-r-15">
  <%= content_tag(:div, class: 'listing-card bg-white box-shadow') do %>
  <%= content_tag(:div, class: 'listing-header  text-center') do %>
    <%= content_tag(:div, class: 'listing-card-logo') do %>
    <div class="thumbnail-wrapper d48 auto-margin m-r-5 m-b-5">
     <% if user.avatar.present? %>
       <%= image_tag(user.avatar.url(:avatar), width: "50px") %>
     <% else %>
       <span class="placeholder bold text-white">
         <%= user.user_name_badge.upcase %>
       </span>
     <% end %>
     </div>
      <h5 class="no-margin fs-14 bold"><%= link_to(user.name, profile_path(user)) %></h5>
      <h5 class="no-margin text-master"><i class="fa fa-map-marker"></i> <%= user.location_list %></h5>
      <p><%= user.mini_bio %></p>
      <div class="card-follow-button">
        <%= react_component('Follow',{:followed => school_followed?(user)}) %>
      </div>
      <script type="text/javascript">
         ReactRailsUJS.mountComponents();
      </script>
    <% end %>
  <% end %>
      <div class="listing-card-stats">
      <ul class="stastics-list">
        <li>
          Students
          <span class="text-master"><i class="fa fa-users"></i> <%= user.followers_counter.value %></span>
        </li>
        <li>
          Followers
          <span class="text-master"><i class="fa fa-comment"></i> <%= user.feedbacks_counter.value %></span>
        </li>
        <li>
          Ideas
          <span class="text-master"><i class="fa fa-dollar"></i> <%= user.investments_counter.value %></span>
        </li>
      </ul>
    </div>
  </div>
  <% end %>
  <% end %>

</div>




