<div class="wrapper-small people-bg-gradient">
  <div class="col-md-4 jumbrotron text-center auto-margin" data-pages="parallax" data-social="cover">
    <div class="hero-text inner">
      <i class="fa fa-users text-white fs-22"></i>
      <h2 class="text-white no-margin">Browse People</h2>
      <h5 class="text-white">Find friends and like-minded people</h5>
    </div>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane fade no-padding in active" id="quickview-conversations">
    <div class="view-port clearfix" id="conversations">
      <div class="view bg-white" id="<%= controller_name %>-list-view">
        <% if @users.empty? %>
          <div class="text-center fs-22 font-opensans text-master light p-t-40 p-b-40">
            <i class="fa fa-list"></i>
            <span class="clearfix">No people</span>
          </div>
        <% else %>
          <div class="list-view boreded no-top-border">
            <% @users.each do |user| %>
            <div class="list-view-group-container no-padding">
              <ul>
                <li class="user-list clearfix padding-10">
                  <a href="<%= profile_path(user) %>">
                    <span class="col-xs-height col-middle">
                      <% if user.avatar.present? %>
                        <span class="thumbnail-wrapper d32 circular bg-success">
                            <%= image_tag(user.avatar.url(:avatar), data: {src:  user.avatar.url(:avatar), src: {retina: user.avatar.url(:avatar)}},  class: "col-top", width: "34", height: "34") %>
                        </span>
                      <% else %>
                        <div class="thumbnail-wrapper d32 inline circular">
                          <span class="placeholder bold text-white">
                            <%= user.user_name_badge %>
                          </span>
                        </div>
                      <% end %>
                    </span>
                    <p class="p-l-10 col-xs-height col-middle col-xs-12">
                      <span class="text-master"><%= user.name %></span>
                      <span class="block text-master hint-text fs-12"><%= truncate(user.mini_bio, length: 50) %></span>
                    </p>
                  </a>
                </li>
              </ul>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>