<div class="wrapper-small people-bg-gradient">
  <div class="col-md-4 jumbrotron text-center auto-margin" data-pages="parallax" data-social="cover">
    <div class="hero-text inner">
      <h2 class="text-white">Browse People</h2>
      <h5 class="text-white">Find friends and like-minded people</h5>
    </div>
  </div>
</div>

<div class="container p-t-40 p-b-80">
  <div class="people-list">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2" class="no-padding"><%= @users.count %> Results</th>
          <th>Connect</th>
          <th class="text-center">Stats</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr class="full-border-light-bottom">
          <td class="no-padding p-t-25 p-b-20 no-border">
            <div class="thumbnail-wrapper d48 circular auto-margin m-r-5 m-b-5">
             <% if user.avatar.present? %>
               <%= image_tag(user.avatar.url(:avatar), width: "50px") %>
             <% else %>
               <span class="placeholder bold text-white">
                 <%= user.user_name_badge.upcase %>
               </span>
             <% end %>
             </div>
          </td>
          <td style="max-width: 350px;" class="people-info font-opensans no-border">
            <h5 class="no-margin fs-16 bold"><%= link_to(user.name, profile_path(user)) %>
            <% if user.school.logo.present? %>
             <%= image_tag(user.school.logo.url(:avatar), width: "20px", class: 'm-l-10') %>
            <% end %>
            </h5>
            <p class="fs-14 m-t-5">
              <%= user.mini_bio %>
              <span>
                Live in:
                <% if user.location_list.present? %>
                  <% user.location_list.each do |tag| %>
                    <%= link_to("@#{tag.downcase}", tag_people_path(tag.parameterize), class: "text-black light") %>
                  <% end %>
                <% end %>
              </span>
              <span>
                Studying:
                <% if user.subject_list.present? %>
                <% user.subject_list.each do |tag| %>
                  <%= link_to("@#{tag.downcase}", tag_people_path(tag.parameterize), class: "text-black light") %>
                <% end %>
                <% end %>
              </span>
              <span>
                Interested in:
                <% if user.market_list.present? %>
                <% user.market_list.each do |tag| %>
                  <%= link_to("@#{tag.downcase}", tag_people_path(tag.parameterize), class: "text-black light") %>
                <% end %>
                <% end %>
              </span>
              <span>
                Knows about:
                <% if user.skill_list.present? %>
                <% user.skill_list.each do |tag| %>
                  <%= link_to("@#{tag.downcase}", tag_people_path(tag.parameterize), class: "text-black light") %>
                <% end %>
                <% end %>
              </span>
            </p>
          </td>
          <td style="display:table-cell; vertical-align:middle;" class="no-border">
          <% if current_user != user %>
            <div class="card-follow-button">
              <%= react_component('Follow',{:followed => followed?(user)}) %>
            </div>
            <script type="text/javascript">
               ReactRailsUJS.mountComponents();
            </script>
          <% end %>

          </td>
          <td style="display:table-cell; vertical-align:middle;" class="no-border">
            <ul class="stastics-list">
              <li class="clearfix">
                Followers
                <span class="text-master">
                  <%= number_to_human(user.followers_counter.value,  :format => '%n%u', :units => { :thousand => 'K' }) %>
                </span>
              </li>
              <li class="clearfix pull-reset">
                Feebacks
                <span class="text-master">
                  <%= number_to_human(user.feedbacks_counter.value,  :format => '%n%u', :units => { :thousand => 'K' }) %>
                </span>
              </li>
              <li class="clearfix pull-reset">
                Investments
                <span class="text-master">
                  <%= number_to_human(user.investments_counter.value,  :format => '%n%u', :units => { :thousand => 'K' }) %>
                </span>
              </li>
            </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<div class="paging-container p-r-15">
    <%= will_paginate(@users, class: 'displayblock padding-10 paging_bootstrap pull-right pagination clearfix') %>
</div>
</div>
</div>


