 <% data = render(template: 'users/show.json.jbuilder') %>
<!-- Content
================================================== -->
<div id="content">
  <!-- profile header -->
  <div class="profile-header">
    <% if user_signed_in? %>
      <%= react_component('Cover', {data: data}) %>
    <% end %>
    <div class="container inner-profile-content">
      <div class="row">
        <div class="col-md-5 profile-user">
          <%= react_component('Avatar', {data: data}) %>
          <%= react_component('UserProfileHeader', {data: data}) %>
        </div>
        <div class="col-md-7">
          <%= render partial: 'users/_partials/stats' %>
        </div>
      </div>
    </div>
    <div class="container edit-profile-mode">
      <%= react_component('UserProfileHeaderForm', {data: data}) %>
    </div>
  </div>
  <!-- end profile header -->
  <!-- profile menu -->
  <div class="profile-menu">
    <%= render partial: 'users/_partials/user_profile_menu' %>
  </div>
  <!-- end profile menu -->
  <div class="profile-content-box container">
    <div id="profile" class="profile-tab active">
      <div class="row">
        <div class="col-md-4 aside">
          <div id="about_me">
            <div class="profile-wrapper panel panel-default">
              <%= react_component('AboutMe', {data: data}) %>
            </div>
          </div>
          <% if @badges.length > 0 %>
            <%= render partial: 'users/_sub_pages/badges', locals: {badges: @badges} %>
          <% end %>

          <%= render partial: 'users/sidebar/widget', locals: {listings: @user.followers_by_type('User').take(6), css_class: 'ion-person-stalker red-link', path: profile_followers_path(@user), box_title: 'Followers', count: @user.followers_count} if @user.followers_count > 0 %>

          <%= render partial: 'users/sidebar/widget', locals: {listings: @user.following_by_type('User').take(6), css_class: 'ion-person-stalker red-link', path: profile_followers_path(@user), box_title: 'Following', count: @user.followings_count} if @user.followings_count > 0 %>
         
          <% if @user.investments.length > 0 %>
            <%= render partial: 'users/_sub_pages/investments', locals: {investments: @user.investments.take(6)} %>
          <% end %>
        </div>
        <div class="col-md-8" id="sub-pages">
         <%= render partial: 'users/_sub_pages/profile', locals: {ideas: @ideas, badges: @badges, data: data}%>
        </div>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
 <%= render partial: 'users/_partials/send_message' %>
<% end %>
  <!-- End content -->