<div class="container">
    <% data = render(template: 'users/show.json.jbuilder') %>

    <div class="col-md-4 col-sm-4 no-padding p-l-15 col-lg-4 col-xlg-4" id="profile_sidebar">
        <%= render partial: 'sidebar', locals: {data: data} %>
    </div>

    <div class="col-md-8 col-sm-8">
        <div class="cover">
            <%= render partial: 'cover' %>
        </div>

        <div class="box-shadow bg-white">
            <%= render partial: 'menu' %>
        </div>

        <div class="badges-box m-t-20 clearfix" id="profile_content">
            <div class="col-md-6 no-padding p-r-15">
                <%= render partial: 'badges' %>
                <%= render partial: 'followers' %>
                <%= render partial: 'followings' %>
                <%= render partial: 'profile_posts' %>
            </div>
            <div class="col-md-6 no-padding">
                <%= render partial: 'stats' %>
                <%= render partial: 'ideas' %>
            </div>
        </div>
    </div>
</div>

<% if current_user.is_friend?(@user) %>
    <%= render partial: 'send_message' %>
<% end %>

