<div class="container">
    <% data = render(template: 'users/show.json.jbuilder') %>

    <div class="col-md-4 col-sm-4 no-padding p-l-15 col-lg-4 col-xlg-4">
        <%= render partial: 'sidebar', locals: {data: data} %>
    </div>

    <div class="col-md-8 col-sm-8">
        <div class="cover">
            <%= render partial: 'cover' %>
        </div>

        <div class="box-shadow bg-white">
            <%= render partial: 'menu' %>
        </div>

        <div class="student-ideas">
            <%= render partial: 'ideas' %>
        </div>

        <div class="summary white-bg box-shadow m-t-15 m-b-15">
            <%= react_component("TextWidget", {data: data}) %>
        </div>
    </div>
</div>

<%= render partial: 'send_message' %>

