<div class="register-container full-height sm-p-t-30">
	<div class="container-sm-height full-height">
	<div class="row row-sm-height">
	  <div class="col-sm-12 col-sm-height col-middle">
	   	<h1 class="bold">Reset your password</h1>
	    <small>If you have forgotten your password, please enter your email to reset your password.</small>
	    	<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => "form p-t-10 p-b-10", role: 'form' }) do |f| %>
					  <%= devise_error_messages! %>
					  <div class="form-group">
					  	<label>Email</label>
					    <%= f.input_field :login, required: true, autofocus: true,label: false, id: "email", class: "form-control empty", placeholder:"johndoe@example.com"  %>
					  </div>

					  <div class="login-form-buttons">
					    <%= f.button :button, "Reset my password", :class => "btn btn-success btn-sm fs-13 p-l-10 p-r-10 pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Submitting..."} %>
					    <%= link_to('Go back', root_path, :class => "btn btn-danger btn-sm fs-13 p-l-10 p-r-10 pull-left") %>
					  </div>
			<% end %>
			<%= render "devise/shared/links" %>
	  </div>
	</div>
	</div>
</div>

