<div class="home activity-user-header panel panel-default">
<div class="user-data">
	<div class="top-user-line">
		<%= link_to(profile_path(current_user)) do %>
			<%= content_tag(:h1, current_user.name) %>
		<% end %>
	</div>

	<h3><i class="ion-person"></i> <%= current_user.mini_bio %></h3>

	<ul class="user-tag-list">
		<li><%= link_to("<i class='fa fa-fw fa-institution'></i> ".html_safe+ current_user.institution.name, profile_path(current_user.institution)) if current_user.institution %></li>
		<% current_user.location_list.each do |tag| %>
		<li><%= link_to("<i class='ion-home'></i> #{tag}".html_safe, profile_people_path(tag.parameterize)) %></li>
		<% end %>
	</ul>
</div>
</div>