<li class="m-b-10">
  <div class="widget-16-header p-b-10 p-l-15">
  <% if f.avatar.present? %>
  	<%= image_tag(f.avatar.url(:avatar), width: "50px") %>
  <% else %>
	  <span class="icon-thumbnail placeholder bg-master-light pull-left text-white">
	  	<%= f.first_name.split('').first + f.last_name.split('').first %>
	  </span>
  <% end %>
  <div class="pull-left">
      <p class="all-caps bold  small no-margin overflow-ellipsis "><%= f.name %></p>
      <p class="small no-margin overflow-ellipsis"><%= f.school.name %></p>
      <p class="about-me"><%= strip_tags(markdownify(truncate(f.about_me, length: 100, escape: false))) %> </p>
  </div>
  <div class="pull-right">
  	<% if f != current_user %>
	  <%= react_component('Follow',{followed: followed?(f)}) %>
	<% end %>
  </div>
  <div class="clearfix"></div>
  </div>
</li>