<% ideas = Idea.for_user(@user) %>
<% ideas.limit(1).each do |idea| %>
<div class="user-leaderboard panel panel-default">
<div class="idea-information">
	<%= content_tag(:div, class: "profile-wrapper-title") do %>
		<%= content_tag(:h4) do %>
		<i class="ion-flag"></i>
			<%= link_to(idea_path(idea), class: "idea-progress name") do %>
				<%= idea.name %>
			<% end %>
		<% end %>
	<% end %>
	<div id="investmentProgress-<%= idea.slug %>" class="circle" data-investment="<%= investment_remaing(idea.fund['balance']) %>">
		<strong><%= investment_remaing(idea.fund['balance']) %></strong>
		<span>funded</span>
	</div>

	<div id="feedbackProgress-<%= idea.slug %>" class="circle" data-investment="<%= feedbacks_remaing(idea.feedbacks_count)%>">
		<strong></strong>
		<span>feedbacks</span>
	</div>
	<%= javascript_tag do %>
		$(document).ready(function () {
		  	var progress = <%= investment_remaing(idea.fund['balance']) %>
		  	$("#investmentProgress-<%= idea.slug %>").circleProgress({
		        value: progress,
		        size: 120,
		        fill: {
		            gradient: ["#fff", "#fff"]
		                   }
		    }).on('circle-animation-progress', function(event, progress) {
			    $(this).find('strong').html(parseInt(100 * <%= investment_remaing(idea.fund['balance']) %>) + '<i>%</i>');
			});
		});

		$(document).ready(function () {
		  	var feedback = <%= investment_remaing(idea.fund['balance']) %>
		  	$("#feedbackProgress-<%= idea.slug %>").circleProgress({
		        value: feedback,
		        size: 120,
		        fill: {
		            gradient: ["#fff", "#fff"]
		                   }
		    }).on('circle-animation-progress', function(event, feedback) {
			    $(this).find('strong').html(parseInt(100 * <%= investment_remaing(idea.fund['balance']) %>) + '<i>%</i>');
			});
		});
	<% end %>
</div>
</div>
<% end %>
