<%= content_tag(:div, class: 'popover-card') do %>
	<%= content_tag(:div, class: 'popover-header  text-center') do %>
		<%= content_tag(:div, class: 'popover-card-logo') do %>
			<%= image_tag(@user.avatar.url(:avatar), width: "50px") %>
			<h2><%= @user.name %></h2>
			<span><%= truncate(@user.mini_bio, length: 100) %></span>
			<% if @user != current_user %>
				<div class="card-follow-button" id="follow-button">
					<%= react_component('Follow',{:followed => followed?(@user)}) %>
				<script type="text/javascript">
				   ReactRailsUJS.mountComponents();
				</script>
				</div>
			<% end %>
		<% end %>
	<% end %>
      <div class="popover-card-stats">
      <ul class="stastics-list">
        <li>
          Followers
          <span><i class="fa ion-person-stalker"></i> <%= @user.followers_count %></span>
        </li>
        <li>
          Investments
          <span><i class="fa fa-dollar"></i> <%= @user.investments_count %></span>
        </li>
        <li>
          Feedbacks
          <span><i class="fa ion-chatbubbles"></i> <%= @user.feedbacks_count %></span>
        </li>
      </ul>
    </div>
<% end %>