<div class="col-md-4 aside">
  <%= render partial: 'shared/leaderboard', resource: @idea %>

  <%= render partial: 'ideas/sidebar/widget', locals: {listings: @idea.find_team.take(6), box_title: 'Team', css_class: 'ion-person-stalker red-link', path: team_idea_path(@idea),count: @idea.team.length} %>

  <%= render partial: 'ideas/sidebar/widget', locals: {listings: @idea.find_feedbackers.take(6), css_class: 'ion-chatbubble red-link', path: feedbackers_idea_path(@idea), box_title: 'Feedbackers', count: @idea.feedbackers.length} if @idea.feedbackers.length > 0 %>
  
  <%= render partial: 'ideas/sidebar/widget', locals: {listings: @idea.find_investors.take(6), css_class: 'ion-social-usd red-link', path: investors_idea_path(@idea), box_title: 'Investors', count: @idea.investors.length} if @idea.investors.length > 0 %>

  <%= render partial: 'ideas/sidebar/widget', locals: {listings: @idea.followers_by_type('User').take(6), css_class: 'ion-person-stalker red-link', path: followers_idea_path(@idea), box_title: 'Followers', count: @idea.followers_count} if @idea.followers_count > 0 %>

</div>
