<li class="event-list p-t-15 p-b-15">
    <span class="col-xs-height col-middle col-md-2 no-padding p-r-15">
      <% if event.cover.present? %>
        <span class="thumbnail-wrapper d100">
            <%= image_tag(event.cover.url(:cover), data: {src:  event.cover.url(:cover), :"src-retina" => event.cover.url(:cover)}, width: "100", height: "100") %>
        </span>
      <% else %>
        <div class="thumbnail-wrapper d48 inline circular">
          <span class="placeholder bold text-white">
            <%= event.name_badge %>
          </span>
        </div>
      <% end %>
    </span>
    <div class="p-l-10 col-xs-height col-middle col-xs-12 col-md-4 col-sm-4">
     <h5 class="text-master no-margin bold inline fs-14">
       <a href="<%= event_path(event) %>" class="inline">
         <%= event.title %>
       </a>
     </h5>
      <% if event.user.avatar_present? %>
       <%= link_to(profile_path(event.user)) do %>
        <%= image_tag(event.user.get_avatar, data: {src: event.user.get_avatar, :"src-retina" => event.user.get_avatar}, width: "20px", class: 'm-l-10 inline') %>
       <% end %>
      <% end %>
      <p class="people-info no-margin">
        <span class="fa fa-map-marker text-green"></span>
        <%= event.address %>
      </p>
      <p class="text-master no-margin p-t-5">
        <%= truncate(event.description, length: 100) %>
      </p>
    </div>
     <div class="p-l-10 col-xs-height col-middle col-md-4 col-sm-4 hidden-xs">
       <%= react_component('EventStats', {
         spots: number_to_human(event.space,  :format => '%n%u', :units => { :thousand => 'K' }),
         comments: number_to_human(event.comments_counter.value, :format => '%n%u', :units => { :thousand => 'K'}),
         attendees: number_to_human(event.attendees_counter.value, :format => '%n%u', :units => { :thousand => 'K' })
         }, {prerender: true})
       %>
    </div>
    <div class="card-follow-button text-center p-l-10 col-xs-height col-middle hidden-xs col-sm-2 col-md-2">
      <% if policy(event).join? %>
        <%= react_component('EventJoinButton', {data: attending?(event)}.to_json) %>
      <% end %>
    </div>
</li>

