<div class="container p-b-60">
<div class="row">
  <div class="social-wrapper container">
      <div class="col-md-12 col-sm-12 social">
        <div class="jumbotron box-shadow" data-pages="parallax" data-social="cover">
          <%=  render partial: 'event_data' %>
          <%= render partial: 'cover' %>
        </div>
      </div>
  </div>
</div>
<div class="container m-t-20">
    <div class="col-md-4 no-padding">
        <div class="event-details bg-white padding-20">
            <div class="text-center full-width">
              <span class="thumbnail-wrapper d48 auto-margin">
                <%= image_tag(@event.owner.get_avatar, data: {src:  @event.owner.get_avatar, :"src-retina" => @event.owner.get_avatar},  class: "col-top", width: "34", height: "34") %>
              </span>
            </div>
            <h2 class="clearfix bold"><%= @event.title %></h2>
            <p class="small-text">
              <%= @event.excerpt %>
            </p>
            <p class="light m-t-20"><span class="fa fa-university"></span>
              <%= @event.owner.name %>
            </p>
            <address class="hint-text m-b-20">
                <span class="fa fa-map-marker"></span>
                <%= @event.address%>
            </address>

            <div class="auto-margin no-padding col-md-12 text-center overflow-hidden p-t-20">
                <div class="user-stats-list no-border">
                 <div class="col-sm-4 text-center">
                   Spaces left
                   <span class="text-master displayblock text-center">
                     0
                   </span>
                 </div>
                 <div class="col-sm-4 text-center">
                   Ends in
                   <span class="text-master displayblock text-center">
                     5 days
                   </span>
                 </div>
                 <div class="col-sm-4 text-center">
                   Attending
                   <span class="text-master displayblock text-center">
                     0K
                   </span>
                 </div>
                </div>
            </div>
        <div class="text-center">
          <div class="join m-t-30 inline m-r-10">
              <a href="" class="main-button bold"> <span class="fa fa-users"></span> Click to join</a>
          </div>
          <div class="join m-t-30 inline">
              <a href="" class="main-button bold"> <span class="fa fa-check-circle"></span> Publish</a>
          </div>
        </div>
    </div>
    </div>
    <div class="col-md-8 p-r-30">
    <div class="panel box-shadow no-border">
      <ul class="nav nav-tabs nav-tabs-simple bg-light-blue-lightest">
          <li class="active">
            <a data-toggle="tab" href="#tab_people">
              <i class="fa fa-graduation-cap"></i> Event Info
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-lightbulb-o"></i> Questions
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-lightbulb-o"></i> Attending
            </a>
          </li>
      </ul>

      <div class="tab-content schools-tabs">

        <div class="tab-pane active" id="tab_people">
          <div class="view">
            <div class="list-view boreded no-top-border p-l-40 p-r-40">
                <h2>Workshop</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore facere quae quod explicabo hic illo facilis impedit aspernatur natus nam culpa excepturi cumque sunt beatae quam, maxime iusto incidunt tempore.</p>
                <h2>Schedule</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore facere quae quod explicabo hic illo facilis impedit aspernatur natus nam culpa excepturi cumque sunt beatae quam, maxime iusto incidunt tempore.</p>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab_ideas">
        </div>

        <div class="tab-pane" id="tab_events">
        </div>

      </div>
    </div>
    </div>
    </div>

</div>

