<div class="container p-b-60">
  <div class="row">
    <div class="event-wrapper container">
      <div class="col-md-4">
        <div id="event_sidebar">
          <%= render partial: 'sidebar' %>
        </div>
        <div id="event_attending">
          <%= render partial: 'attendees' %>
        </div>
        <div id="related_events">
          <%= render partial: 'related_events', locals: {type: "Related"} %>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 no-padding p-r-15">
        <div class="social">
          <div class="jumbotron full-border-light-left" data-pages="parallax">
            <div class="event-start bold inline hint-text m-r-10">
              <span class="fa fa-calendar m-l-15"></span>
              <%= local_time(@event.start_time, '%b %e') %>
              <p class="pull-right text-white fs-16 m-t-10 m-r-15"><span class="fa fa-university"></span>
                Hosted by <%= link_to(@event.user.name, profile_path(@event.user), class: 'text-white b-b b-white p-b-5') %>
              </p>
            </div>
            <%= render partial: 'cover' %>
          </div>
        </div>

        <div class=" box-shadow bg-master-lightest">
          <%= render partial: 'menu' %>
        </div>

        <div class="panel box-shadow no-border m-t-10">
          <%= render partial: 'description' %>
        </div>
      </div>
    </div>
  </div>
</div>

