<div class="container p-b-60">
<div class="row">
  <div class="event-wrapper container">
    <div class="col-md-4">
      <div class="event-sidebar bg-white box-shadow">
      <div class="event-details padding-15">
        <h3 class="clearfix bold text-master">
          <%= @event.title %>
        </h3>
        <p class="small-text">
          <%= @event.excerpt %>
        </p>
      </div>
      <div class="panel">
        <%= render partial: 'event_stats' %>
        <div class="event-date padding-10 p-l-15">
          <span class="fa fa-calendar fs-16 text-master bold pull-left p-r-10"></span>
            <p class="inline text-master semi-bold overflow-hidden no-margin">
              <%= @event.start_time.in_time_zone.utc.strftime('%B %e, %Y %l:%M%P') %>
              <span class="small-text clearfix hint-text">
                <%= @event.start_time.in_time_zone.utc.strftime('%B %e, %Y %l:%M%P') %> to <%= @event.end_time.in_time_zone.utc.strftime('%B %e, %Y %l:%M%P') %>
              </span>
            </p>
        </div>
        <div class="event-address full-border-light padding-10 p-l-15">
          <span class="fa fa-map-marker fs-16 text-master bold pull-left p-r-10"></span>
          <address class="text-master semi-bold overflow-hidden no-margin">
              <%= @event.address %>
            <span class="small-text clearfix hint-text">
              <%= @event.address %>
            </span>
          </address>
        </div>
      </div>
    </div>

      <div class="panel box-shadow m-t-10">
        <div class="panel-heading">
          <div class="panel-title b-b b-great p-b-5">
            Attending
          </div>
        </div>
        <div class="panel-body">
          <% @event.get_attendees.take(11).each do |user| %>
            <div class="col-md-2 no-padding">
              <%= link_to(profile_path(user), class: 'inline') do %>
                <%= image_tag(user.get_avatar, data: {src: user.get_avatar, src_retina: user.get_avatar, toggle: "tooltip", container: "body"}, title: user.name, class: "image-responsive-height") %>
              <% end %>
            </div>
          <% end %>
          <% if @event.get_attendees.length >  11 %>
            <div class="col-md-2 no-padding p-t-10">
              <a href="#more" class="bold text-brand fs-22 p-l-10">+22</a>
            </div>
          <% end %>
        </div>
      </div>
      </div>
      <div class="col-md-8 col-sm-8 no-padding p-r-15">
        <div class="social">
          <div class="jumbotron full-border-light-left" data-pages="parallax">
            <div class="event-start inline hint-text m-r-10">
              <span class="fa fa-calendar m-l-15"></span>
              <%= local_time(@event.start_time, '%b %e') %>
              <p class="pull-right text-white fs-16 m-t-10 m-r-15"><span class="fa fa-university"></span>
                Hosted by <%= link_to(@event.owner.name, profile_path(@event.owner), class: 'text-white b-b b-white p-b-5') %>
              </p>
            </div>
            <%= render partial: 'cover' %>
          </div>
        </div>
        <div class=" box-shadow bg-master-lightest">
          <%= render partial: 'menu' %>
        </div>

        <div class="panel box-shadow no-border m-t-10">
          <ul class="nav nav-tabs nav-tabs-simple bg-white">
              <li class="active">
                <a data-toggle="tab" href="#tab_people">
                  <i class="fa fa-graduation-cap"></i> Event Info
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-lightbulb-o"></i> Questions
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-lightbulb-o"></i> Attending
                </a>
              </li>
          </ul>

          <div class="tab-content event-tabs">

            <div class="tab-pane active" id="tab_event_info">
              <%= render partial: 'description' %>
            </div>

            <div class="tab-pane" id="tab_ideas">
            </div>

            <div class="tab-pane" id="tab_events">
            </div>

          </div>
        </div>
      </div>
  </div>
</div>

</div>

