<%= cache(['beta', 'home_page_tablet', 'v1']) do %>
  <div class="splash-wrapper">
      <section class="slider-caption">
        <div class="container">
          <div class="row">
            <div class="col-md-8 auto-margin hero-text text-center">
              <%= image_tag('badges/idea-guy.png') %>
              <h1 class="p-t-10 clearfix displayblock">
                Build and validate your startup idea with <span class="bold">peers and mentors</span>
              </h1>
            </div>
          </div>
          <div class="row">
                <div class="col-md-6 auto-margin">
                  <div class="slider-caption-text text-center">
                    <div class="btn-box p-t-20">
                      <%= link_to(page_path('learn'), class: "btn btn-ghost text-white") do %>
                        <i class="icon arrow_triangle-right_alt"></i>Learn more
                      <% end %>
                      <%= link_to('Join as Mentor', page_path('request_invite'), class: "m-l-10 btn btn-ghost text-white") %>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </section>
    <%= render partial: 'globals/small_footer_tablet' %>
  </div>
<% end %>