<%
  meta property: {
    robots: "nofollow",
    charset: "utf-8",
    google: "notranslate",
    alexaVerifyID: "xDHxdz_2gqDx5OsChw00vOyCk3k"
  }
%>

<%
  meta title: "How hungryhead works - a collaborative network",
     description: "Understand the technical bits about hungryhead - a new way to start entrepreneurship for students studying in schools, colleges and universities",
     keywords: %w(student\ entrepreneurship school\ entrepreneurs student\ entrepreneurs idea\ collaboration universities\ entrepreneurship collaborative\ network\ students schools\ entrepreneurship entrepreneurship\ ideas idea\ validation student\ idea\ validation student\ idea\ collaboration global\ ideas\ platform)
%>

<%
  meta twitter: {
    card: "summary_large_image",
    site: "@hungryhead_co",
    title: "How hungryhead works",
    image: "https:#{image_url('how_it_works.jpeg')}",
    description: "Understand the technical bits about hungryhead - a new way to start entrepreneurship for students",
  }
%>

<%
  meta og: {
    image: "https:#{image_url('how_it_works.jpeg')}",
    title: "How hungryhead works",
    url: "#{request.original_url}",
    description: "Understand the technical bits about hungryhead - a new way to start entrepreneurship for students",
    site_name: "Hungryhead",
    locale: "en_GB",
    type: "article"
  }
%>

<% cache(['beta', 'how_it_works', 'v1', "#{browser.mobile? ? 'mobile' : 'desktop'}"]) do %>
  <div class="how-wrapper bg-white">
    <div class="how">
      <div class="jumbotron no-margin">
          <div class="how-photo">
          <div class="vmiddle">
          <div class="col-md-4 auto-margin no-padding <%= browser.mobile? ? 'p-b-40 p-t-20' : ''  %>">
            <div class="hero-section inner text-center">
                <h1 class="text-white bold">
                  How it works
                </h1>
                <p class="text-white">Understand the technical bits</p>
            </div>
            </div>
        </div>
        </div>
      </div>
    </div>

    <section class="bg-white text-center wrapper-small full-border-light-bottom no-overflow" id="intro">
      <div class="col-sm-10 col-xs-12 col-md-8 auto-margin">
        <h1 class="m-t-5 m-b-20">
          Hungryhead help students discover, collaborate and validate startup ideas online with peers and mentors.
        </h1>
        <p class="col-sm-10 col-md-10 auto-margin m-b-20 fs-16">
          If you're looking for a general overview of how to use Hungryhead to help you with your idea, these fundamentals will help you setup your account and create your idea.
        </p>
      </div>
    </section>

    <!-- BEGIN CONTENT SECTION -->
    <section class="bg-master-lightest wrapper-small no-overflow" id="join">
      <div class="container col-md-offset-1">
        <div class="col-sm-6 col-md-5 col-xs-12">
          <h1 class="m-t-5 m-b-20">Create an account</h1>
          <p class="m-b-20 fs-16">
            If you are a university or college student you can <%= link_to('get started', new_user_registration_path) %> by creating an account. You will need your university or college email address to register as student or faculty.
          </p>
          <p class="m-b-20 fs-16">
            If you are an alumni or interested in contributing your expertise please <%= link_to('Request an invite', get_started_path, class: 'bold') %>.
          </p>
        </div>
        <div class="col-sm-5 col-md-5 hidden-xs col-sm-offset-1">
          <div class="content-mask-md m-t-40 text-center">
            <%= image_tag('product/join.png', class: "image-responsive-height lazy b-lightgrey b-a box-shadow") %>
          </div>
        </div>
      </div>
    </section>
    <!-- END CONTENT SECTION -->

    <!-- BEGIN CONTENT SECTION -->
    <section class="wrapper-small no-overflow" id="complete_your_profile">
      <div class="container col-md-offset-1">
        <div class="col-sm-5 col-md-5 hidden-xs">
          <div class="content-mask-md text-center">
            <%= image_tag('product/connect-community.png', class: "image-responsive-height auto-width lazy b-lightgrey b-a box-shadow") %>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 col-xs-12 sm-m-t-40 col-sm-offset-1">
          <h1 class="m-t-5 m-b-20">Complete your profile</h1>
          <p class="m-b-20 fs-16">
            Complete your profile and get discovered quickly - enter markets you are interested in, locations you are based, skills you have and subjects studied.
          </p>
          <p class="m-b-20 fs-16">
            Filling these details will help others in finding you.
          </p>
        </div>
      </div>
    </section>
    <!-- END CONTENT SECTION -->

    <!-- BEGIN CONTENT SECTION -->
    <section class="bg-master-lightest wrapper-small no-overflow" id="connect">
      <div class="container col-md-offset-1">
        <div class="col-sm-6 col-xs-12 col-md-5">
          <h1 class="m-t-5 m-b-20">Connect with peers</h1>
          <p class="fs-16">
            One of our core ideas is to create a culture of cross-pollination among students from around the world to connect and work on a startup idea and achieve shared goals, together.
          </p>
          <p class="m-b-20 fs-16">
            Follow and meet like-minded students from around the world.
          </p>
        </div>
        <div class="col-sm-5 hidden-xs col-md-5 col-sm-offset-1">
          <div class="content-mask-md m-t-40">
            <%= image_tag('product/community_connect.png', class: "image-responsive-height lazy b-lightgrey b-a box-shadow") %>
          </div>
        </div>
      </div>
    </section>
    <!-- END CONTENT SECTION -->

    <!-- BEGIN CONTENT SECTION -->
    <section class="wrapper-small no-overflow" id="share_skills">
      <div class="container col-md-offset-1">
        <div class="col-sm-5 hidden-xs col-md-5">
          <div class="text-center">
            <i class="fa fa-search fs-50 hidden-xs"></i>
          </div>
          <div class="content-mask-md m-t-20">
            <%= image_tag('product/tag.png', class: "image-responsive-height box-shadow lazy b-lightgrey b-a") %>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 sm-m-t-40  col-md-5 col-sm-offset-1">
          <h1 class="m-t-5 m-b-20">Share Your Skills</h1>
          <p class="m-b-20 fs-16">
            You can offer your skills and expertise if you don't have a startup idea and can collaborate and contribute.
          </p>
        </div>
      </div>
    </section>
    <!-- END CONTENT SECTION -->

    <!-- BEGIN CONTENT SECTION -->
    <section class="bg-master-lightest wrapper-small no-overflow" id="pitch_idea">
      <div class="container col-md-offset-1">
        <div class="col-sm-6 col-md-5 col-xs-12">
          <h1 class="m-t-5 m-b-20">Pitch Your Idea</h1>
          <p class="m-b-20 fs-16">
            If you have a startup idea you can get started by creating your idea profile.
          </p>
          <p class="m-b-20 fs-16">
            Your idea won't be published until you do so.
          </p>
        </div>
        <div class="col-sm-5 col-sm-offset-1 hidden-xs col-md-offset-2">
          <div class="content-mask-md">
            <div class="device_morph pull-center-inner">
              <div class="screen">
                <div class="iphone-border">
                  <%= image_tag('product/pitch_idea.png', class: "image-responsive-height auto-width lazy") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END CONTENT SECTION -->

    <!-- BEGIN CONTENT SECTION -->
    <section class="wrapper-small no-overflow" id="collaboration">
      <div class="container col-md-offset-1">
        <div class="col-sm-5 col-md-5 hidden-xs">
          <div class="content-mask-md text-center">
            <%= image_tag('product/collaboration.png', class: "image-responsive-height auto-width lazy") %>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 sm-m-t-40 col-xs-12 col-sm-offset-1">
          <h1 class="m-t-5 m-b-20">Collaborate with peers</h1>
          <p class="m-b-20 fs-16">
            Hop into a conversation and introduce yourself. If you have an idea share it with others and encourage them to leave a feedback. If you have any feedbacks or questions for other ideas, visit their profile and collaborate. You can also subscribe to nearby events and meet new people in person.
          </p>
          <p class="fs-16">
            All communication happens in realtime.
          </p>
        </div>
      </div>
    </section>
    <!-- END CONTENT SECTION -->

    <!-- BEGIN CONTENT SECTION -->
    <section class="bg-master-lightest wrapper-small no-overflow" id="measure">
      <div class="container col-md-offset-1">
        <div class="col-sm-6 col-md-5 col-xs-12">
          <h1 class="m-t-5 m-b-20">Measure metrices</h1>
          <p class="m-b-20 fs-16">
            Analyse how your idea is performing, understand areas your idea needs improvements and validate your idea, practically.
          </p>
          <p class="fs-16">
            We have built an integrated dashboard.
          </p>
        </div>
      <div class="col-sm-5 col-md-5 col-sm-offset-1 hidden-xs">
        <div class="content-mask-md m-t-40">
          <%= image_tag('product/leaderboard.png', class: "image-responsive-height box-shadow lazy b-lightgrey b-a") %>
        </div>
      </div>
      </div>
    </section>
    <!-- END CONTENT SECTION -->
    <!-- BEGIN CONTENT SECTION -->
    <section class="wrapper-small no-overflow" id="gamification">
      <div class="container col-md-offset-1">
        <div class="col-sm-5 col-md-5 hidden-xs">
          <div class="content-mask-md m-t-40 text-center">
            <%= image_tag('product/gamification.png', class: "image-responsive-height lazy w110") %>
            <%= image_tag('product/idea_badges.png', class: "image-responsive-height") %>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 col-sm-offset-1">
          <h1 class="m-t-5 m-b-20">Gamification</h1>
          <p class="m-b-20 fs-16">
            Every concept on our platform is supported by Game techniques to make the journey fun and rewarding for everyone. Most of the game concepts are taken from the startup world like <em>- investing into an idea, making a return on investment, giving feedbacks, asking questions and voting ideas</em>.
          </p>
          <p class="fs-16">
            We have integrated these concepts to let you explore the real world of startups, all in one place.
          </p>
        </div>
      </div>
    </section>
    <div class="p-t-100"></div>
    <!-- END CONTENT SECTION -->
  </div>
<% end %>
<%= render partial: 'globals/footer' %>

