<%= cache(['beta', 'how_it_works', 'v1']) do %>
<div class="how-wrapper bg-white">
  <div class="how" data-pages="social">
    <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
        <div class="how-photo">
        <div class="container vmiddle">
        <div class="col-md-4 p-t-40 auto-margin no-padding">
          <div class="hero-section inner text-center">
              <h1 class="text-white">
                How it works
              </h1>
              <p class="text-white">Understand the technical bits</p>
              <div class="btn-box m-t-20">
                <%= link_to('Get Started', get_started_path, class: "btn btn-ghost") %>
              </div>
          </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <div class="profile-nav bg-master-lighter displayblock overflow-hidden p-l-15">
    <div class="container text-center">
      <ul class="profile-name inline no-style p-t-15 p-b-15 no-margin">
        <li class="inline p-l-15 p-r-15">
          <a class="bold fs-14 font-opensans" href="#join">1. Join</a>
        </li>
        <li class="inline p-l-15 p-r-15">
          <a class="bold fs-14 font-opensans" href="#complete_your_profile">2. Complete your profile</a>
        </li>
        <li class="inline p-l-15 p-r-15">
          <a class="bold fs-14 font-opensans" href="#connect">3. Connect</a>
        </li>
        <li class="inline p-l-15 p-r-15">
          <a class="bold fs-14 font-opensans" href="#share_skills">4. Share skills</a>
        </li>
        <li class="inline p-l-15 p-r-15">
          <a class="bold fs-14 font-opensans" href="#pitch_idea">5. Pitch</a>
        </li>
        <li class="inline p-l-15 p-r-15">
          <a class="bold fs-14 font-opensans" href="#collaboration">6. Collaborate</a>
        </li>
        <li class="inline p-l-15 p-r-15">
          <a class="bold fs-14 font-opensans" href="#measure">7. Validate</a>
        </li>
        <li class="inline p-l-15 p-r-15">
          <a class="bold fs-14 font-opensans" href="#gamification">8. Gamification</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- BEGIN CONTENT SECTION -->
  <section class=" bg-master-lightest wrapper-small no-overflow" id="join">
    <div class="container">
      <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <div class="col-sm-5">
            <h1 class="m-t-5 m-b-20">Create an account</h1>
            <p class="m-b-20">
              If you are an university or college student you can <%= link_to('get started', new_user_registration_path, class: 'b-b b-grey p-b-5') %> by creating an account.
              <span class="small hint-text">You will need your university or college email address.</span>
            </p>
            <h5 class="m-b-20">
              If you are an alumni or interested in contributing your expertise please <%= link_to('Request an invite', request_invite_path, class: 'b-b b-grey p-b-5 bold') %>.
            </h5>
          </div>
          <div class="col-sm-6 col-sm-offset-1 xs-p-l-15 xs-p-r-15">
            <div class="content-mask-md">
              <%= image_tag('product/join.png', class: "image-responsive-height lazy b-lightgrey b-a box-shadow") %>
            </div>
          </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT SECTION -->

  <!-- BEGIN CONTENT SECTION -->
  <section class="wrapper-small no-overflow" id="complete_your_profile">
    <div class="container">
      <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <div class="col-sm-4">
            <div class="content-mask-md">
              <%= image_tag('product/connect-community.png', class: "image-responsive-height auto-width lazy b-lightgrey b-a box-shadow") %>
            </div>
          </div>
          <div class="col-sm-6 col-sm-offset-2 xs-p-l-15 xs-p-r-15">
            <h1 class="m-t-5 m-b-20">Complete your profile</h1>
            <p class="m-b-20">
              Complete your profile and get discovered quickly - enter markets you are interested in, locations you are based, skills you have and subjects studied.
            </p>
            <h5 class="m-b-20">
              Filling these details will help others in finding you.
            </h5>
          </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT SECTION -->

  <!-- BEGIN CONTENT SECTION -->
  <section class="bg-master-lightest wrapper-small no-overflow" id="connect">
    <div class="container">
      <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <div class="col-sm-5">
            <h1 class="m-t-5 m-b-20">Connect with peers</h1>
            <p>
              One of our core ideas is to create a culture of cross-pollination among students from around the world to achieve shared goals, together.
            </p>
            <h5 class="m-b-20">
              Follow and meet like minded students from around the world.
            </h5>
          </div>
          <div class="col-sm-5 col-md-offset-2 xs-p-l-15 xs-p-r-15">
            <div class="content-mask-md">
              <%= image_tag('product/follow_friends.png', class: "image-responsive-height lazy b-lightgrey b-a box-shadow") %>
            </div>
          </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT SECTION -->

  <!-- BEGIN CONTENT SECTION -->
  <section class="wrapper-small no-overflow" id="share_skills">
    <div class="container">
      <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <div class="col-sm-5 xs-p-l-15 xs-p-r-15">
            <div class="text-center">
              <i class="fa fa-search fs-50"></i>
            </div>
            <div class="content-mask-md m-t-20">
              <%= image_tag('product/tag.png', class: "image-responsive-height box-shadow lazy b-lightgrey b-a") %>
            </div>
          </div>
          <div class="col-sm-6 col-sm-offset-1">
            <h1 class="m-t-5 m-b-20">Share Your Skills</h1>
            <p class="m-b-20">
              You can offer your skills and expertise if you don't have an startup idea and can collaborate and learn.
            </p>
          </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT SECTION -->

  <!-- BEGIN CONTENT SECTION -->
  <section class="bg-master-lightest wrapper-small no-overflow" id="pitch_idea">
    <div class="container">
      <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <div class="col-sm-6">
            <h1 class="m-t-5 m-b-20">Pitch Your Idea</h1>
            <p class="m-b-20">
              If you have an startup idea you can get started by creating your idea profile. Your idea won't be published until you do so.
            </p>
            <h5 class="m-b-20">
              You can control who can see your idea from your idea profile.
            </h5>
          </div>
          <div class="col-sm-5 col-sm-offset-1 xs-p-l-15 xs-p-r-15">
            <div class="content-mask-md">
              <div class="device_morph pull-center-inner" id="iphone01" data-pages="float" data-max-top-translate="40" data-max-bottom-translate="300" data-speed="-0.1" data-delay="1000" data-curve="ease">
                <div class="screen">
                  <div class="iphone-border">
                    <%= image_tag('product/pitch_idea.png', class: "image-responsive-height box-shadow lazy b-lightgrey b-a") %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT SECTION -->

  <!-- BEGIN CONTENT SECTION -->
  <section class="wrapper-small no-overflow" id="collaboration">
    <div class="container">
      <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <div class="col-sm-5">
            <div class="content-mask-md text-center">
              <%= image_tag('product/comment.png', class: "image-responsive-height box-shadow lazy b-lightgrey b-a") %>
            </div>
          </div>
          <div class="col-sm-5 col-sm-offset-2 xs-p-l-15 xs-p-r-15">
            <h1 class="m-t-5 m-b-20">Collaborate with peers</h1>
            <p class="m-b-20">
              Hop into a conversation and introduce yourself. If you have an idea share it with others and encourage them to leave a feedback. If you have any feedbacks or questions for other ideas, visit their profile and collaborate.
            </p>
            <h5 class="col-md-8 no-padding">
              All communication happens in realtime.
            </h5>
          </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT SECTION -->

  <!-- BEGIN CONTENT SECTION -->
  <section class="bg-master-lightest wrapper-small no-overflow" id="measure">
    <div class="container">
      <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <div class="col-sm-5">
            <h1 class="m-t-5 m-b-20">Measure metrices and validate</h1>
            <p class="m-b-20">
              Analyse how your idea is performing, understand areas your idea needs improvements and validate your idea, practically.
            </p>
            <h5>
              We have built an integrated dashboard.
            </h5>
          </div>
        <div class="col-sm-5 col-sm-offset-2 xs-p-l-15 xs-p-r-15">
          <div class="content-mask-md">
            <%= image_tag('product/leaderboard.png', class: "image-responsive-height box-shadow lazy b-lightgrey b-a") %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT SECTION -->
  <!-- BEGIN CONTENT SECTION -->
  <section class="wrapper-small no-overflow" id="gamification">
    <div class="container">
      <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <div class="col-sm-5">
            <div class="content-mask-md m-t-30">
              <%= image_tag('product/idea_badges.png', class: "image-responsive-height box-shadow lazy b-lightgrey b-a") %>
            </div>
          </div>
          <div class="col-sm-5 col-sm-offset-2 xs-p-l-15 xs-p-r-15">
            <h1 class="m-t-5 m-b-20">Gamification</h1>
            <p class="m-b-20">
              Every concept on our platform is supported by Game techniques to make the journey fun and rewarding for everyone. Most of the game concepts are taken from the startup world like <em>- investing into an idea, making return on investment, giving feedbacks, asking questions and voting ideas</em>.
            </p>
            <h5>
              We have integrated these concepts to let you explore the real world of startups, all in one place.
            </h5>
          </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT SECTION -->

  <section id="mission" class="mission">
      <div class="bg-overlay">
          <div class="container">
              <div class="wrapper-small">
                  <div class="row p-b-60">
                      <div class="col-md-8 col-md-offset-2 text-center">
                          <h3 class="global">
                            <%= image_tag("badges/scholar.png", width: "100px", height: "100px") %>
                          </h3>
                          <h1 class="text-white bold m-t-20">
                            Our mission is to make entrepreneurship a traditional career path, globally.
                          </h1>
                          <div class="social_icons m-t-30">
                            <i class="fa fa-twitter inline fs-40 text-white"></i>
                            <i class="fa fa-facebook inline fs-40 text-white  m-l-15"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <%= render partial: 'globals/footer' %>
</div>
<% end %>

