<%= cache(['beta', 'page', 'v1']) do %>
<div class="learn-wrapper bg-white">
  <div class="learn" data-pages="social">
    <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
        <div class="learn-photo">
        <div class="container vmiddle">
        <div class="row p-t-40">
              <div class="col-md-8 auto-margin">
                  <div class="hero-section">
                      <h1 class="text-white">Practically explore entrepreneurship with peers and mentors</h1>
                      <p class="text-white fs-16">Hungryhead is a new way of exploring entrepreneurship as a career path. Instead of cramming business books and old-age business mantras, it helps you learn by doing.</p>
                      <div class="btn-box m-t-20">
                        <%= link_to('Get Started', get_started_path, class: "btn btn-ghost m-l-10") %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <div class="page-container bg-white">
    <div class="wrapper-small">
      <div class="col-md-7 auto-margin">
        <div class="p-b-30">
          <h2 class="normal">Things to know about Hungryhead:</h2>
          <div class="divider b-b b-grey b-md b-small"></div>
        </div>
        <div>
          <h3 class="m-t-30 semi-bold">1. Hungryhead is a new way to explore entrepreneurship. </h3>
            <p class="fs-16">
              We want to fundamentally change the way entrepreneurship has been pursued worldwide. Till now, teaching has been an evolutionary process where one generation passed on the knowledge to the next generation. People wrote books, invented courses and used various other methadologies to teach next generation how to do certain things.
            </p>

            <p class="fs-16">
              Now, some of the things does require "teaching" however, some don't, like entrepreneurship and that's what we want to change with hungryhead. Instead, of reading outdated books or acquiring knowlege it let's one explore by doing, now.
            </p>

          </p>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">2. Anyone can <%= link_to('join', new_student_registration_path) %> our community</h3>
          <p class="fs-16">
            Hungryhead is currently open for Students studying in colleges and universities. Mentors can join hungryhead by requesting an invite, please, <%= link_to("click here", join_as_mentor_path) %>. If you are a teacher or faculty in a college or university, please, <%= link_to("click here", new_teacher_registration_path) %>
          </p>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">3. It's all about collaboration.</h3>
          <p class="fs-16">
            Collaboration is an important aspect of entrepreneurship therefore, we have created a platform where collaboration takes the first seat so, that everyone can clearly communicate their ideas to peers and mentors.
          </p>
          <p class="fs-16">
            Together with mentors and peers anyone can practically explore idea and see wether their idea has some legs.
          </p>

        </div>

        <div>
          <h3 class="m-t-30 semi-bold">4. You own 100% of your idea.</h3>
          <p class="fs-16">
            We don't take any ownership in anyone's idea.
          </p>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">5. Idea privacy and sharing.</h3>
          <p class="fs-16">
            Intellectual property and privacy has taken a great importance nowadays
            Privacy topic requires more exploration but briefly, anyone can control privacy of their idea on hungryhead.
          </p>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">6. Find people who can help you with your idea.</h3>
          <p>
            Together with mentors and teachers you can explore your idea and learn
          </p>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">8. Our Mission.</h3>
          <p>
            Our missing is to make entrepreneurship practical and traditional.
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="page-wrapper horz-section relative">
    <section id="cta" class="cta">
          <div class="cta-overlay">
              <div class="container">
                  <div class="wrapper-small p-b-100">
                      <div class="row">
                          <div class="col-md-8 col-md-offset-2 text-center">
                              <%= image_tag('badges/welcome.png') %>
                              <h1 class="text-white bold m-t-20">Let's get to know each other.</h1>
                              <p class="fs-16 text-white">Find us on</p>
                              <div class="social_icons m-t-30">
                                <i class="fa fa-twitter inline fs-40 text-white"></i>
                                <i class="fa fa-facebook inline fs-40 text-white  m-l-15"></i>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </section>
  </div>
  <%= render partial: 'globals/footer' %>
</div>
<% end %>

