<div class="learn-wrapper bg-white">
  <div class="learn">
    <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
      <div class="learn-photo">
        <div class="container vmiddle">
        <div class="row p-t-40 p-b-40">
              <div class="col-md-8 auto-margin">
                  <div class="hero-section inner">
                      <h1 class="text-white">Practically explore entrepreneurship with peers and mentors</h1>
                      <p class="text-white fs-16">Hungryhead is a new way of exploring entrepreneurship as a career path. Instead of cramming business books and old-age business mantras, it helps you learn by doing.</p>
                      <div class="btn-box m-t-20">
                        <%= link_to('Get Started', get_started_path, class: "btn btn-ghost") %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <div class="what-section bg-white">
    <div class="wrapper-small">
      <div class="col-md-7 auto-margin">
        <div class="p-b-30">
          <h2 class="normal">What is Hungryhead? </h2>
          <div class="divider b-b b-grey b-md b-small"></div>
        </div>
        <div>
          <h3 class="m-t-30 semi-bold">1. Hungryhead is a new way to explore entrepreneurship. </h3>
            <p class="fs-16">
               We realised that there can be a completely different approach towards entrepreneurship, approach where both learning and building happens together. Currently, the approach most entrepreneurs take is: theoretical, isolating and incremental to build and develop ideas. Hence, they end up building unnecessary products wasting time, energy and resources.
            </p>

            <p class="fs-16">
             The solution we have created is an engaging platform that simulates the real world of idea building into an online virtual environment. We bring together like-minded people for collaboration. The simulation occurs at a number of levels,
            </p>

            <ul class="fs-16">
              <li class="m-b-10"> Ideas can receive feedbacks and votes to simulate mentoring,</li>
              <li class="m-b-10"> Ideas can raise virtual investments, which simulates funding,</li>
              <li class="m-b-10"> Team building by connecting with relevant people</li>
              <li> Available to anyone, anywhere. *</li>
            </ul>

            <p class="fs-16 bold m-t-20"> Most importantly, it's practical</p>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">2. Anyone can <%= link_to('join', new_student_registration_path) %> our community</h3>
          <p class="fs-16">
            Hungryhead is currently open for students studying in colleges and universities. If you are an alumni or interested in contributing your expertise, you can join hungryhead by requesting an invite, please, <%= link_to("click here", request_invite_path) %>.
          </p>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">3. It's all about collaboration.</h3>
          <p class="fs-16">
            Collaboration is an important aspect of entrepreneurship therefore, we have created a platform where collaboration takes the first seat so, that everyone can clearly communicate their ideas to peers and mentors.
          </p>
          <p class="fs-16">
            Together with mentors and peers anyone can practically explore idea and see wether their idea has some legs.
          </p>

        </div>

        <div>
          <h3 class="m-t-30 semi-bold">4. You own 100% of your idea.</h3>
          <p class="fs-16">
            We don't take any ownership in anyone's idea.
          </p>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">5. Idea privacy and sharing.</h3>
          <p class="fs-16">
            Briefly, anyone can control privacy of their idea on hungryhead. You can either keep your idea private, public or share with people you know.
          </p>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">6. Find people who can help you with your idea.</h3>
          <p class="fs-16">
            Team building is an important aspect of entrepreneurship.
          </p>
        </div>

      </div>
    </div>
  </div>

  <section class="bg-master-lightest">
    <div class="container">
      <div class="md-p-l-20 md-p-r-20 xs-no-padding">
        <div class="row wrapper-small">
          <div class="col-sm-7 col-md-7 auto-margin xs-p-l-15 xs-p-r-15">
            <div class="p-b-30">
              <h2 class="normal">Why Hungryhead? </h2>
              <div class="divider b-b b-grey b-md b-small"></div>
            </div>
            <div>
              <p class="fs-16">
              Learning and acquiring knowledge are two different things - learning happens always in the present whereas knowledge about something is always of the past. Learning is very critical for entrepreneurship because it helps one see facts in that moment.

                We realised that there can be a completely different approach towards entrepreneurship.The approach most entrepreneurs take currenly are: theoretical, isolating and incremental to build ideas. Hence, a lot of entrepreneurs end up building unnecessary products wasting time, energy and resources.

                We see a fundamental problem with this approach i.e. our understanding about learning.
              </p>
              <p class="fs-16">
                Now, some of the things does require "teaching" (technical knowledge) however, some don't, like entrepreneurship and that's what we want to change with hungryhead. We want to fundamentally change the way entrepreneurship has been pursued worldwide. Instead, of reading outdated books or acquiring knowlege it let's one practically explore by doing, now.
              </p>
              <p class="fs-16">
                We have built a platform that we realise has potential to fix this problem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section id="mission" class="mission">
    <div class="bg-overlay">
        <div class="container">
            <div class="wrapper-small">
                <div class="row p-b-60">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h3 class="global">
                          <%= image_tag("badges/scholar.png", width: "100px", height: "100px") %>
                        </h3>
                        <h1 class="text-white bold">
                          Our mission is to make entrepreneurship a traditional career path, globally.
                        </h1>
                        <div class="social_icons m-t-30">
                          <i class="fa fa-twitter inline fs-40 text-white"></i>
                          <i class="fa fa-facebook inline fs-40 text-white  m-l-15"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>
<%= render partial: 'globals/footer' %>
