<%
  meta property: {
    robots: "nofollow",
    charset: "utf-8",
    google: "notranslate",
    alexaVerifyID: "xDHxdz_2gqDx5OsChw00vOyCk3k"
  }
%>

<%
  meta title: "Learn more about hungryhead - a collaborative network",
     description: "Things to know about hungryhead - a new way to start entrepreneurship for students studying in schools, colleges and universities through collaboration",
     keywords: %w(student\ entrepreneurship school\ entrepreneurs student\ entrepreneurs idea\ collaboration universities\ entrepreneurship collaborative\ network\ students schools\ entrepreneurship entrepreneurship\ ideas idea\ validation student\ idea\ validation student\ idea\ collaboration global\ ideas\ platform)
%>

<%
  meta twitter: {
    card: "summary_large_image",
    site: "@hungryhead_co",
    title: "Things to know about hungryhead",
    image: "https:#{image_url('Hungryhead_header.jpg')}",
    description: "Hungryhead is a new way to start entrepreneurship for students studying in schools, colleges and universities",
  }
%>
<%
  meta og: {
    image: "https:#{image_url('Hungryhead_header.jpg')}",
    title: "Things to know about hungryhead",
    url: "#{request.original_url}",
    description: "Hungryhead is a new way to start entrepreneurship for students studying in schools, colleges and universities",
    site_name: "Hungryhead",
    locale: "en_GB",
    type: "article"
  }
%>

<% cache(['beta', 'learn_more', 'v1', "#{browser.mobile? ? 'mobile' : 'desktop'}"]) do %>
  <div class="learn-wrapper bg-white">
    <div class="learn">
      <div class="jumbotron no-margin" data-pages="parallax">
        <div class="learn-photo">
          <div class="container vmiddle">
          <div class="row <%= browser.mobile? ? 'p-b-40 p-t-40' : ''  %>">
                <div class="col-md-8 auto-margin">
                    <div class="hero-section inner text-center">
                        <h1 class="text-white bold">
                          Entrepreneurship Reimagined
                        </h1>
                        <p class="text-white fs-16">
                          Things to know about hungryhead
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>

    <div class="what-section bg-white">
      <div class="wrapper-small">
        <div class="col-md-6 col-sm-10 auto-margin">
          <div>
            <h3 class="semi-bold">Hungryhead is a new way to start entrepreneurship</h3>
              <p class="fs-16 text-master">
                We believe that there must be a completely different approach towards entrepreneurship, approach where learning about the idea, validation and building happens together.
              </p>
              <p class="fs-16 text-master">
                Hungryhead is collaborative network for students to start and grow a community that is serious about building ideas that matter. We'll help you find and stay connected with people that care. Discuss, share, validate and build ideas with your new friends and learn practical startup concepts anytime, anywhere.
              </p>
              <h5 class="bold">
                Hungryhead simulates the real-world of idea building into an online virtual environment using collaboration and gamification.
              </h5>
              <h5 class="bold no-margin">The simulation occurs at a number of levels: </h5>
              <div class="divider b-b b-green b-small m-t-10 m-b-20"></div>
              <ul class="fs-16">
                <li class="m-b-10 text-master">
                  Ideas can receive feedbacks, votes, and virtual investments
                </li>
                <li class="m-b-10 text-master">
                  Team building by connecting with people that care
                </li>
                <li class="m-b-10 text-master">
                  Idea validation with peers and mentors
                </li>
                <li class="m-b-10 text-master">
                  Practical learning, for everyone
                </li>
              </ul>
          </div>
          <div>
            <h3 class="m-t-30 semi-bold">Exclusive global community</h3>
            <p class="fs-16 text-master">
              Available for students studying in schools, colleges and universities. If you are a student you can get started by <%= link_to('Creating an account', new_user_registration_path) %>.
            </p>
            <p class="fs-16 text-master">
              If you are an alumni or interested in mentoring, you can join hungryhead by requesting an <%= link_to("Invite", get_started_path) %>.
            </p>
          </div>
          <div>
            <h3 class="m-t-30 semi-bold">Collaborate beyond your institution</h3>
            <p class="fs-16 text-master">
              Discover new startup ideas and connect with peers across institutions from around the world.
            </p>
          </div>
          <div>
            <h3 class="m-t-30 semi-bold">Gamification</h3>
            <p class="fs-16 text-master">
              We took the real-world startup concepts and integrated it into our Gamification engine. Earn points, invest in useful ideas using virtual app coins, make a return on your investments and receive badges.
            </p>
            <p class="fs-16 text-master">
              <%= link_to('Click', gamification_path) %> to learn how gamification works on hungryhead.
            </p>
          </div>
          <div>
            <h3 class="m-t-30 semi-bold">For Academic Institutions</h3>
            <p class="fs-16 text-master">
              Our integrated dashboard lets academic institutions connect, manage and support entrepreneurial students seamlessly and efficiently.
            </p>
            <p class="fs-16 text-master">
              <%= link_to('Click', for_institutions_path) %> to learn more.
            </p>
          </div>
          <div class="divider b-b b-green b-small m-t-20"></div>
        </div>
      </div>
    </div>
    <section class="bg-master-lightest full-border-light text-center wrapper-small full-border-light-bottom no-overflow p-b-100" id="intro">
      <div class="col-sm-8 col-md-8 auto-margin">
        <h1 class="m-t-5 m-b-20">
          Take a product tour
        </h1>
        <%= link_to('Click here', product_path, class: 'main-button fs-13 bold') %>
      </div>
    </section>
  </div>
<% end %>
<%= render partial: 'globals/footer' %>
