<div class="join-wrapper bg-white">
  <%= cache(['beta', 'join_as_mentor_jumbotron', 'v1']) do %>
    <div class="join" data-pages="social">
      <div class="jumbotron" data-pages="parallax" data-social="cover">
          <div class="join-mentor-photo">
          <div class="container vmiddle">
          <div class="row inner">
                <div class="col-md-8 auto-margin">
                    <div class="hero-section text-center">
                        <%= image_tag('badges/wise.png') %>
                        <h1 class="text-white bold">Join as a mentor</h1>
                        <p class="text-white fs-16">Help students explore entrepreneurship</p>
                    </div><!-- /End Intro-Section -->
                </div><!-- /End Col -->
            </div><!-- /End Row -->
        </div>
        </div>
      </div>
    </div>
  <% end %>

  <section class="join-as-mentor-content">
    <%= cache(['beta', 'join_as_mentor_content', 'v1']) do %>
      <div class="col-md-6 auto-margin wrapper-small">
        <div class="divider b-b b-green b-md b-small"></div>
        <div>
          <h3 class="m-t-30">Hungryhead is a new way to learn entrepreneurship. </h3>
          <p class="text-master">
            We want to fundamentally change the way entrepreneurship has been persued.
          </p>
        </div>
      </div>
    <% end %>

    <div class="join-as-mentor-form wrapper-small bg-master-lightest">
      <div class="container">
          <%= react_component('JoinAsMentorForm') %>
      </div>
    </div>

  </section>

</div>

<%= render partial: 'globals/footer' %>

