<% cache(['beta', 'why', 'v1', "#{browser.mobile? ? 'mobile' : 'desktop'}"]) do %>
  <div class="learn-wrapper bg-white">
    <div class="learn">
      <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
        <div class="why-photo">
          <div class="container vmiddle">
          <div class="row <%= browser.mobile? ? 'p-b-40 p-t-20' : ''  %>">
                <div class="col-md-8 auto-margin">
                    <div class="hero-section inner text-center">
                        <h1 class="text-white">Learn the reason</h1>
                        <p class="text-white fs-16">
                          Why we are doing, what we are doing?
                        </p>
                        <div class="btn-box m-t-20">
                          <%= link_to('Get Started', get_started_path, class: "btn btn-ghost") %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>

    <div class="what-section bg-white p-b-100">
      <div class="<%= browser.mobile? ? 'wrapper-small' : 'wrapper-lg'  %>">
        <div class="col-md-6 auto-margin">
          <%= render partial: 'pages/content/why' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render partial: 'globals/footer' %>
