<div class="wrapper-small idea-bg-gradient">
  <div class="col-md-6 jumbrotron text-center auto-margin" data-pages="parallax" data-social="cover">
    <div class="hero-text inner">
      <h2 class="text-white">
        <%= pluralize(@ideas.size, 'Idea') %>
        <span class="text-white">tagged with</span>
        <strong class="b-b b-white p-b-5"><%= params[:tag].capitalize.strip.gsub('-', ' ') %></strong>
      </h2>
    </div>
  </div>
</div>

<div class="container p-t-40 p-b-80">
  <div class="idea-list">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2" class="no-padding"><%= pluralize(@ideas.count, 'Result',) %> </th>
          <th>Follow to get updates</th>
          <th class="text-center">Idea Stats</th>
        </tr>
      </thead>
      <tbody>
        <% @ideas.each do |idea| %>
          <%= render partial: 'ideas/idea', locals: {idea: idea} %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="paging-container p-r-15">
      <%= will_paginate(@ideas, class: 'displayblock padding-10 paging_bootstrap pull-right pagination clearfix') %>
  </div>
</div>
</div>