<div class="wrapper-small people-bg-gradient">
  <div class="col-md-6 jumbrotron text-center auto-margin" data-pages="parallax" data-social="cover">
    <div class="hero-text inner clearfix">
      <h2 class="text-white"><%= pluralize(@users.size, 'Person') %>
        <span class="text-white">tagged with</span>
        <strong class="b-b b-white p-b-5"><%= params[:tag].capitalize.strip.gsub('-', ' ') %></strong>
      </h2>
    </div>
  </div>
</div>

<div class="container p-t-40 p-b-80">
    <div class="people-list">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th colspan="2" class="no-padding"><%= @users.count %> Results</th>
            <th>Connect</th>
            <th class="text-center">Stats</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <%= render partial: 'users/user', locals: {user: user} %>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if @users.next_page %>
      <div class="paging-container p-r-15">
        <%= will_paginate(@users, class: 'displayblock padding-10 paging_bootstrap pull-right pagination clearfix') %>
      </div>
    <% end %>
  </div>
</div>