<%= simple_form_for(InviteRequest.new, url: invite_requests_path, html: {role: 'form', class: "new_invite_request", id: "new_invite_request", honeypot: true }, remote: true) do |f| %>
 <%= f.hidden_field :user_type, value: "mentor" %>
 <div class="join-alumni-form m-t-10 clearfix">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.input_field :name, class: "string required form-control", placeholder: "Your name" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.input_field :url, as: :url, class: "string required form-control", placeholder: "Website, about me url" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
      <%= f.input_field :email, class: "string required form-control", placeholder: "Your email" %>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <p class="small-text text-white bold m-t-10">
        We will be touch in next 24 hours
      </p>
    </div>
  </div>
  <div class="form-buttons clearfix">
    <%= f.button :submit, value: 'Request invite', data: { disable_with: "Please wait..." }, class: 'btn text-white btn-brand m-t-10' %>
  </div>
</div>
<% end %>