<%= simple_form_for(InviteRequest.new, url: invite_requests_path, html: {role: 'form', class: "new_invite_request", id: "new_invite_request", honeypot: true }, remote: true) do |f| %>
 <%= f.hidden_field :user_type, value: "institution" %>
 <div class="join-alumni-form clearfix">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.input_field :name, class: "string required form-control", placeholder: "Institution Name" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group form-group-default">
        <%= f.input_field :url, as: :url, class: "string required form-control", placeholder: "Website url" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.input_field :email, class: "string required form-control", placeholder: "Your email eddress" %>
      </div>
    </div>
    <div class="col-sm-6">
      <p class="fs-12 m-t-10 text-white bold">
        We will be in touch within next 24 hours.
      </p>
    </div>
  </div>

  <div class="form-buttons">
     <%= f.button :submit, value: 'Submit', data: { disable_with: "Please wait..." }, class: 'btn btn-brand m-t-10 clearfix text-white' %>
  </div>

</div>
<% end %>