<div class="activity-header">
  <div class="user-avatar margin-right">
    <%= image_tag(version.user_avatar, width: "40px") %>
  </div>
  <span>
    <%= link_to(version.user_name, version.owner_url) %> made an <%= version.event %> <i class="ion-edit"></i> in <%= link_to(@idea.name, idea_path(@idea))%>
  </span>
  <span class="clearfix"><em><%= local_time_ago(version.created_at) %></em></span>
</div>

  <div class="activity-post">
    <div class="item-content">
      <div class="main-post-content">
        <div class="recipients clearfix">
      <%= Diffy::Diff.new(version.changeset['description'][0], version.changeset['description'][1], :include_diff_info=>false, :include_plus_and_minus_in_html=>false).to_s(:html_simple).html_safe if version.changeset['description'] %>
        <%= Diffy::Diff.new(version.changeset['sections'][0]['market'], version.changeset['sections'][1]['market'], :include_diff_info=>false, :include_plus_and_minus_in_html=>false).to_s(:html_simple).html_safe if version.changeset['sections'] %>
        <%= Diffy::Diff.new(version.changeset['sections'][0]['problems'], version.changeset['sections'][1]['problems'], :include_diff_info=>false, :include_plus_and_minus_in_html=>false).to_s(:html_simple).html_safe if version.changeset['sections'] %>
        <%= Diffy::Diff.new(version.changeset['sections'][0]['solutions'], version.changeset['sections'][1]['solutions'], :include_diff_info=>false, :include_plus_and_minus_in_html=>false).to_s(:html_simple).html_safe if version.changeset['sections'] %>
        <%= Diffy::Diff.new(version.changeset['sections'][0]['value_proposition'], version.changeset['sections'][1]['value_proposition'], :include_diff_info=>false, :include_plus_and_minus_in_html=>false).to_s(:html_simple).html_safe if version.changeset['sections'] %>
        <%= Diffy::Diff.new(version.changeset['sections'][0]['vision'], version.changeset['sections'][1]['vision'], :include_diff_info=>false, :include_plus_and_minus_in_html=>false).to_s(:html_simple).html_safe  if version.changeset['sections'] %>
        </div>
      </div>
    </div>
  </div>
