<div class="activity-box panel panel-default post_<%= feedback.id %>">
<div class="activity-item">
 <%= content_tag(:div, class: 'activity-header') do %>
 <span class="activity-badge float-right">
    <% if feedback.badged? && feedback.badges.length > 0 %>
      <img data-toggle="tooltip" data-placement="left" title="<%= feedback.user.name.capitalize %> has earned a <%= feedback.badges.first.custom_fields[:name].downcase %> badge" width="30px" src="<%= feedback.badges.first.custom_fields[:image] %>" />
    <% end %>
   <i class="fa ion-chatbubble margin-left"></i>
 </span>
  <div class="user-avatar margin-right">
    <%= image_tag(feedback.user.avatar.url(:avatar),  width: "40px;") %>
  </div>
    <%= content_tag(:span) do %>
     Feedback from <%= link_to(feedback.user.name, profile_path(feedback.user)) %>
    <% end %>
    <%= content_tag(:ul, class: "item-tags clearfix grey-links") do %>
      <%= content_tag(:li) do %>
        <%= link_to(profile_people_path(feedback.user.location_list.first.downcase.strip.gsub(' : ', '-').gsub(' ', '-').gsub(/[^\w-]/, ''))) do %>
          <i class="ion-location green-link"></i> <%= feedback.user.location_list.first %>
        <% end %>
      <% end %>
      <%= content_tag(:li) do %>
        <%= link_to(idea_feedback_path(@idea.slug, feedback.id)) do %>
          <%= local_time_ago(feedback.created_at) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div class="activity-post">
    <div class="item-content">
      <div class="main-post-content">
        <div class="recipients clearfix">
          <%= content_tag(:article, class: "activity-excerpt #{params[:action] == 'show' ? '' : 'readmore'} float-left") do %>
            <div class="activity-excerpt-content">
             <% if feedback.body.length > 250 && params[:action] == "index" %>
              <%= truncate(markdownify(feedback.body), escape: false, length: 250) %>
              <%= link_to 'See more', '', class: "read-more-link read-more-#{feedback.id}" %>
              <script>
                $('.read-more-<%= feedback.id %>').on('click', function(e) {
                  e.preventDefault()
                  $(this).closest(".activity-excerpt").find(".activity-excerpt-content").html('<%= escape_javascript markdownify(feedback.body) %>')
                })
              </script>
            <% else %>
              <%= markdownify(feedback.body) %>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="rate-box">
      <% if @idea.user_id == current_user.id %>
        <%= react_component('Rate', {record: feedback.id, voted: feedback.badged?, points: feedback.user.points(category: "Feedback_#{feedback.id}"), vote_url: rate_idea_feedback_path(idea_id: feedback.idea.id, id: feedback.id), css_class: 'main-button float-left margin-right'}.to_json) %>
      <% end %>
      </div>

      <ul class="item-tags float-left">
      <% if current_user != @idea.user %>
        <% liked = current_user.voted_for? feedback %>
        <%= react_component('Upvote', {record: feedback.id, voted: liked, vote_url: like_path(votable_type: feedback.class.to_s, votable_id: feedback.id), votes_count: feedback.cached_votes_total, likers_path: likers_path(votable_type: feedback.class.to_s, votable_id: feedback.id), css_class: 'vote-button add_vote'}.to_json) %>
      <% end %>
    </ul>
     <% if feedback.user_id == current_user.id && feedback.posted? %>
      <div class="post-actions float-right">
        <%= react_component('Trash', {record: feedback.id, delete_url: idea_feedback_path(@idea.slug, feedback.id)}.to_json) %>
      </div>
    <% end %>
    </div>
  </div>
</div>

<% data = render(template: 'comments/comments.json.jbuilder', locals: {comments: [], record: feedback}) %>

<%= react_component('CommentBox', {data: data, count: feedback.comments_count, comments_path: comments_path(commentable_type: feedback.class.to_s, id: feedback.id)}) %>
</div>


