<div class="page-sidebar" data-pages="sidebar">
  <div id="appMenu" class="sidebar-overlay-slide from-top">
  </div>
  <!-- BEGIN SIDEBAR HEADER -->
  <div class="sidebar-header text-center bg-solid-dark">
    <img src="<%= image_path('hungryhead_white.png') %>" alt="logo" data-src="<%= image_path('hungryhead_white.png') %>" data-src-retina="<%= image_path('hungryhead_white.png') %>" width="22">
  </div>
  <div class="sidebar-menu">
    <ul class="menu-items">
      <li class="m-b-10 m-t-30">
        <%= link_to(main_app.story_path, class: "detailed") do %>
          <span class="title">Story</span>
        <% end %>
      </li>
      <li class="m-b-10">
        <%= link_to(main_app.why_path, class: "detailed") do %>
          <span class="title">Why</span>
        <% end %>
      </li>
      <li class="m-b-10">
        <%= link_to(main_app.learn_path, class: "detailed") do %>
          <span class="title">What</span>
        <% end %>
      </li>
      <li class="m-b-10">
        <%= link_to(main_app.product_path, class: "detailed") do %>
          <span class="title">The product</span>
        <% end %>
      </li>
      <li class="m-b-10">
        <%= link_to(main_app.gamification_path, class: "detailed") do %>
          <span class="title">Gamification</span>
        <% end %>
      </li>
      <li class="m-b-10">
        <%= link_to(main_app.collaboration_path, class: "detailed") do %>
          <span class="title">Collaboration</span>
        <% end %>
      </li>
      <li class="m-b-10">
        <%= link_to(main_app.how_it_works_path, class: "detailed") do %>
          <span class="title">How it works</span>
        <% end %>
      </li>
      <li class="m-b-10">
        <%= link_to(main_app.get_started_path, class: "detailed") do %>
           <span class="title">Get Started</span>
        <% end %>
      </li>
      <li class="m-b-10">
        <%= link_to(main_app.root_path, class: "detailed") do %>
           <span class="title">Questions?</span>
        <% end %>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>