<!-- START FOOTER -->
<div class="small-footer p-t-20 bg-light-grey">
<div class="container">
  <div class="top-footer clearfix">
    <article class="page-list inline">
      <ul class="no-margin no-padding">
        <li>
          <%= meta_events_tracked_link_to(main_app.story_path, class: "#{current_class?(main_app.story_path)}", :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Our Story' } }) do %>
            <span>Our story</span>
          <% end %>
        </li>
        <li>
          <%= meta_events_tracked_link_to('Collaborate', site_feedback.root_path, class: "#{current_class?(site_feedback.root_path)}", :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Collaborate' } }) %>
        </li>
        <li>
          <%= meta_events_tracked_link_to('Terms', main_app.terms_path, class: "#{current_class?(main_app.terms_path)}", :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Terms' } }) %>
        </li>
        <li>
          <%= meta_events_tracked_link_to('Our rules', main_app.rules_path, class: "#{current_class?(main_app.rules_path)}", :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Our rules' } }) %>
        </li>
        <li>
          <%= meta_events_tracked_link_to('Cookies Policy', main_app.cookies_path, class: "#{current_class?(main_app.cookies_path)}", :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Cookies' } }) %>
        </li>
        <li>
          <%= meta_events_tracked_link_to('Privacy Policy', main_app.privacy_path, class: "#{current_class?(main_app.privacy_path)}", :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Privacy' } }) %>
        </li>
      </ul>
    </article>
    <p class="copyright-text text-master">© <%= Time.now.year %> hungryhead.co ®</p>
</div>
</div>
<!-- END FOOTER -->
