<% cache(["footer_menu"]) do %>
  <!-- START FOOTER -->
  <div class="small-footer m-t-100 p-t-20 bg-light-grey">
  <div class="container">
    <div class="top-footer clearfix">
      <article class="page-list">
        <ul class="no-margin no-padding">
          <li>
            <%= link_to('Our rules', rules_path, class: "#{current_class?(rules_path)}") %>
          </li>
          <li>
            <%= link_to(story_path, class: "#{current_class?(story_path)}") do %>
              <span>Story</span>
            <% end %>
          </li>
          <li>
            <%= link_to('Support', support_path, class: "#{current_class?(support_path)}") %>
          </li>
          <li>
            <%= link_to('Cookies Policy', cookies_path, class: "#{current_class?(cookies_path)}") %>
          </li>
          <li>
            <%= link_to('Privacy Policy', privacy_path, class: "#{current_class?(privacy_path)}") %>
          </li>
        </ul>
      </article>
    <p class="copyright-text text-master fs-13">© 2015 hungryhead.co</p>
  </div>
  </div>
  <!-- END FOOTER -->
<% end %>