<% cache(["guest_menu", "#{request.params[:action]}", "v1"]) do %>
  <!-- START HEADER -->
  <div class="header">
  <div class="container">
    <div class=" pull-left">
      <div class="header-inner">
        <div class="brand inline">
        <%= link_to(main_app.root_path, class: 'inline m-t-15 text-white') do %>
          <img src="<%= image_path('hungryhead_white.png') %>" alt="logo" data-src="<%= image_path('hungryhead_white.png') %>" data-src-retina="<%= image_path('hungryhead_white.png') %>" width="30">
          <span>beta</span>
        <% end %>
        </div>
        <ul class="pages-links fs-16 inline no-margin no-style m-l-20 p-l-30 p-r-20">
          <li class="p-r-15 fs-15 inline font-heading">
            <%= link_to(main_app.why_path, class: "#{current_class?(main_app.why_path)}") do %>
              <span class="text-white bold">Why</span>
            <% end %>
         </li>
          <li class="p-r-15 fs-15 inline font-heading">
            <%= link_to(main_app.learn_path, class: "#{current_class?(main_app.learn_path)}") do %>
              <span class="text-white bold">What</span>
            <% end %>
         </li>
         <li class="p-r-15 fs-15 inline font-heading">
           <%= link_to(main_app.product_path, class: "#{current_class?(main_app.product_path)}") do %>
             <span class="text-white bold">The Product</span>
           <% end %>
         </li>
         <li class="p-r-15 fs-15 inline font-heading">
           <%= link_to(main_app.how_it_works_path, class: "#{current_class?(main_app.how_it_works_path)}") do %>
             <span class="text-white bold">How it works </span>
           <% end %>
         </li>
        </ul>
      </div>
    </div>

    <div class="inline pull-right">
      <div class="visible-lg visible-md visible-sm m-t-10">
        <div class="pull-left p-t-10 <%= 'p-r-20' unless params[:action] == "home" %>  font-heading">
          <%= link_to('Questions?', help.root_path, title: "Get help", class: 'text-white bold') %>
        </div>
        <% unless params[:action] == "home" %>
          <div class="pull-left p-t-5 font-heading">
            <%= link_to('Beta Registeration', main_app.get_started_path, title: "Beta Registeration", class: 'btn btn-ghost bold') %>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
<% end %>