<% cache(["join_menu"]) do %>
  <!-- START HEADER -->
  <div class="header">
  <div class="container">
    <div class="pull-left">
      <div class="header-inner">
        <div class="brand inline">
        <%= link_to(root_path) do %>
          <img src="<%= image_path('hungryhead.png') %>" alt="logo" data-src="<%= image_path('hungryhead.png') %>" data-src-retina="<%= image_path('hungryhead.png') %>" width="30">
        <% end %>
        </div>
        <ul class="pages-links fs-16 inline no-margin no-style m-l-20 p-l-30 p-r-20">
          <li class="p-r-15 fs-14 inline font-heading">
            <%= link_to(why_path, class: "#{current_class?(why_path)}") do %>
              <span class="text-master">Why</span>
            <% end %>
          </li>
          <li class="p-r-15 fs-14 inline font-heading">
             <%= link_to(main_app.learn_path, class: "#{current_class?(main_app.learn_path)}") do %>
               <span>What</span>
             <% end %>
          </li>
         <li class="p-r-15 fs-14 inline font-heading">
           <%= link_to(product_path, class: "#{current_class?(product_path)}") do %>
             <span class="text-master">The Product</span>
           <% end %>
         </li>
         <li class="p-r-15 fs-14 inline font-heading">
           <%= link_to(how_it_works_path, class: "#{current_class?(how_it_works_path)}") do %>
             <span class="text-master">How it works </span>
           <% end %>
         </li>
        </ul>
      </div>
    </div>

    <div class=" pull-right">
      <div class="visible-lg visible-md visible-sm m-t-10">
        <div class="pull-left p-t-10  p-r-20 font-heading">
          <%= link_to('Questions?', help_path, title: "Get Started", class: 'text-master') %>
        </div>
        <div class="pull-left p-t-5 font-heading">
          <%= link_to('Get Started', get_started_path, title: "Get Started", class: 'btn btn-complete text-white') %>
        </div>
      </div>
    </div>
    </div>
  </div>
<% end %>