<!-- Static navbar -->
<div class="navbar navbar-default navbar-fixed-top panel panel-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><img alt="" src="/assets/hungryhead_header.png"></a>
		</div>
		<div class="navbar-collapse collapse">
		<% if !user_signed_in? %>
		<ul class="nav navbar-nav not-signed-in">
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Support</a></li>
		</ul>
		<% end %>
		<% if user_signed_in? %>
			<ul class="nav navbar-nav signed-in">
				<li>
					<%= form_tag('/') do %>
					  <%= text_field_tag "search", params[:query], :id =>"search" , placeholder: "Search", autocomplete: :off %>
					<% end %>
		    	</li>

				<li>
			    	<%= link_to("Ideas", ideas_path) %>
			    </li>
			    <li>
			    	<%= link_to("People", users_path) %>
			    </li>
			</ul>
			<% end %>
			<% if !user_signed_in? %>
				<ul class="social-nav not-signed-in">
					<li><a href="<%= social_registration_path %>">Join</a>
		    		</li>
					<li><a href="<%= new_user_session_path %>" > Login</a></li>
				</ul>
			<% end %>

			<% if user_signed_in? %>
			<ul class="social-nav signed-in">
				<li><a href="<%= root_path %>" >Home</a></li>
				<li class="drop conversation-threads">
		    		<%= react_component('OpenConversationsThread', {path: recent_conversations_path(box: 'inbox'), unread_messages_count:current_user.mailbox.inbox(:unread => true).count(:id, :distinct => true).to_s }) %>
		    		<div class="dropdown message-notification-menu panel panel-default">
			    		<div class="conversations-notifications-box" id="threads-section">

			    	</div>
		    		</div>
		    	</li>

		    	<li class="drop notification-threads">
		    		<%= react_component('OpenNotificationsThread', {path: notifications_path, unread_notifications_count: current_user.notifications.where("parameters ->> 'read' = 'false'").length }) %>

		    		<div class="dropdown notifications-dropdown panel panel-default">
			    		<div id="notifications-threads-section">

			    	</div>
		    		</div>
		    	</li>

				<li class="drop">
					<div class="profile-option-drop">
					  <% if current_user.avatar.url != nil %>
					  	<%= image_tag(current_user.avatar.url(:avatar), :id => "user_pic_mini", width: "40px", height: "34px") %>
					  <% else %>
					  	<img src="/assets/200&text=avatar.gif" id="user_pic_mini" />
					  <% end %>

					   <a href="#"><i class="fa fa-angle-down"></i></a>

					</div>
					<div class="dropdown page-menu panel panel-default">
		    			<div class="float-box">
		    				<h4>Your ideas</h4>
		    				<ul>
			    				<% Idea.for_user(current_user).limit(2).each do |idea| %>
			    					<li><%= link_to(idea.name, idea_path(idea)) %></li>
			    				<% end %>
		    					<li><%= link_to('Publish new', new_idea_path(getting_started: true)) %></li>
		    				</ul>
		    			</div>
		    			<div class="float-box">
		    				<h4>You</h4>
		    				<ul>

								<li><a href="<%= profile_path(current_user) %>" ><%= current_user.name %></a></li>
		    					<%= content_tag(:li) do %>
		    						<%= link_to('Invite friends', new_user_invitation_path, remote: true) %>
		    					<% end %>
		    					<li><a href="#">Settings</a></li>
		    				</ul>
		    			</div>
		    			 <div class="user-action-list">
				            <%= link_to(root_path, title: 'Home') do %>
				           		<i class="fa fa-fw fa-home"></i>
				            <% end %>
				            <a href="#" title="Help Page"><i class="fa fa-fw fa-question-circle"></i></a>
				            <a href="#" title="Settings"><i class="fa fa-fw fa-cog"></i></a>
				            <%= link_to(destroy_user_session_path, :method => :get, title: "Logout") do %>
				            	<i class="fa fa-fw fa-power-off"></i>
				            <% end %>

				          </div>
		    		</div>
				</li>

		    </ul>
		    <% end %>
		</div>
	</div>
</div>
