<div class="header <%= bg if bg %>">
<div class="container">
  <div class=" pull-left sm-table">
    <div class="header-inner  p-t-10">
      <div class="brand inline">
        <%= link_to(root_path) do %>
        <img src="<%= image_path('hungryhead_2x.png') %>" alt="logo" data-src="<%= image_path('hungryhead_2x.png') %>" data-src-retina="<%= image_path('hungryhead_2x.png') %>" width="30">
        <% end %>
      </div>
      <%= form_tag('/search/search', class: 'inline b-l b-grey b-dashed m-l-15')  do %>
        <%= text_field_tag "search", params[:query], :id =>"search" , placeholder: "Type here to search...", autocomplete: :off, class: "search-link no-border overlay-search bg-transparent", autofocus: true %>
      <% end %>
      <ul class="main-nav-links inline no-style m-l-20 b-l b-grey b-dashed">
        <li class="inline p-r-15 p-l-15 fs-14 bold">
          <a class="text-brand fs-22" href="" title="Home">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li class="inline p-r-15 p-l-15 fs-14 b-l b-grey b-dashed bold">
          <a class="text-brand fs-22" href="" title="People">
            <i class="fa fa-users"></i>
          </a>
        </li>
        <li class="inline p-r-15 p-l-15 p-l-10 b-l b-grey b-dashed fs-14 bold">
          <a class="text-brand fs-22" href="" title="Ideas">
            <i class="fa fa-lightbulb-o"></i>
          </a>
        </li>
        <li class="inline p-r-15 p-l-15 p-l-10 b-l b-grey b-dashed fs-14 bold">
          <a class="text-brand fs-22" href="" title="Schools">
            <i class="fa fa-university"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="pull-right">
    <div class="visible-lg visible-md m-t-10">
      <ul class="pull-left notification-list no-margin hidden-sm hidden-xs no-style p-l-10 p-t-10 p-r-10">
        <li class="p-r-10 inline">
         <%= react_component('ShareNote', {form: render(template: 'globals/form.json.jbuilder')}) %>
        </li>
        <li class="p-r-10 inline">
          <div class="dropdown">
            <a href="javascript:;" id="notification-center" class="fa fa-globe b-r b-grey p-r-10 b-dashed fs-22 text-brand" data-toggle="dropdown">
              <span class="bubble font-arial bold">10</span>
            </a>
            <div class="dropdown-menu notification-toggle right-zero" role="menu" aria-labelledby="notification-center">
              <div class="notification-panel">
                <div class="notification-body scrollable">
                 <%= react_component('LatestFeed', {user_id: current_user.id, channel_name: "private-user-#{current_user.id}", path: notifications_path}.to_json) %>
                </div>
                <div class="notification-footer text-center">
                  <a href="#" class="">Read all notifications</a>
                  <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">
                    <i class="pg-refresh_new"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
        <%= link_to(profile_path(current_user)) do %>
          <span class="fs-14 bold text-brand"><%= current_user.first_name %></span>
        <% end %>
      </div>
      <div class="dropdown pull-right">
        <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="thumbnail-wrapper d32 circular inline m-t-5">
          <% if current_user.avatar.present? %>
            <%= image_tag(current_user.avatar.url(:avatar), :"data-src" => "#{current_user.avatar.url(:avatar)}", :"data-src-retina" => "#{current_user.avatar.url(:square)}", width: "32", height: "32") %>
          <% else %>
            <span class="placeholder bold text-white" width="32px" height="32px"><%= current_user.first_name.first + current_user.last_name.first %></span>
          <% end %>
          </span>
        </button>
        <ul class="dropdown-menu profile-dropdown" role="menu">
          <%= content_tag(:li) do %>
            <%= link_to(new_idea_path(:rules)) do %>
              <i class="fa fa-lightbulb-o"></i> Post Idea
            <% end %>
          <% end %>

          <%= content_tag(:li) do %>
            <%= link_to(friends_invite_path, remote: true) do %>
              <i class="fa fa-paper-plane"></i>Invite friends
            <% end %>
          <% end %>

          <%= content_tag(:li) do %>
            <%= link_to(edit_user_registration_path(current_user)) do %>
              <i class="pg-settings_small"></i>Settings
            <% end %>
          <% end %>

          <li><a href="#"><i class="pg-outdent"></i> Feedback</a>
          </li>
          <li class="bg-master-lighter">
            <%= link_to(destroy_user_session_path, class: "clearfix") do %>
              <span class="pull-left">Logout</span>
              <span class="pull-right"><i class="pg-power"></i></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>