<div class="home-footer auto-margin">
<div class="small-footer pull-bottom">
  <div class="container">
    <div class="top-footer clearfix">
      <article class="section-list inline">
        <ul>
          <li>
            <%= meta_events_tracked_link_to(story_path, class: "#{current_class?(story_path)} bold", :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Our Story' } }) do %>
              <span>Our story</span>
            <% end %>
          </li>
          <li>
            <%= meta_events_tracked_link_to('Collaborate', site_feedback.root_path, class: "#{current_class?(site_feedback.root_path)} bold", :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Collaborate' } }) %>
          </li>
          <li>
            <%= meta_events_tracked_link_to('Our rules', rules_path, class: "#{current_class?(rules_path)} bold", :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Our Rules' } }) %>
          </li>
          <li>
            <%= meta_events_tracked_link_to('Terms', terms_path, class: "#{current_class?(terms_path)} bold", remote: false, :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Terms' } }) %>
          </li>
          <li>
            <%= meta_events_tracked_link_to('Cookies Policy', cookies_path, class: "#{current_class?(cookies_path)} bold", :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Cookies' } }) %>
          </li>
          <li>
            <%= meta_events_tracked_link_to('Privacy Policy', privacy_path, class: "#{current_class?(privacy_path)} bold", :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Privacy' } }) %>
          </li>
        </ul>
      </article>
    <p class="copyright-text text-white bold pull-right">© <%= Time.now.year %> hungryhead.co®</p>
  </div>
</div>
</div>
</div>
