<% cache("small_footer") do %>
  <div class="small-footer pull-bottom">
    <div class="container">
      <div class="top-footer clearfix">
        <article class="section-list">
          <ul>
            <li>
              <%= link_to('Our rules', page_path('rules'), class: "#{current_class?(page_path('rules'))} bold") %>
            </li>
            <li>
              <%= link_to(page_path('story'), class: "#{current_class?(page_path('story'))} bold") do %>
                <span>Story</span>
              <% end %>
            </li>
            <li>
              <%= link_to('Support', page_path('support'), class: "#{current_class?(page_path('support'))} bold") %>
            </li>
            <li>
              <%= link_to('Cookies Policy', page_path('cookies'), class: "#{current_class?(page_path('cookies'))} bold") %>
            </li>
            <li>
              <%= link_to('Privacy Policy', page_path('privacy'), class: "#{current_class?(page_path('privacy'))} bold") %>
            </li>
          </ul>
        </article>
      <p class="copyright-text text-white bold">© 2015 hungryhead.co</p>
    </div>
  </div>
</div>
<% end %>