<% cache(["beta", "devise_invitations", "edit", resource]) do %>
<div class="register-container full-height sm-p-t-30">
	<div class="container-sm-height full-height">
	<div class="row row-sm-height">
	  <div class="col-sm-12 col-sm-height col-middle">
	    <h3 class="b-b b-grey p-b-5 pull-left">Welcome <span class="bold"> <%= resource.name %></span></h3>
	    <h5  class="clearfix">
	      Please complete this form to create your account.
	    </h5>
   		<%= simple_form_for(resource, as: resource_name, :url => invitation_path(resource_name), html: {:method => :put, class: 'm-t-20 clearfix'}) do |f| %>
   				<%= devise_error_messages! %>
   				 <%= f.hidden_field :invitation_token %>
					<div class="row">
						<div class="col-md-6">
		     			<div class="form-group form-group-default">
		   					<label>Name</label>
		   					<%= f.input_field :name, required: true, autofocus: true,  :validate => true, label: false, title: "Please enter your name", id: "name", class: "form-control empty", placeholder: "John Doe" %>
		   				</div>
						</div>

						<div class="col-md-6">
		   				<div class="form-group form-group-default">
		   					<label>Username</label>
		   					<%= f.input_field :username, required: true, autofocus: true,  :validate => true, label: false, id: "username", class: "form-control empty", placeholder: "johndoe" %>
		   				</div>
						</div>
   				</div>

					<div class="row m-t-10">
						<div class="col-md-6">
		   				<div class="form-group form-group-default">
		   					<label>Password</label>
		   					<%= f.input_field :password, required: true, autofocus: true,  :validate => true, label: false, id: "password" , class: "form-control empty",placeholder: "*********" %>
		   				</div>
	   				</div>
						<div class="col-md-6">
		   				<div class="signup-form-buttons m-b-20">
		   					<%= f.button :button, "Complete", :class => "btn btn-complete btn-cons m-t-10 pull-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Signing up..."} %>
		   				</div>
	   				</div>
   				</div>

					<div class="m-t-20">
	   				<p>Questions? <a href="#">Get help</a></p>
	   				<p>Already registered, <a href="<%= new_session_path(resource_name) %>">Login</a></p>
	   				<p><%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
	   				<%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
	   				<% end -%></p>
	   				<% end %>
	   				<p>Go back to <a href="<%= root_path %>">Homepage</a></p>
   			</div>
	  </div>
	</div>
	</div>
</div>
<% end %>


