<div class="card share post_<%= feedback.id %>" data-social="item">
    <div class="card-header clearfix">
      <div class="user-pic">
        <% if feedback.user.avatar_present? %>
          <%= image_tag(feedback.user.get_avatar, :"data-src" => "#{feedback.user.get_avatar}", :"data-src-retina" => "#{feedback.user.get_avatar}", width: "33", height: "33") %>
          <% else %>
              <span class="placeholder bold text-white"><%= feedback.user.name_badge %>
              </span>
        <% end %>
      </div>

      <div class="text-master-dark overflow-hidden">
        <%= link_to(your_name(feedback.user, false), profile_path(feedback.user), :"data-popover-href" => "#{profile_card_path(feedback.user)}", class: 'load-card bold') %> left a feedback <i class="fa fa-comment"></i> for
        <% if @idea.team_ids.include?(current_user.id.to_s) %>
          your idea
        <% end %>
      <%= link_to(@idea.name, idea_path(@idea), :"data-popover-href" => "#{card_idea_path(@idea)}", class: 'load-card bold') %>
        <h6>
            <span class="time semi-bold">
              <i class="fa fa-clock-o"></i>
              <%= link_to(idea_feedback_path(@idea, feedback.uuid), class: "text-master") do %>
              <%= time_ago_in_words(feedback.created_at) %>
              <% end %>
            </span>
        </h6>
      </div>
    </div>
    <div class="card-description p-l-60 p-r-60">
      <div class="feedback-content m-t-10">
       <% if feedback.body.length > 450 %>
        <%= truncate(markdownify(feedback.body), escape: false, length: 450) %>
        <%= link_to 'See more', '', class: "read-more-link read-more-#{feedback.id} clearfix" %>
        <script type="text/javascript">
          $('.read-more-<%= feedback.id %>').on('click', function(e) {
            e.preventDefault()
            $(this).closest(".card-description").find(".feedback-content").html('<%= escape_javascript markdownify(feedback.body) %>')
          })
        </script>
      <% else %>
        <%= markdownify(feedback.body) %>
      <% end %>
      </div>
    </div>
    <div class="card-footer clearfix bold p-l-60 p-r-60">
      <ul class="reactions pull-left">
        <% voted = feedback.voted?(current_user) %>
        <%= react_component('Upvote', {record: feedback.id, voted: voted, vote_url: vote_path(votable_type: feedback.class.to_s, votable_id: feedback.uuid), votes_count: feedback.votes_counter.value, voters_path: voters_path(votable_type: feedback.class.to_s, votable_id: feedback.id), css_class: 'vote-button add_vote pull-left', button_style: false}.to_json) %>
      </ul>
      <% rated = feedback.badged? %>
      <%= react_component('Rate', {rate: {record: feedback.id, user_name: @idea.user.name, badge_name: feedback.badge, rated: rated, rate_url: rate_idea_feedback_path(@idea.slug, feedback.id)}}) %>

        <% if feedback.badged? %>
          <div class="review-badge pull-right">
            <% feedback.badges.each do |b| %>
            <p class="m-b-10 inline">
             <%= link_to(badge_path(b.name), class: "badge text-white font-helvetica", data: { toggle: "tooltip", container: "body"}, title: "#{b.description}") do %>
                 <span class="badge-type <%= b.level %>"></span><%= b.custom_fields[:name] %>
             <% end %>
            </p>
            <% end %>
          </div>
        <% end %>

      <div class="clearfix"></div>
    </div>

<% commentable = feedback %>

<% data = render(template: 'comments/comments.json.jbuilder', locals: {comments: [], record: commentable, paginate: false} )%>

<%= react_component('CommentBox', {data: data, comment_channel: "#{feedback.class.to_s}-#{feedback.id}-comments", count: feedback.comments_counter.value, comments_path: comments_path(commentable_type: feedback.class.to_s, id: feedback.uuid)}) %>
</div>

