<div class="col-md-9 col-lg-9 col-sm-9 no-padding p-l-15">
  <div class="auto-height box-shadow ">
    <%= render partial: 'ideas/header' %>
  </div>
  <%= render partial: 'ideas/menu' %>
  <div class="m-t-20">
    <div class="idea-content">
     <%= render partial: "feedbacks" %>
    </div>
  </div>
</div>

<div class="col-md-3 col-lg-3 col-sm-3">
  <div class="sidebar auto-height sticky bg-white box-shadow">
    <%= render partial: 'ideas/latest_activities' %>
    <%= render partial: 'ideas/followers' if @idea.followers_counter.value > 0 %>
  </div>
</div>

<% if user_signed_in? && policy(@idea).collaborator? %>
  <div class="idea-collaboration-floating-panel">
    <%= render 'ideas/collaboration' %>
  </div>
<% end %>



