<!-- Content
		================================================== -->

<div id="content">
  <!-- profile header -->
  <div class="idea-header">
    <%= render partial: "ideas/_partials/idea_header", locals: {idea: @idea} %>
    <%= render partial: "ideas/_partials/edit_idea_form", locals: {idea: @idea} %>
  </div>
  <!-- end profile header -->
  <!-- idea menu -->
  <%= render partial: "ideas/_partials/idea_menu", locals: {idea: @idea} %>
  <!-- end idea menu -->
  <div class="container project-page">
    <div class="row">
      <div class="col-md-4 aside">
        <%= render partial: 'shared/leaderboard', resource: @idea %>
      </div>

      <div class="col-md-8 project-content">
        <%= render partial: "feedbacks/_sub_pages/feedback", locals: {feedback: @feedback} %>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? && policy(@idea).collaborator? %>
  <%= render 'ideas/collaboration' %>
<% end %>
