<% if @school.get_published_faculties.size > 0 %>
<div class="sidebar auto-height box-shadow bg-white m-t-10">
  <div class="user-sidebar">
    <div class="container-xs-height">
        <div class="widget-11-2 panel panel-transparent no-border no-margin">
          <div class="panel-heading bg-light-blue-lightest">
            <div class="panel-title text-master b-b b-grey p-b-5">
              Faculties
            </div>
            <div class="panel-controls">
              <ul>
                <li>
                  <a href="#" class="portlet-collapse m-r-15 fs-12 b-b b-grey p-b-5" data-toggle="collapse">
                    See all
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="p-l-15 p-r-15">
            <ul class="no-style m-t-10">
              <% @school.get_published_faculties.take(5).each do |user| %>
                <li class="p-t-10 p-b-10">
                  <div class="inline m-r-10">
                    <div class="thumbnail-wrapper text-master d32 circular auto-margin m-r-5 m-b-5">
                       <% if user.avatar.present? %>
                         <%= image_tag(user.avatar.url(:avatar), width: "50px") %>
                       <% else %>
                         <span class="placeholder bold text-white">
                           <%= user.user_name_badge.upcase %>
                         </span>
                       <% end %>
                     </div>
                   </div>
                   <div class="faculty-content inline">
                    <%= link_to(profile_path(user), class: "no-margin bold text-brand fs-13") do %>
                      <%= user.name %>
                    <% end %>
                    <p class="no-margin fs-13"><%= user.mini_bio %></p>
                   </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
<% end %>
