  <% @ideas.each do |idea| %>
  <div class="col-md-3 no-padding p-r-15">
  <%= content_tag(:div, class: 'listing-card bg-white box-shadow') do %>
  <%= content_tag(:div, class: 'listing-header  text-center') do %>
    <%= content_tag(:div, class: 'listing-card-logo') do %>
    <div class="thumbnail-wrapper d48 auto-margin m-r-5 m-b-5">
     <% if idea.logo.present? %>
       <%= image_tag(idea.logo.url(:avatar), width: "50px") %>
     <% else %>
       <span class="placeholder bold text-white">
         <%= idea.name_badge.upcase %>
       </span>
     <% end %>
     </div>
      <h5 class="no-margin fs-14 bold"><%= link_to(idea.name, idea_path(idea)) %></h5>
      <h5 class="no-margin text-master"><i class="fa fa-map-marker"></i> <%= idea.location_list %></h5>
      <p class="fs-12"><%= truncate(idea.mini_bio, length: 30) %></p>
      <% if current_user != idea.user %>
        <div class="card-follow-button">
          <%= react_component('Follow',{:followed => followed?(idea)}) %>
        </div>
        <script type="text/javascript">
           ReactRailsUJS.mountComponents();
        </script>
      <% else %>
        <%= link_to(idea_path(idea), class: 'btn btn-danger btn-sm text-white') do %>
        <span class="text-white"><i class="fa fa-share"></i> View profile</span>
        <% end %>
      <% end %>
    <% end %>
      <% end %>
      <div class="listing-card-stats">
      <ul class="stastics-list">
        <li>
          Students
          <span class="text-master"><i class="fa fa-users"></i> <%= idea.followers_counter.value %></span>
        </li>
        <li>
          Followers
          <span class="text-master"><i class="fa fa-comment"></i> <%= idea.feedbacks_counter.value %></span>
        </li>
        <li>
          Ideas
          <span class="text-master"><i class="fa fa-dollar"></i> <%= idea.investments_counter.value %></span>
        </li>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>
<div class="paging-container p-r-15">
    <%= will_paginate(@ideas, class: 'bg-white displayblock padding-10 paging_bootstrap pull-right pagination clearfix') %>
</div>
