<% cache(cache_key_for_school(school)) do %>
<tr class="full-border-light-bottom">
  <td class="no-padding p-t-25 p-b-20 no-border">
    <div class="thumbnail-wrapper d48 circular auto-margin m-r-5 m-b-5">
     <% if school.logo.present? %>
       <%= image_tag(school.logo.url(:avatar), width: "50px") %>
     <% else %>
       <span class="placeholder bold text-white">
         <%= school.name_badge.upcase %>
       </span>
     <% end %>
     </div>
  </td>
  <td style="max-width: 350px;" class="school-info font-opensans no-border">
    <h5 class="no-margin fs-16 bold"><%= link_to(school.name, profile_path(school)) %>
    </h5>
    <p class="fs-14 m-t-5">
      <%= school.description %>
      <span>
        Based in:
        <% school.location_list.each do |tag| %>
          <%= link_to("@#{tag.downcase}", tag_people_path(tag.parameterize), class: "text-black light") %>
        <% end %>
      </span>
    </p>
  </td>
  <td style="display:table-cell; min-width: 150px; vertical-align:middle;" class="no-border text-center">
    <div class="card-follow-button inline">
      <%= react_component('Follow',{:followed => followed?(school)}) %>
    </div>
    <script type="text/javascript">
       ReactRailsUJS.mountComponents();
    </script>
  </td>
  <td style="display:table-cell; vertical-align:middle;" class="no-border">
    <ul class="stastics-list">
      <li class="clearfix pull-reset">
        People
        <span class="text-master">
          <%= number_to_human(school.people_counter.value,  :format => '%n%u', :units => { :thousand => 'K' }) %>
        </span>
      </li>
      <li class="clearfix pull-reset">
        Ideas
        <span class="text-master">
          <%= number_to_human(school.ideas_counter.value,  :format => '%n%u', :units => { :thousand => 'K' }) %>
        </span>
      </li>
    </ul>
  </td>
</tr>
<% end %>