<% cache(cache_key_for_school(school)) do %>
<li class="school-list clearfix p-t-15 p-b-15">
    <span class="col-xs-height">
      <% if school.avatar_present? %>
        <span class="thumbnail-wrapper d48 circular">
            <%= image_tag(school.get_avatar, data: {src:  school.get_avatar, :"src-retina" => school.get_avatar},  class: "col-top", width: "34", height: "34") %>
        </span>
      <% else %>
        <div class="thumbnail-wrapper d48 inline circular">
          <span class="placeholder bold text-white">
            <%= school.name_badge %>
          </span>
        </div>
      <% end %>
    </span>
    <div class="p-l-10 col-xs-height col-middle col-xs-12 col-md-6 col-sm-6">
     <h5 class="no-margin bold inline fs-14">
       <a href="<%= profile_path(school) %>" class="inline text-master ">
         <%= school.name %>
       </a>
     </h5>
     <% if school.cached_location_list.present? %>
     <% school.location_list.each do |tag| %>
      <%= link_to(tag_people_path(tag.parameterize), class: 'text-master light', data: {toggle: "tooltip"}, title: tag, class: 'm-l-10 inline') do %>
        <span class="fa fa-map-marker text-brand"></span>
      <% end %>
      <% end %>
     <% end %>
     <p class="fs-14 p-t-5 block people-info text-master">
       <span class="text-master">
         <%= school.description %>
       </span>
     </p>
    </div>
   <div class="p-l-10 col-xs-height text-center col-middle col-md-3 col-sm-3 hidden-xs">
     <div class="user-stats-list no-border">
       <div class="col-sm-4 text-center">
         People
         <span class="text-master">
           <%= number_to_human(school.people_counter.value,  :format => '%n%u', :units => { :thousand => 'K' }) %>
         </span>
       </div>
       <div class="col-sm-4 text-center">
         Ideas
        <span class="text-master">
          <%= number_to_human(school.ideas_counter.value,  :format => '%n%u', :units => { :thousand => 'K' }) %>
        </span>
       </div>
     </div>
   </div>
  <div class="card-follow-button text-center p-l-10 col-xs-height col-middle hidden-xs col-sm-3 col-md-3">
    <%= react_component('Follow',{:followed => followed?(school)}) %>
  </div>
  <script type="text/javascript">
     ReactRailsUJS.mountComponents();
  </script>
</li>
<% end %>