<div class="user-profile">
    <div class="thumbnail-wrapper d100 m-r-20 m-l-20">
        <div class="profile-logo bg-white padding-10 box-shadow">
             <% if current_user == @school.user %>
              <div id="profile_image">
                <%= simple_form_for(@school, method: :patch, html: {role: 'form', id: "profile_photo_form", class: "avatar-form", multipart: true}, remote: true ) do |f| %>
                  <%= f.file_field :logo, style: "display: none", id: 'profile_photo', accept: "image/*" %>
                <% end %>
                <div id="profilepic">
                <div class="avatar">
                  <div class="upload_icon">
                    <a id ="trigger-file-upload" class="trigger-file-upload">
                      <span class="upload_icon">
                        <i class="fa fa-camera text-master"></i>
                      </span>
                    </a>
                  </div>
                </div>
                <% if @school.avatar_present? %>
                  <%= image_tag(@school.get_avatar, data: {src: @school.get_avatar, :"src-retina" => @school.get_avatar}, id: "profile_photo_preview", width: "110", height: "110", class: "user-image")%>
                  <% else %>
                      <span class="placeholder bold text-white fs-22">
                          <%= @school.name_badge %>
                      </span>
                  <% end %>
                </div>
              </div>
            <% else %>
              <div id="profile_image">
                <div id="profilepic">
                <% if @school.avatar_present? %>
                 <%= image_tag(@school.get_avatar, data: {src: @school.get_avatar, :"src-retina" => @school.get_avatar}, width: "110", height: "110", class: "user-image")%>
                 <% else %>
                     <span class="placeholder bold text-white fs-22">
                         <%= @school.name_badge %>
                     </span>
                 <% end %>
                </div>
              </div>
            <% end %>

        </div>
    </div>
</div>

<div class="school-content inline">
  <h3 class="bold no-margin text-white displayblock">
      <%= @school.name.titlecase %>
  </h3>
  <h5 class="no-margin text-white displayblock">
    <span class="fa fa-map-marker"></span> <%= @school.location_list %>
  </h5>
</div>

<div class="font-opensans">
    <div class="inline text-center p-r-30">
        <h1 class="bold text-white small fs-16">People</h1>
        <p class="bold no-margin fs-16 text-white"><%= @school.people_counter.value %></p>
    </div>
    <div class="inline text-center p-r-30">
        <h1 class="bold text-white small fs-16">Ideas</h1>
        <p class="bold no-margin fs-16 text-white"><%= @school.ideas_counter.value %></p>
    </div>
    <div class="inline text-center p-r-15">
        <h1 class="bold text-white small fs-16">Followers</h1>
        <p class="bold no-margin fs-16 text-white"><%= @school.followers_counter.value %></p>
    </div>
</div>

