<div class="wrapper-small events-bg-gradient">
  <div class="col-md-4 jumbrotron auto-margin overflow-hidden" data-pages="parallax">
    <div class="school-profile">
      <div class="school-logo pull-left m-r-10">
        <div id="profile_image">
          <div id="profilepic">
          <% if @school.avatar_present? %>
           <%= image_tag(@school.get_avatar, data: {src: @school.get_avatar, :"src-retina" => @school.get_avatar}, width: "auto", class: "school-image")%>
           <% else %>
            <div class="thumbnail-wrapper d100 w110">
              <span class="placeholder bold text-white fs-22">
                <%= @school.name_badge %>
              </span>
            </div>
           <% end %>
          </div>
        </div>
      </div>
      <div class="hero-text inner inline">
        <h2 class="text-white">Browse events</h2>
        <h5 class="text-white no-margin">from <%= link_to(@school.name, profile_path(@school), class: 'text-white p-b-5 b-b b-white') %></h5>
      </div>
    </div>
  </div>
</div>

<div class="box-shadow bg-light-blue">
  <div class="container">
    <%= render partial: 'menu' %>
  </div>
</div>

<%= render partial: 'events/events', locals: {events: @events} %>