  <div class="wrapper-small idea-bg-gradient">
    <div class="col-md-4 jumbrotron text-center auto-margin" data-pages="parallax" data-social="cover">
      <% data = render(template: 'schools/show.json.jbuilder') %>
      <div class="user-profile auto-margin">
          <div class="thumbnail-wrapper d100">
              <div class="profile-logo">
                <%= react_component('SchoolLogo', {data: data}) %>
              </div>
          </div>
      </div>
      <div class="hero-text inner clearfix">
        <h2 class="text-white">Browse ideas</h2>
        <h5 class="text-white">or, <%= link_to("Pitch", new_idea_path(:rules), class: 'text-white b-b b-white p-b-5') %> your own idea and share with others</h5>
      </div>
    </div>
  </div>

  <div class="box-shadow bg-white full-border-light-bottom">
    <div class="container">
      <% cache(["school_menu", @school]) do %>
        <%= render partial: 'menu' %>
      <% end %>
    </div>
  </div>

  <div class="container p-t-40 p-b-80">
    <div class="idea-list">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th colspan="2" class="no-padding"><%= pluralize(@ideas.count, 'Result',) %> </th>
            <th>Follow to get updates</th>
            <th class="text-center">Idea Stats</th>
          </tr>
        </thead>
        <tbody>
          <% @ideas.each do |idea| %>
            <%= render partial: 'ideas/idea', locals: {idea: idea} %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="paging-container p-r-15">
        <%= will_paginate(@ideas, class: 'displayblock padding-10 paging_bootstrap pull-right pagination clearfix') %>
    </div>
  </div>
  </div>