<div class="container">
  <div class="social-wrapper container">
    <div class="social" data-pages="social">
        <div class="jumbotron box-shadow" data-pages="parallax" data-social="cover">
          <% cache(["school_data", cache_key_for_school(@school)]) do %>
            <%=  render partial: 'school_data' %>
          <% end %>
          <% cache(["cover", @school]) do %>
            <%= render partial: 'cover' %>
          <% end %>
        </div>
    </div>

    <div class="box-shadow bg-white full-border-light-bottom">
      <% cache(["school_menu", @school]) do %>
        <%= render partial: 'menu' %>
      <% end %>
    </div>

    <div class="content p-t-20 overflow-hidden">
      <div class="col-md-3 no-padding p-r-15">
        <%= render partial: 'school_card' %>
      </div>
      <div class="col-md-9 no-padding">
      <div class="panel box-shadow">
        <ul class="nav nav-tabs nav-tabs-simple">
            <li class="active">
                <a data-toggle="tab" href="#tab_people">
                  <i class="fa fa-graduation-cap"></i> Latest People
                </a>
            </li>
            <li class="">
                <%= link_to("#tab_ideas", data: {toggle: 'tab', url: profile_latest_ideas_path(@school)}, id: 'load_school_ideas') do %>
                  <i class="fa fa-lightbulb-o"></i> Latest Ideas
                <% end %>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab_ideas">
                  <i class="fa fa-calendar"></i> Latest Events
                </a>
            </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="tab_people">
            <%= render partial: 'students' %>
          </div>

          <div class="tab-pane" id="tab_ideas">
          </div>

          <div class="tab-pane" id="tab_events">
          </div>

        </div>
      </div>
      </div>
    </div>
  </div>
  </div>