<div class="container p-b-60">
  <div class="social-wrapper container">
    <div class="col-md-4 no-padding p-r-15">
        <% cache(["school_card", @school]) do %>
          <div class="school-card" id="school_card">
            <%= render partial: 'school_card' %>
          </div>
        <% end %>
        <div class="panel box-shadow m-t-10">
          <div class="panel-heading">
            <div class="panel-title b-b b-great p-b-5">
              People
            </div>
          </div>
          <div class="panel-body">
          <% @school.get_published_users.take(11).each do |user| %>
            <div class="col-md-2 no-padding">
              <%= link_to(profile_path(user), class: 'inline', data: {toggle: "tooltip", container: "body"}, title: user.name) do %>
                <% if user.avatar_present? %>
                 <%= image_tag(user.get_avatar, data: {src: user.get_avatar, src_retina: user.get_avatar},class: "image-responsive-height") %>
                <% else %>
                  <span class="thumbnail-wrapper d52">
                    <span class="placeholder text-white bold fs-22">
                      <%= user.name_badge %>
                    </span>
                  </span>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <% if @school.get_published_users.length >  11 %>
            <div class="col-md-2 no-padding p-t-10">
              <a href="#more" class="bold text-brand fs-22 p-l-10">+22</a>
            </div>
          <% end %>
        </div>
        </div>

      <div class="panel box-shadow m-t-10">
        <div class="panel-heading">
          <div class="panel-title b-b b-great p-b-5">
            Ideas
          </div>
        </div>
        <div class="panel-body">
          <ul class="no-padding no-margin no-style" style="max-height: 250px;">
            <% @school.get_published_ideas.take(5).each do |idea| %>
              <li id="idea">
                <p class="no-margin">
                  <%= link_to(idea.name, idea_path(idea), class: "bold fs-13 no-margin text-black" ) %>
                </p>
                <span class="small no-margin overflow-hidden">
                  <%= idea.high_concept_pitch %>
                </span>
                <div class="clearfix"></div>
              </li>
            <% end %>
          </ul>
          <% if @school.get_published_ideas.length > 5 %>
            <a href="#more" class="bold pull-right text-brand fs-22 p-l-10">+22</a>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8 no-padding">
    <div class="social">
        <div class="jumbotron box-shadow" data-pages="parallax" data-social="cover">
          <% cache(["cover", @school]) do %>
            <%= render partial: 'cover' %>
          <% end %>
        </div>
    </div>
    <div class="box-shadow bg-light-blue">
      <%= render partial: 'menu' %>
    </div>
    <div class="school-activities m-t-10">
      <%= cache(["beta", current_user, @activities]) do %>
        <%= render partial: 'activities/activities' %>
      <% end %>
      <% if @activities.next_page %>
        <div class="pagination-box text-center padding-10 bg-complete-lighter m-t-20 clearfix box-shadow">
          <%=  link_to 'Load More Activities', root_path(:page => @activities.next_page), :class => 'load-more-posts', remote: true,  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %>
        </div>
      <% end %>
    </div>
    </div>
</div>
  </div>