<div class="container">
  <div class="social-wrapper container">
    <div class="social">
        <div class="jumbotron box-shadow" data-pages="parallax" data-social="cover">
          <%=  render partial: 'school_data' %>
          <% cache(["cover", @school]) do %>
            <%= render partial: 'cover' %>
          <% end %>
        </div>
    </div>

    <div class="box-shadow bg-white">
      <%= render partial: 'menu' %>
    </div>

    <div class="content p-t-20 overflow-hidden">

      <div class="col-md-3 no-padding p-r-15">
        <% cache(["school_card", @school]) do %>
          <%= render partial: 'school_card' %>
        <% end %>
        <%= render partial: 'faculties' %>
      </div>

      <div class="col-md-9 no-padding">
      <div class="panel box-shadow no-border">
        <ul class="nav nav-tabs nav-tabs-simple bg-light-blue-lightest">
            <li class="active">
              <a data-toggle="tab" href="#tab_people">
                <i class="fa fa-graduation-cap"></i> Latest People
              </a>
            </li>
            <li>
              <%= link_to("#tab_ideas", data: {toggle: 'tab', url: profile_latest_ideas_path(@school)}, id: 'load_school_ideas') do %>
                <i class="fa fa-lightbulb-o"></i> Latest Ideas
              <% end %>
            </li>
        </ul>

        <div class="tab-content schools-tabs">
          <div class="tab-pane active" id="tab_people">
            <div class="view">
              <div class="list-view boreded no-top-border">
                <%= render partial: 'students' %>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab_ideas">
          </div>

        </div>
      </div>
      </div>
    </div>
  </div>
  </div>