<div class="container">
<div class="social-wrapper container">
<div class="social" data-pages="social">
    <div class="jumbotron box-shadow" data-pages="parallax" data-social="cover">
      <%=  render partial: 'school_data' %>
      <%= render partial: 'cover' %>
     <div class="school-action-buttons col-md-5">
			<%= react_component('Follow', {followed: followed?(@school)}) %>
      <% if current_user.admin? %>
			  <%= link_to('Edit Profile', edit_school_path(@school), class: "btn btn-danger btn-sm pull-right no-padding padding-5 p-l-10 p-r-10 m-r-10") %>
      <% end %>
		</div>
    </div>
</div>
<div class="content p-t-20">
<div class="col-md-3 col-sm-4 no-padding col-lg-3 col-xlg-3">
    <%= render partial: 'school_card' %>
    <%= render partial: 'school_faculties' %>
</div>
<div class="col-md-6">
<div class="activity-feed auto-height">
  <%= render_activities(@activities) %>
</div>
</div>
<div class="col-md-3 col-sm-4 no-padding">
<div class="sidebar auto-height white-bg box-shadow">
    <div class="m-b-10">
        <div class="widget-11-2 panel no-border no-margin widget-loader-circle">
            <div class="panel-heading">
             <div class="panel-title">
              Latest Ideas
              </div>
            </div>
            <div class="auto-overflow">
              <ul class="trending-list full-border-light p-t-20 no-style">
                <% @school.latest_ideas.each do |idea| %>
                <li class="m-b-10">
                  <div class="widget-16-header p-b-10 p-l-15">
                  <span class="icon-thumbnail placeholder bg-master-light pull-left text-white">
                    <%= idea.name_badge %>
                  </span>
                  <div class="pull-left">
                      <p class="all-caps bold  small no-margin overflow-ellipsis "><%= idea.name %></p>
                      <p class="small no-margin overflow-ellipsis "><%= idea.high_concept_pitch %></p>
                  </div>
                  <div class="clearfix"></div>
                  </div>
                </li>
              <% end %>

              </ul>
            </div>
        </div>
    </div>

    <div class="m-b-10">
        <div class="widget-11-2 panel no-border no-margin widget-loader-circle">
            <div class="panel-heading">
             <div class="panel-title">
              Latest Students
              </div>
            </div>
            <div class="auto-overflow">
              <ul class="trending-list full-border-light p-t-20 no-style">
              <% @school.latest_students.each do |user| %>
                <li class="m-b-10">
                  <div class="widget-16-header p-b-10 p-l-15">
                  <% if user.avatar.present? %>
                    <span class="icon-thumbnail pull-left">
                      <%= image_tag(user.avatar.url(:avatar), data: {src:  user.avatar.url(:avatar), src: {retina: user.avatar.url(:avatar) } }, width: "40", height: "40") %>
                    </span>
                  <% else %>
                    <span class="icon-thumbnail placeholder bg-master-light pull-left text-white">
                      <%= user.user_name_badge %>
                    </span>
                  <% end %>
                  <div class="pull-left">
                      <p class="all-caps bold  small no-margin overflow-ellipsis "><%= user.name %></p>
                      <p class="small no-margin overflow-ellipsis "><%= user.mini_bio %></p>
                  </div>
                  <div class="clearfix"></div>
                  </div>
                </li>
              <% end %>
              </ul>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
</div>