<div class="container">
  <div class="social-wrapper container">
    <div class="social" data-pages="social">
        <div class="jumbotron box-shadow" data-pages="parallax" data-social="cover">

          <% cache(["school_data", cache_key_for_school(@school)]) do %>
            <%=  render partial: 'school_data' %>
          <% end %>

          <% cache(["cover", @school]) do %>
            <%= render partial: 'cover' %>
          <% end %>

          <% if current_user == @school.admin %>
           <div class="school-action-buttons col-md-5">
      			  <%= link_to('Dashboard', edit_school_path(@school), class: "btn btn-danger btn-sm pull-right no-padding padding-5 p-l-10 p-r-10 m-r-10") %>
        		</div>
          <% end %>

        </div>
    </div>

    <div class="box-shadow bg-white">
      <% cache(["school_menu", @school]) do %>
        <%= render partial: 'menu' %>
      <% end %>
    </div>

    <div class="content no-padding p-b-60">
      <!-- BEGIN CONTENT SECTION -->
      <section class="m-t-20 no-overflow" id="join">
        <div class="md-p-l-20 md-p-r-20 xs-no-padding">
            <div class="row top-picks">
              <div class="top-pick-descrip col-md-12">
                <h1>Browse People</h1>
                <p>Vestibulum id est quam, sit amet rutrum arcu. Sed commodo leo nisi, eget luctus odio. Maecenas auctor purus a eros posuere.</p>
                <div class="border-back"></div>
              </div>
            </div>
            <% @students.limit(4).each do |user| %>
              <%= render partial: 'students' locals: {user: user}%>
            <% end %>
        </div>
      </section>
      <!-- END CONTENT SECTION -->

      <!-- BEGIN CONTENT SECTION -->
      <section class="m-t-20 no-overflow" id="join">
          <div class="md-p-l-20 md-p-r-20 xs-no-padding">
            <div class="row top-picks">
              <div class="top-pick-descrip col-md-12">
                <h1>Browse Ideas</h1>
                <p>Vestibulum id est quam, sit amet rutrum arcu. Sed commodo leo nisi, eget luctus odio. Maecenas auctor purus a eros posuere.</p>
                <div class="border-back"></div>
              </div>
            </div>
            <% @ideas.limit(4).each do |idea| %>
                <%= render partial: 'ideas', locals: {idea: idea} %>
            <% end %>
          </div>
      </section>
      <!-- END CONTENT SECTION -->

    </div>
  </div>
</div>
</div>
</div>