<div id="content">
	<!-- profile header -->
	<div class="university-box">
		<% if user_signed_in? && current_user  &&  @school.school_cover !=  nil %>
		<%= react_component('UniversityCover', render(template: 'schools/show.json.jbuilder', :prerender => true)) %>
	<% end %>
		<div class="container">
			<%= render partial: 'schools/partials/school_data' %>
			<%= render partial: 'schools/partials/follow_list' %>
		</div>
	</div>
	<!-- end profile header -->
	<!-- profile menu -->
	<%= render partial: 'schools/partials/menu' %>
	<!-- end profile menu -->

	<!-- Content 
	================================================== -->
	<div id="content" class="container">
		<div class="row">
			<div class="col-md-4">
				<%= render partial: 'schools/_sidebar/about_school' %>
				<%= render partial: 'schools/_sidebar/top_ideas' %>
			</div>
			<div class="col-md-8">
				<div class="infinite-scroll animated fadeIn">
					<div class="students project-columns infinite-scroll-container">
						<%=  render partial: 'schools/content/students' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End content -->
</div>