<div class="card share post_<%= activity.id %>" data-social="item">
    <div class="circle" data-toggle="tooltip" title="hello" data-container="body"></div>
    <div class="card-header clearfix">
	    <div class="user-pic">
		    <% if activity.user.avatar.present? %>
			    <%= image_tag(activity.user.avatar.url(:avatar), :"data-src" => "#{activity.user.avatar.url(:avatar)}", :"data-src-retina" => "#{activity.user.avatar.url(:square)}", width: "33", height: "33") %>
			    <% else %>
			        <span class="placeholder bold text-white"><%= activity.user.first_name.first + activity.user.last_name.first %>
			        </span>
		    <% end %>
	    </div>

	    <div class="text-master-dark">
	    	<%= link_to(your_name(activity.user, false), profile_path(activity.user), :"data-popover-href" => "#{profile_card_path(activity.user)}", class: 'load-card bold') %> invested <i class="fa fa-fw fa-dollar"></i><%= activity.trackable.amount %> in
			<% if activity.recipient.team.include?(current_user.id.to_s) %>
				your idea
			<% end %>

			<%= link_to(activity.recipient.name, idea_path(activity.recipient), :"data-popover-href" => "#{card_idea_path(activity.recipient)}", class: 'load-card bold') %>
		   	<h6>
		   		<% if activity.user.locations %>
			        <span class="location semi-bold m-r-10">
			            <i class="fa fa-map-marker"></i>
			            <%= activity.user.locations.first %>
			        </span>
		        <% end %>
		       <% if activity.user.markets %>
			        <span class="location semi-bold m-r-10">
			            <i class="fa fa-map-marker"></i>
			            <%= activity.user.markets.first %>
			        </span>
		        <% end %>
		        <span class="date semi-bold">
		            <i class="fa fa-clock"></i>
			        <%= link_to(idea_path(activity.trackable), class: "text-master") do %>
						<%= time_ago_in_words(activity.created_at) %>
					<% end %>
		        </span>
		    </h6>
	    </div>
    </div>
    <div class="card-description">
	    <div class="activity-content">
	     <% if activity.trackable.note.length > 450 %>
		    <%= truncate(markdownify(activity.trackable.note), escape: false, length: 450) %>
		    <%= link_to 'See more', '', class: "read-more-link read-more-#{activity.trackable.id} clearfix" %>
		    <script type="text/javascript">
		      $('.read-more-<%= activity.trackable.id %>').on('click', function(e) {
		        e.preventDefault()
		        $(this).closest(".card-description").find(".activity-content").html('<%= escape_javascript markdownify(activity.trackable.note) %>')
		      })
		    </script>
		  <% else %>
		    <%= markdownify(activity.trackable.note) %>
		  <% end %>
	    </div>
    </div>
    <div class="card-footer clearfix bold">
    <ul class="reactions pull-left">
		<% voted = activity.trackable.voted?(current_user) %>
		<%= react_component('Upvote', {record: activity.trackable_id, voted: voted, vote_url: vote_path(votable_type: activity.trackable_type, votable_id: activity.trackable_id), votes_count: activity.trackable.votes_count, voters_path: voters_path(votable_type: activity.trackable_type, votable_id: activity.trackable_id), css_class: 'vote-button add_vote pull-left'}.to_json) %>
    </ul>
        <div class="clearfix"></div>
    </div>

<% commentable = activity.trackable %>

<% data = render(template: 'comments/comments.json.jbuilder', locals: {comments: [], record: commentable, paginate: false} )%>

<%= react_component('CommentBox', {data: data, comment_channel: "#{activity.trackable_type}-#{activity.trackable_id}-comments", count: activity.trackable.comments_count, comments_path: comments_path(commentable_type: activity.trackable_type, id: activity.trackable_id)}) %>
</div>
