<div class="card share full-width post_<%= activity.id %>">
	<div class="card-header clearfix">
    <div class="user-pic">
      <% if activity.user.avatar_present? %>
        <%= image_tag(activity.user.get_avatar, :"data-src" => "#{activity.user.get_avatar}", :"data-src-retina" => "#{activity.user.get_avatar}", width: "33", height: "33") %>
        <% else %>
            <span class="placeholder bold text-white"><%= activity.user.name_badge %>
            </span>
      <% end %>
    </div>

    <div class="text-master overflow-hidden">
    	<%= link_to(your_name(activity.user, false), profile_path(activity.user), :"data-popover-href" => "#{profile_card_path(activity.user)}", class: 'load-card bold') %> invested <span class="hh-coin fs-14"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span><%= activity.trackable.amount %> in
		<% if activity.recipient.in_team?(current_user) %>
			your idea
		<% end %>

		<%= link_to(activity.recipient.name, idea_path(activity.recipient), :"data-popover-href" => "#{card_idea_path(activity.recipient)}", class: 'load-card bold') %>
	   	<h6 class="no-margin p-t-5">
	      <span class="date semi-bold">
	        <i class="fa fa-clock-o"></i>
	        <%= link_to(idea_path(activity.trackable), class: "text-master") do %>
						<%= local_time_ago(activity.created_at) %>
					<% end %>
	      </span>
	    </h6>
    </div>
		<div class="clearfix"></div>
	</div>

	<div class="card-description no-padding p-l-60 p-r-60">
		<div class="activity-content m-t-10">
			 <% if activity.trackable.message.length > 450 %>
			  <%= truncate(markdownify(activity.trackable.message), escape: false, length: 450) %>
			  <%= link_to 'See more', '', class: "read-more-link read-more-#{activity.trackable.id} clearfix" %>
			  <script type="text/javascript">
			    $('.read-more-<%= activity.trackable.id %>').on('click', function(e) {
			      e.preventDefault()
			      $(this).closest(".card-description").find(".activity-content").html('<%= escape_javascript markdownify(activity.trackable.message) %>')
			    })
			  </script>
			<% else %>
			  <%= markdownify(activity.trackable.message) %>
			<% end %>
		</div>
	</div>
	  <div class="card-footer clearfix bold">
    <ul class="reactions pull-left">
		<%= react_component('Upvote', {voted: voted?(activity.trackable), css_class: 'vote-button add_vote pull-left', button_style: false}.to_json) %>
    </ul>
        <div class="clearfix"></div>
    </div>
  <% commentable = activity.trackable %>

  <% data = render(template: 'comments/comments.json.jbuilder', locals: {comments: [], record: commentable, paginate: false} )%>

  <%= react_component('CommentBox', {data: data, comment_channel: "#{activity.trackable_type}-#{activity.trackable.uuid}-comments", count: activity.trackable.comments_counter.value, comments_path: comments_path(commentable_type: activity.trackable_type, id: activity.trackable.uuid)}) %>
</div>
