<section class="slider-caption">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 hero-text">
        <h2 class="p-t-40 clearfix displayblock">
          Entrepreneurship Reimagined
        </h2>
        <div class="col-sm-8 no-padding">
          <p class="fs-16 text-white m-t-20">
            Hungryhead is a collaborative network for students to share, validate and develop startup ideas with peers and mentors, supported by gamification.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 hero-text">
        <div class="panel panel-transparent">
        <ul class="nav nav-tabs nav-tabs-brand nav-tabs-simple" role="tablist">
          <li class="active">
            <%= meta_events_tracked_link_to('Beta register', '#betaregister', class: "text-white bold no-padding p-r-15 p-b-15 p-t-15", data: {toggle:"tab"}, role: "tab", :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Beta Register Tab' } }) %>
          </li>
          <li>
            <%= meta_events_tracked_link_to('Request invite', '#request_invite', class: "text-white bold", data: {toggle:"tab"}, role: "tab", :meta_event => { :category => :visitor, :event => :page_viewed, :properties => { title: 'Request Invite Tab' } }) %>
          </li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="betaregister">
          <div class="row column-seperation">
          <div class="student-registeration-form col-md-12 col-sm-12 no-padding">
            <%= react_component('Register', {form: {url: autocomplete_school_name_schools_path}}.to_json) %>
          </div>
          </div>
        </div>
        <div class="tab-pane" id="request_invite">
          <div class="row">
             <div id="invite_form_mentor">
              <small class="small-text text-white">
                Don't have an school email? Please submit the form to request an invite.
              </small>
              <%= render partial: 'invite_requests/new_alumni' %>
             </div>
          </div>
        </div>
        </div>
        </div>
        </div>
      </div>

    </div>
  </div>
</section>
<div class="modal fade stick-up" id="addSchoolPopup" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="pg-close"></i>
            </button>
            <h5 class="text-left p-b-5 no-margin"><span class="semi-bold">Submit your</span> request</h5>
            <p class="text-left small">
              We are sorry :( that your school is not present in our database. Hungryhead is currently in beta, and we are inviting people in small groups. If too many people join at once, the Hungryhead servers will melt down. Please enter your details using the form below and we will get it added into our list as soon as we can.
            </p>
          </div>
          <div class="modal-body m-t-20">
              <div class="row">
                <div id="invite_form_student">
                  <%= render partial: 'invite_requests/new_school' %>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
