<p class="fs-16">
  Hungryhead was founded in late 2012, and since then we have been collaborating and developing our idea and platform. It took us a while to get here because, we really wanted to learn about the problem in depth and produce a solution that works from the <strong>"ground-up"</strong>. We believe that we now have something that has potential to change the way entrepreneurship has been pursued worldwide.
</p>
<div class="divider b-b b-green b-md b-small m-t-20 m-b-20"></div>
<div class="values m-t-40 clearfix">
  <h2 class="normal">Our values</h2>
  <h5>
    We founded our platform on certain values, values that are integral to our platform.
  </h5>
  <div>
    <div class="col-md-6 col-sm-6 no-padding <%= browser.mobile? ? '' : 'p-r-15'  %>">
      <h4 class="bold">Collaboration</h4>
      <p class="fs-16 text-master">
        Collaboration is crucial to build something useful, something that really solves the problem.
      </p>
    </div>
    <div class="col-md-6 col-sm-6 no-padding <%= browser.mobile? ? '' : 'p-l-15'  %>">
      <h4 class="bold">Global diversity</h4>
      <p class="fs-16 text-master">
        The world is built from whole, not the part. We co-exist together and together we can solve real problems.
      </p>
    </div>
    <div class="col-md-6 col-sm-6 no-padding <%= browser.mobile? ? '' : 'p-r-15'  %>">
      <h4 class="bold">Trust and Respect</h4>
      <p class="fs-16 text-master">
        For a successful collaboration it's crucial to have trust and respect for each other ideas.
      </p>
    </div>
    <div class="col-md-6 col-sm-6 no-padding <%= browser.mobile? ? '' : 'p-l-15'  %>">
      <h4 class="bold">Sharing</h4>
      <p class="fs-16 text-master">
       Sharing of ideas implies growth because they get bigger and clearer when shared.
      </p>
    </div>
  </div>
</div>
<h5 class="m-t-20">
  Hungryhead was founded by <%= link_to('Gaurav Tiwari', 'https://uk.linkedin.com/pub/gaurav-tiwari/16/b02/b88') %> - a graduate computer science student from Lancaster university.
</h5>