<div class="container-fluid col-md-8 auto-margin">
    <div class="m-t-50" id="rootwizard">
        <ul class=
        "nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
        <li class="active">
                <a data-toggle="tab" href="#tab1"><i class=
                "fa fa-list-ul tab-icon"></i>
                <span>Rules</span>
                </a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#tab2"><i class=
                "fa fa-users tab-icon"></i> <span>Follow Friends</span></a>
            </li>
        </ul>
        <div class="tab-content">
        		<div class="tab-pane padding-20 active slide-left" id="tab1">
        		      <div class="row row-same-height">
     								<div class="col-md-10 auto-margin">
     								    <h2 class="normal p-b-20">Things to know about Hungryhead:</h2>
     								    <div class="divider b-b b-grey b-md b-small"></div>
     								  <div>
	     								  <h3 class="m-t-30">1. Ideas must be created to share with others.</h3>
	     								  <p>
	     								 		We’re a home for everything from films, games, and music to art, design, and technology. Kickstarter is full of projects, big and small, that are brought to life through the direct support of people like you. Since our launch in 2009, <b>8.4 million people </b> have pledged more than <b>$1.7 billion</b>, funding <b>82,000</b> creative projects. Thousands of creative projects are raising funds on Kickstarter right now.
	     								  </p>
     								  </div>
     								  <div>
	     								  <h3 class="m-t-30">2. Ideas must be useful</h3>
	     								  <p>
	     								  	The filmmakers, musicians, artists, and designers you see on Kickstarter have complete control over and responsibility for their projects. Kickstarter is a platform and a resource; we’re not involved in the development of the projects themselves. Anyone can launch a project on Kickstarter as long as it follows our rules.
	     								  </p>
     								  </div>
     								  <div>
	     								  <p class="bold">3. Don't SPAM; Don't be a Jerk</p>
	     								  <p>
	     								  	Project creators set a funding goal and deadline. If people like a project, they can pledge money to make it happen. Funding on Kickstarter is all-or-nothing — projects must reach their funding goals to receive any money. All-or-nothing funding might seem scary, but it’s amazingly effective in creating momentum and rallying people around an idea. To date, an impressive 44% of projects have reached their funding goals.
	     								  </p>
     								  </div>

       								<div class="rule-accept p-t-20">
  	   									<%= simple_form_for(@idea, url: wizard_path, class: 'clearfix', method: :patch) do |f| %>
  												<div class="checkbox check-success">
  												  <%= f.input_field :rules_accepted, as: :boolean, id: 'rules_accepted' %>
  												  <label for="rules_accepted">I understand</label>
  												</div>
  	   									<% end %>
     									</div>
     								</div>

     								<div class="pager wizard m-t-20 clearfix">
     									<%= link_to("<i class='fa fa-arrow-right'></i> Follow friends".html_safe, next_wizard_path, class: 'text-white btn btn-cons btn-green pull-right') %>
     								</div>
        		      </div>
        		  </div>

        		<div class="tab-pane slide-left padding-20" id="tab2">
        		    <h1>
        		        Tab2 you.
        		    </h1>
        		</div>

        </div>
    </div>
</div>

<!-- Content
	================================================== -->
<div id="content">
	<div class="container">

			<% if params[:getting_started] %>
			<div class="post-idea centering-box">
				<%= render 'getting_started' %>
			</div>
			<% else %>
				<div class="post-idea centering-box">
					<div class="profile-wrapper-title">
					<h4><i class="ion-briefcase"></i> <%= current_user.name.split(" ").first %>, post your idea idea</h4>
					</div>

					<div class="write-story-box">
						<%= simple_form_for(@idea, html: {class: "write-story active", id: "publish-your-idea"}) do |f| %>
					<div>
						<div class="row">
							<div class="col-md-8">
								<div class="write-story-cont">
									<ul class="next-steps">
										<li>
											<%= link_to(new_idea_path(getting_started: true)) do %>
												<span>1</span> Getting Started
											<% end %>
										</li>
										<li>
											<%= link_to(new_idea_path, class: "active") do %>
												<span>1</span> Submit your idea</a>
											<% end %>
										</li>
									</ul>

								<div class="idea-basics">
								<div class="col-md-6">
									<div class="form-control-wrapper">
										<label>Name (<i>You can change it later</i>)</label>
										<%= f.input_field :name, label: false, placeholder: "Idea name",class: "form-control empty" %>
									</div>
									<div class="form-control-wrapper">
									<div class="checkbox">
					                    <label>
					                        Looking for a team &nbsp;<input type="checkbox" name="idea[looking_for_team]"><span class="check"></span>
					                    </label>

					                </div>
					                </div>
									 <br/>
									<div  class="form-control-wrapper clearfix">
										<label>Choose market/sector</label>
										<%= f.input_field :market_list, label: false, :placeholder => "Add market", :class => "form-control empty market_list tokenize-typehead", :autofocus => true %>
									</div>

									<div  class="form-control-wrapper clearfix">
										<label>Choose location</label>
										<%= f.input_field :location_list, label: false, :placeholder => "Add location", :class => "form-control empty location_list single-tag", :autofocus => true %>
									</div>
									</div>
									<div class="col-md-6">
										<div  class="form-control-wrapper">
											<label>High concept pitch (<i>in a few words</i>) </label>
											<%= f.input_field :high_concept_pitch, label: false, class: "form-control empty", placeholder: "ex: Facebook for business" %>
										</div>
										<br/>
										<div  class="form-control-wrapper">
											<label>Tell us in detail about your idea (140 characters)</label>
											<%= f.input_field :elevator_pitch, label: false, class: "form-control empty", placeholder: "ex: A social network for everyone, everywhere to connect and share content." %>
										</div>
									</div>
									</div>
									<div class="form-buttons margin-top">
									<%= f.button :button, 'Continue', class: "main-button continue float-right" %>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="side-box">
									<h1>Let's Start With The Easy Stuff</h1>
									<p>Fill in some basic information about your company. Please keep it short and sweet.</p>
									<p><a href="#">Get more tips</a> on making an awesome company profile</p>
								</div>
							</div>
						</div>
					</div>

					<% end %>
					</div>

				</div>
			<% end %>
			</div>
		</div>

	</div>
</div>
<!-- End content -->
