<%= simple_form_for(@organization) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :description, input_html: {class: 'redactor'} %>
  <%= f.input :established %>
  <%= f.input :location %>
  <%= f.input :website %>
  <%= f.file_field :logo %>
  <%= f.file_field :cover %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
