<div class="sidebar auto-height sticky box-shadow bg-solid">
  <div class="user-sidebar padding-20">
    <div class="container-xs-height">
        <div class="row text-center">
            <div class="social-user-profile auto-margin">
                <div class="thumbnail-wrapper d48 circular bordered b-white">
                    <% if current_user.avatar.present? %>
                        <%= image_tag(current_user.avatar.url(:avatar), :"data-src" => "#{current_user.avatar.url(:avatar)}", :"data-src-retina" => "#{current_user.avatar.url(:square)}", width: "55", height: "55") %>
                    <% else %>
                        <span class="placeholder bold text-white" width="32px" height="32px">
                            <%= current_user.user_name_badge %>
                        </span>
                    <% end %>
                </div>

                </div>
                <div class="p-l-10 p-r-10">
                    <h3 class="no-margin text-white">
                        <%= current_user.name %>
                        <% if current_user.verified? %>
                            <i class="fa fa-check-circle text-white fs-16 m-l-10"></i>
                        <% end %>
                    </h3>
                    <p class="no-margin text-white fs-16">
                        <%= current_user.mini_bio %>
                    </p>
                    <p class="text-white m-t-5 small">
                        <%  if current_user.location_list.first %>
                            <span class="b-r b-white b-dashed p-r-5">
                                <%= current_user.location_list.first %>
                            </span>
                        <% end %>
                        <% if current_user.school  %>
                            <span class="p-l-5">
                                <%= current_user.school_name %>
                            </span>
                        <% end %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-white m-t-15 bg-info-dark p-l-20 p-r-20">
        <div class="col-md-4 text-center p-t-10 p-b-10">
            <p class="all-caps no-margin bold small">Views</p>
            <p class="all-caps no-margin bold text-warning "><%= current_user.views_counter.value %></p>
        </div>
        <div class="col-md-4 text-center p-t-10 p-b-10">
            <p class="all-caps no-margin bold small">Followers</p>
            <p class="all-caps no-margin bold text-warning "><%= current_user.followers_counter.value %></p>
        </div>
        <div class="col-md-4 text-center p-t-10 p-b-10">
            <p class="all-caps no-margin bold small">Ideas</p>
            <p class="all-caps no-margin bold text-warning "><%= current_user.ideas_counter %></p>
        </div>
    </div>
    <% if current_user.ideas_counter.value > 0 %>
        <div class="widget-16 text-white panel panel-transparent no-margin widget-loader-circle">
            <div class="panel-heading">
                <div class="panel-title b-b b-white p-b-5">Idea Leaderboard</div>
            </div>
            <% Idea.find(current_user.ideas_ids.revrange(0,2)).each do |idea| %>
                <div class="widget-16-header text-white padding-20">
                    <span class="icon-thumbnail placeholder bg-master-light pull-left text-white"><%= idea.name_badge %></span>
                    <div class="pull-left">
                        <p class="all-caps bold small no-margin overflow-ellipsis "><%= idea.name %></p>
                        <h5 class="small no-margin overflow-ellipsis text-white"><%= idea.high_concept_pitch %></h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="padding-20">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <p class="all-caps bold small no-margin ">Views</p>
                            <p class="all-caps bold  no-margin text-warning "><%= idea.views_counter %></p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="all-caps bold small no-margin ">Raised</p>
                            <p class="all-caps bold  no-margin text-warning "><%= idea.balance %></p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="all-caps bold small no-margin ">Feedbacks</p>
                            <p class="all-caps bold  no-margin text-warning "><%= idea.feedbackers_counter %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
  </div>