<div class="container">
  <div class="col-md-3 col-sm-3 no-padding p-l-15 col-lg-3 col-xlg-3">
    <%= render partial: 'sidebar' %>
  </div>

  <div class="col-md-6">
    <div class="activity-feed auto-height m-t-20">
        <div class="activity-feed-box live">
          <%= render_activities(@activities) %>
        </div>
        <% if @activities.next_page %>
          <div class="pagination-box text-center">
          <%=  link_to 'Load More Activities', root_path(:page => @activities.next_page), :class => 'load-more-posts', remote: true,  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="col-md-3 col-sm-3 no-padding p-r-15">
    <div class="sidebar auto-height sticky white-bg box-shadow">
        <%= react_component('LatestFeed', {user_id: current_user.id, channel_name: "private-user-#{current_user.id}", path: notifications_path}.to_json) %>
        <%= react_component('LatestContent', {path: latest_ideas_path}) %>
    </div>
  </div>
</div>


