<%= cache(["beta", "activities_home", current_user, @activities, User.latest_20.first[:updated_at], @user.ticker.revrange(0, 100).first[:updated_at], Idea.latest_20.first[:updated_at]]) do %>
  <div class="container p-b-60">
    <% unless browser.mobile? %>
      <div class="col-md-3 col-sm-3 visible-md visible-lg no-padding p-l-15 col-lg-3 col-xlg-3">
        <%= render partial: 'sidebar' %>
      </div>
    <% end %>

    <div class="col-md-6 col-sm-8 sm-no-padding">
      <div class="activity-feed auto-height m-t-20">
        <%= cache(["beta", current_user, @activities, params[:page]]) do %>
          <%= render partial: 'activities/activities' %>
        <% end %>
      </div>
      <% if @activities.next_page %>
        <div class="pagination-box text-center padding-10 bg-complete-lighter m-t-20 clearfix box-shadow">
          <%=  link_to 'Load More Activities', root_path(:page => @activities.next_page), :class => 'load-more-posts', remote: true,  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} %>
        </div>
      <% end %>
    </div>

    <% unless browser.mobile? %>
      <div class="col-md-3 col-sm-4 no-padding p-r-15">
        <div class="sidebar auto-height sticky white-bg box-shadow">
        <%= cache(["beta", "home_ticker", @user.ticker.revrange(0, 100).first[:updated_at]]) do %>
          <%= react_component('LatestFeed', {user_id: current_user.uid, path: notifications_path, channel_event: "new_ticker_item"}.to_json) %>
        <% end %>
        <%= cache(["beta", "home_latest_users", User.latest_20.first[:updated_at]]) do %>
          <%= react_component('LatestUsers', {users: Oj.dump({
              list: User.latest_20,
              type: 'Latest People'
            }, mode: :compat)} ) %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


