<div class="user-avatar">
  <%= image_tag(student.avatar.url(:avatar), width: "50px") %>
</div>
<div class="idea-descript">
   <%= content_tag(:h1) do %>
      <%= link_to(user_path(student), class: "border-bottom-dotted") do %>
        <%= student.name %>
      <% end %>
    <% end %>
  <p class="about-me"><%= strip_tags(markdownify(truncate(student.about_me, length: 100))) %> </p>
  <ul class="student-achievement-list">
    <li><i class="icon-clock3"></i> Joined <%= time_ago_in_words(student.created_at) %> ago
    </li>
  <li><i class="ion-lightbulb"></i> <%= pluralize(student.investments_count, 'Idea') %>  funded</li>

  <li><i class="fa fa-users"></i> <%= pluralize(student.followers(User).length, 'Follower') %> </li>
</ul>
 
</div>