<div class="container edit-profile-mode">
<%= simple_form_for(@meta, url: update_meta_path(@meta), :method => :put, remote: true, :html => {:id => "edit-profile-form"}) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <h3>Update meta details</h3>
      
      <div class="-wrapper">
        <label htmlFor="email">High concept Pitch</label>
        <%= f.input_field :high_concept_pitch, placeholder: "Add a high concept pitch", class: "form-control empty" %>
      </div>

      <div class="form-control-wrapper">
        <label htmlFor="email">Elevator Pitch</label>
        <%= f.input_field :elevator_pitch,  placeholder: "Add a elevator pitch", class: "form-control empty" %>
      </div>

      </div>

      <div class="col-md-6">
        <h3>Update meta details</h3>
      
        <div  class="form-control-wrapper">
          <label htmlFor="email">Website</label>
          <%= f.input_field :website, placeholder: "Idea website", class: "form-control empty" , label: false%>
        </div>

        <div  class="form-control-wrapper">
          <label htmlFor="locations">Market</label>
          <%= f.input_field :market_list, label: false, value: "#{@meta.market_list}", :placeholder => "Add markets", :"data-context" => "markets", :class => "market_list tokenize-typehead", :autofocus => true %>
          
        </div>
       
        <div class="form-control-wrapper">
          <label htmlFor="email">Location</label>
          <%= f.input_field :location_list,  value: "#{@meta.cached_location_list}", class: "location_list tokenize-typehead",  :placeholder => "Add locations", label: false %>
        </div>
      </div>


    </div>

  <div class="button-forms">
    <%= f.button :button, "Save", :class => "main-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>
    or
    <a class="for-cancel" href="#" onclick="return false;">
      Cancel</a>
  </div>
<% end %>
</div>
