<!DOCTYPE html>
<html lang="en">
  <head>
    <%= metamagic site: "HungryHead", title: [:title, :site], separator: " | ", description: "Hungrhead is a platform for students to share, collaborate and validated startup ideas with peers. ", keywords: %w(entrepreneurship startup idea students schools colleges universities) %>

    <% if ActionController::Base.asset_host %>
      <link rel="dns-prefetch" href="//<%= ActionController::Base.asset_host %>" />
    <% end %>

    <meta content="hungryhead team" name="author" />

    <%= favicon_link_tag 'favicon.ico' %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <% if Rails.env.production? %>
      <!-- start Mixpanel -->
      <script type="text/javascript">
        (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
        mixpanel.init("<%= ENV['MIXPANEL_API_KEY'] %>");
      </script>
      <!-- end Mixpanel -->
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!--[if lte IE 9]>
      <%= stylesheet_link_tag 'core/css/ie9',  media: 'all' %>
    <![endif]-->

    <script type="text/javascript">
      window.onload = function() {
        // fix for windows 8
        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
          document.head.innerHTML += '<%= stylesheet_link_tag 'core/css/windows.chrome.fix' %>'
      }
    </script>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>

  <body class="fixed-header">
    <div class="page-container">
      <%= render partial: 'globals/page_nav_mobile' %>
      <div class="page-content-wrapper">
        <div class="content">
          <%= yield %>
        </div>
        <%= render partial: 'globals/footer' %>
      </div>
    </div>
    <div id="RAILS_ENV_CONSTANT" style="display:none"><%= Rails.env %></div>
  </body>

</html>
