<!DOCTYPE html>
<html lang="en">
  <head>
    <%= metamagic site: "HungryHead", title: [:title, :site], separator: " — ",  description: "Hungrhead is a platform for students to share, collaborate and validated startup ideas with peers. ", keywords: %w(entrepreneurship startup idea students schools colleges universities) %>

    <% if ActionController::Base.asset_host %>
      <link rel="dns-prefetch" href="//<%= ActionController::Base.asset_host %>" />
    <% end %>

    <meta content="hungryhead team" name="author" />

    <%= favicon_link_tag 'favicon.ico' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <% cache_if(user_signed_in?, current_user) do %>
      <%= render partial: 'shared/current_user' if user_signed_in? %>
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <!--[if lte IE 9]>
      <%= stylesheet_link_tag 'core/css/ie9',  media: 'all', 'data-turbolinks-track' => true %>
    <![endif]-->

    <script type="text/javascript" data-turbolinks-eval=false>
      window.onload = function() {
        // fix for windows 8
        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
          document.head.innerHTML += '<%= stylesheet_link_tag 'core/css/windows.chrome.fix' %>'
      }
    </script>

    <%= csrf_meta_tags %>

    <%= yield :head %>

  </head>

  <body class="<%= 'absolute-header no-header' if params[:controller] == 'pages' %>  menu-behind  <%= controller_name %> <%= action_name %>">
  <div class="page-container">
    <% if user_signed_in? %>
      <%= render partial: 'globals/nav', locals: {bg: 'bg-white'}  %>
    <% else %>
      <%= render partial: 'globals/guest_nav' %>
    <% end %>
    <div class="page-content-wrapper">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </div>

  </body>

</html>
