<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="imagetoolbar" content="no" />
    <![endif]-->

    <%= metamagic site: "HungryHead", title: [:title, :site], separator: " | ",  description: "Hungrhead is a platform for students to share, collaborate and validated startup ideas with peers. ", keywords: %w(entrepreneurship startup idea students schools colleges universities) %>

    <% if ActionController::Base.asset_host %>
      <link rel="dns-prefetch" href="//<%= ActionController::Base.asset_host %>" />
    <% end %>

    <meta content="hungryhead team" name="author" />
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <% cache_if(user_signed_in?, current_user) do %>
      <%= render partial: 'shared/current_user' if user_signed_in? %>
    <% end %>

    <%= javascript_include_tag 'application' %>

    <% unless browser.ie? || browser.ie?([">10"])   %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    <% end %>

    <% if browser.ie?(["<=9"]) %>
      <%= stylesheet_link_tag 'application_1', media: 'all' %>
      <%= stylesheet_link_tag 'application_2', media: 'all' %>
      <%= stylesheet_link_tag 'application_3', media: 'all' %>
      <%= stylesheet_link_tag 'application_4', media: 'all' %>
      <%= stylesheet_link_tag 'core/css/ie9',  media: 'all' %>
    <% end %>

    <script type="text/javascript">
      window.onload = function() {
        // fix for windows 8
        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
          document.head.innerHTML += '<%= stylesheet_link_tag 'core/css/windows.chrome.fix' %>'
      }
    </script>

    <%= csrf_meta_tags %>
    <%= yield :head %>

  </head>

  <body class="<%= user_signed_in? && params[:controller] != 'pages' ? 'fixed-header' : '' %> menu-behind <%= 'absolute-header no-header' if params[:controller] == 'pages' %> <%= controller_name %> <%= action_name %>">

    <% if browser.ie?(9) %>
      <%= render partial: 'globals/outdated_browser' %>
    <% end %>

    <div class="page-container">
      <% if user_signed_in? %>
        <%= render partial: 'globals/nav', locals: {bg: 'bg-white'}  %>
      <% else %>
        <%= render partial: 'globals/guest_nav' %>
      <% end %>

      <div class="page-content-wrapper">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/flash_notification' %>
    <% if Rails.env.production? %>
      <%= render partial: 'shared/track_links' %>
    <% end %>
  </body>
</html>
