<!DOCTYPE html>
<html lang="en">
  <head>
    <%= metamagic site: "HungryHead", title: [:title, :site], separator: " | ",  description: "Hungrhead is a platform for students to share, collaborate and validated startup ideas with peers. ", keywords: %w(entrepreneurship startup idea students schools colleges universities) %>

    <% if ActionController::Base.asset_host %>
      <link rel="dns-prefetch" href="//<%= ActionController::Base.asset_host %>" />
    <% end %>

    <%= favicon_link_tag 'favicon.ico' %>

    <meta content="hungryhead team" name="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <% cache_if(user_signed_in?, current_user) do %>
      <%= render partial: 'shared/current_user' if user_signed_in? %>
    <% end %>

    <% cache_if(idea_collaboration?, [current_user, @idea]) do %>
      <% if idea_collaboration? %>
        <script type="text/javascript">
          idea = {
            name: "<%= @idea.name %>",
            slug: "<%= @idea.slug %>",
            id: "<%= @idea.uuid %>"
          }
          window.idea = idea;
        </script>
      <% end %>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!--[if lte IE 9]>
      <%= stylesheet_link_tag 'core/css/ie9',  media: 'all' %>
    <![endif]-->

    <script type="text/javascript">
      window.onload = function() {
        // fix for windows 8
        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
          document.head.innerHTML += '<%= stylesheet_link_tag 'core/css/windows.chrome.fix' %>'
      }
    </script>

    <%= csrf_meta_tags %>
    <%= yield :head %>

  </head>

  <body class="fixed-header menu-behind <%= controller_name %> <%= action_name %>">
    <%= render partial: 'globals/app_sidebar' %>
   <div class="page-container">
      <%= render partial: 'globals/page_nav_mobile' %>

      <div class="page-content-wrapper">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
