<!DOCTYPE html>
<html>
  <head>
    <title>Hungryhead - An idea simulation platform</title>
    <%= favicon_link_tag 'favicon.ico' %>

    <meta content="An idea simulation platform" name="description" />
    <meta content="hungryhead" name="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <!--[if lte IE 9]>
      <%= stylesheet_link_tag 'core/css/ie9',  media: 'all', 'data-turbolinks-track' => true %>
    <![endif]-->

    <script type="text/javascript" data-turbolinks-eval=false>
      window.onload = function() {
        // fix for windows 8
        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
          document.head.innerHTML += '<%= stylesheet_link_tag 'core/css/windows.chrome.fix' %>'
      }
    </script>

    <% if user_signed_in? %>
      <%= javascript_tag 'data-turbolinks-eval' => false do %>
          var pusher = new Pusher("<%= ENV['PUSHER_APP_KEY'] %>");
          var channel = pusher.subscribe("presence-user-<%= current_user.uid %>");
          var public_channel = pusher.subscribe("public-notifications");
          if(channel) {
          channel.bind('new_badge', function(data) {
           channel.bind('new_badge', function(data) {
              $('body').pgNotification({style: "simple", message: data.message, position: "top-right", type: "success",timeout: 5000}).show();
            });
          });
          channel.bind('new_notification', function(data){

            $('body').pgNotification({style: "simple", message: data.data.msg, position: "top-right", type: "success",timeout: 5000}).show();
          });
        }
      <% end %>
    <% end %>

    <%= csrf_meta_tags %>

    <% if user_signed_in? %>
      <%= render partial: 'shared/current_user' %>
    <% end %>

    <%= yield :head %>

  </head>

  <body class="fixed-header <%= user_signed_in? ? 'menu-behind' : 'no-header menu-behind' %>">

    <div class="<%= user_signed_in? ? 'page-container' : 'page-container' %>">
      <% if user_signed_in? %>
        <%= render partial: 'globals/nav', locals: {bg: 'bg-white'}  %>
      <% else %>
       <%= render partial: 'globals/guest_nav' %>
      <% end %>

      <div class="page-content-wrapper">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
  <% if user_signed_in? && policy(@idea).collaborator? %>
    <div class="idea-collaboration-floating-panel">
      <%= render 'collaboration' %>
    </div>
  <% end %>

</html>
