<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="imagetoolbar" content="no" />
    <![endif]-->
    <%= metamagic site: "HungryHead", title: [:title, :site], separator: " | ",  description: "Hungrhead is a platform for students to share, collaborate and validated startup ideas with peers. ", keywords: %w(entrepreneurship startup idea students schools colleges universities) %>

    <% if ActionController::Base.asset_host %>
     <link rel="dns-prefetch" href="//<%= ActionController::Base.asset_host %>" />
    <% end %>

    <%= favicon_link_tag 'favicon.ico' %>

    <meta content="hungryhead team" name="author" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <% if Rails.env.production? %>
      <%= render partial: 'shared/mixpanel' %>
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!--[if !IE]><!-->
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <!--<![endif]-->

    <!--[if IE 9]>
      <%= stylesheet_link_tag 'application_1', media: 'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag 'application_2', media: 'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag 'application_3', media: 'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag 'application_4', media: 'all', 'data-turbolinks-track' => true %>
    <![endif]-->

    <!--[if lte IE 9]>
      <%= stylesheet_link_tag 'core/css/ie9',  media: 'all', 'data-turbolinks-track' => true %>
    <![endif]-->

    <script type="text/javascript" data-turbolinks-eval=false>
      window.onload = function() {
        // fix for windows 8
        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
          document.head.innerHTML += '<%= stylesheet_link_tag 'core/css/windows.chrome.fix' %>'
      }
    </script>

    <%= csrf_meta_tags %>
    <%= yield :head %>

  </head>

  <body class="fixed-header menu-behind <%= user_signed_in? ? '' : 'no-header' %> <%= controller_name %> <%= action_name %>">
    <% if browser.mobile? %>
      <%= render partial: 'globals/app_sidebar' %>
    <% end %>
    <div class="page-container">
      <% if user_signed_in? && !browser.mobile? %>
        <%= render partial: 'globals/nav', locals: {bg: 'bg-white'}  %>
      <% else %>
        <% if user_signed_in? && browser.mobile? || browser.mobile? %>
          <%= render partial: 'globals/page_nav_mobile' %>
        <% else %>
          <%= render partial: 'globals/guest_nav' %>
        <% end %>
      <% end %>

      <% if user_signed_in? %>
        <div class="page-content-wrapper">
          <div class="content">
            <%= yield %>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
    <%= render partial: 'shared/flash_notification' %>
    <% if Rails.env.production? %>
      <%= render partial: 'shared/track_links' %>
    <% end %>
  </body>

</html>
