<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="imagetoolbar" content="no" />
    <![endif]-->
    <%= metamagic site: "HungryHead", title: [:title, :site], separator: " | ",  description: "Hungrhead is a platform for students to share, collaborate and validated startup ideas with peers. ", keywords: %w(entrepreneurship startup idea students schools colleges universities) %>

    <% if ActionController::Base.asset_host %>
      <link rel="dns-prefetch" href="//<%= ActionController::Base.asset_host %>" />
    <% end %>

    <%= favicon_link_tag 'favicon.ico' %>

    <meta content="hungryhead team" name="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <% cache_if(user_signed_in?, current_user) do %>
      <%= render partial: 'shared/current_user' if user_signed_in? %>
    <% end %>

    <% if Rails.env.production? %>
      <!-- start Mixpanel -->
      <script type="text/javascript" data-turbolinks-eval=false>
        (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
        mixpanel.init("<%= ENV['MIXPANEL_API_KEY'] %>");
      </script>
      <!-- end Mixpanel -->
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!--[if !IE]><!-->
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <!--<![endif]-->

    <!--[if IE 9]>
      <%= stylesheet_link_tag 'application_1', media: 'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag 'application_2', media: 'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag 'application_3', media: 'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag 'application_4', media: 'all', 'data-turbolinks-track' => true %>
    <![endif]-->

    <!--[if lte IE 9]>
      <%= stylesheet_link_tag 'core/css/ie9',  media: 'all', 'data-turbolinks-track' => true %>
    <![endif]-->

    <script type="text/javascript" data-turbolinks-eval=false>
      window.onload = function() {
        // fix for windows 8
        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
          document.head.innerHTML += '<%= stylesheet_link_tag 'core/css/windows.chrome.fix' %>'
      }
    </script>

    <%= csrf_meta_tags %>
    <%= yield :head %>

  </head>

  <body class="fixed-header menu-behind <%= controller_name %> <%= action_name %>">
    <div class="page-container">
      <%= render partial: 'globals/nav', locals: {bg: 'bg-white'} %>
      <div class="page-content-wrapper">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>

    <% if Rails.env.production? %>
      <script type='text/javascript' data-turbolinks-eval=false>
        $(document).ready(function() {
          MetaEvents.forAllTrackableElements(document, function(id, element, eventName, properties) {
            mixpanel.track_links("#" + id, eventName, properties);
          });
        });
      </script>
    <% end %>

  </body>

</html>
