<!DOCTYPE html>
<html>
  <head>
    <title>HungryheadApp</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery2', 'data-turbolinks-track' => true %>
    <% if user_signed_in? %>
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
    <%= javascript_tag do %>
        var pusher = new Pusher("<%= ENV['PUSHER_APP_KEY'] %>");
        var channel = pusher.subscribe("private-user-<%= current_user.id %>");
        var public_channel = pusher.subscribe("public-notifications");
        if(channel) {
          channel.bind('new_badge', function(data) {
            var options =  {
            content: "You have earned a "+data.data.custom_fields.name+" badge " + "<img src=" + data.data.custom_fields.image + " width='30px' />",
            style: "snackbar", 
            timeout: 10000 
            }
            $.snackbar(options);
          });
        }
    <% end %>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render partial: 'shared/current_user' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <!-- Container
      ================================================== -->
    <div id="container">
      <!-- Header
================================================== -->
      <% cache ['global_menu', @user] do %>
        <header class="clearfix">
          <%= render 'globals/menu'%>
        </header>
      <% end %>
      <!-- End Header -->
      <%= yield %>

      <% if !user_signed_in? %>
        <%= render 'globals/footer' %>
      <% end %>

    </div>
    <!-- End Container -->
   <div id="conversation-chat-box"></div>
    <%= javascript_tag do %>
      window.flashMessages = $.parseJSON('<%=j flash.to_hash.to_json.html_safe %>');
    <% end %>

    <% if user_signed_in? %>
      <script type="text/javascript">
        channel.bind('new_notification', function(data){
          var options =  {
            content: ""+data.data.msg+"",
            style: "snackbar", 
            timeout: 10000 
          }
          $.snackbar(options);
        });
      </script>
    <% end %>

  </body>
</html>
